doctype html
html(lang='en')
    - var pageId = "";
    block vars
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        title Ottemo
        script(type='text/javascript').
            var _sf_startpt=(new Date()).getTime()
        link(rel="shortcut icon", type="image/png", href="/img/favicon.ico")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/owl.carousel.css')
        link(rel='stylesheet', href='/css/owl.transitions.css')
        link(rel='stylesheet', href='/css/style.css')
        block extraStyles
    body(id='#{pageId}')

        .mobile-navigation
            ul.mobile-menu
                li.active
                    a(href='/').item Home
                li.dropdown
                    span.item Products
                    ul
                        li
                            a(href='/why-ottemo').item Why Ottemo
                        li
                            a(href='/platform-overview').item Platform Overview
                        li
                            a(href='/ottemo-commerce-cloud').item Ottemo Commerce Cloud
                        li.nav-item
                            a(href='/pro-services').item Services
                li.dropdown
                    span.item Partners
                    ul
                        li
                            a(href='/partners').item Our Partners
                        li
                            a(href='/contact').item Become a Partner
                li
                    a(href='http://blog.ottemo.io').item Blog
                li
                    a(href='/clients').item Clients
                li
                    a(href='/company').item Company
                li.box-bottom


        .body-wrapper
            header#header.header
                .container
                    .hamburger-menu-btn
                        a#hamburger-menu-btn(href="#")
                            i.menu-icon.fa.fa-bars(aria-hidden='true')
                    .logo
                        a(href='/')
                            img(src='/img/ottemo-logo.svg', alt='Ottemo logo')
                    nav.navigation
                        ul
                            li.nav-item
                                span Products >
                                ul.submenu
                                    li.nav-item
                                        a(href='/why-ottemo') Why Ottemo
                                    li.nav-item
                                        a(href='/platform-overview') Platform Overview
                                    li.nav-item
                                        a(href='/ottemo-commerce-cloud') Ottemo Cloud Commerce
                                    li.nav-item
                                        a(href='/pro-services') Services
                            li.nav-item
                                span Partners >
                                ul.submenu
                                    li.nav-item
                                        a(href='/partners') Our Partners
                                    li.nav-item
                                        a(href='/contact') Become a Partner
                            li.nav-item
                                a(href='http://blog.ottemo.io') Blog
                            li.nav-item
                                a(href='/clients') Clients
                            li.nav-item
                                a(href='/company') Company
                    .action-button
                        a.button.button-small.inverted(href='/contact') Contact Us
            block subnav
            block content
            footer.footer
                .container
                    .links.clearfix
                        .col
                            .category-link.expandable Products
                            ul.subcategory-links
                                li
                                    a(href='/why-ottemo') Why Ottemo
                                li
                                    a(href='/platform-overview') Platform Overview
                                li
                                    a(href='/ottemo-commerce-cloud') Ottemo Commerce Cloud
                                li
                                    a(href='/pro-services') Services
                                li
                                    a(href='#') Partner's
                        .col
                            .category-link.expandable Partners
                            ul.subcategory-links
                                li
                                    a(href='/partners') Our Partners
                        .col
                            .category-link.expandable Clients
                            ul.subcategory-links
                                li
                                    a(href='/clients') Client Stories
                        .col
                            .category-link.expandable Company
                            ul.subcategory-links
                                li
                                    a(href='/company') About Us
                                li
                                    a(href='/company') Leadership Team
                                li
                                    a(href='/company') Careers
                                li
                                    a(href='/terms-of-service') Terms of Service
                        .col
                            .category-link.expandable Resources
                            ul.subcategory-links
                                li
                                    a(href='http://blog.ottemo.io') Ottemo Blog


                    .bottom-block.clearfix
                        .copyright
                            ul.l-inline-list
                                li
                                    img.footer-logo(src='/img/ottemo-logo-white.svg', alt='')
                                li 2017. All rights reserved.
                                li
                                    a(href='/privacy-policy') Privacy Policy
                        .sm-icons
                            ul.l-inline-list
                                li
                                    a(href='https://www.facebook.com/getottemo' target="_blank")
                                        i.fa.fa-facebook(aria-hidden='true')
                                li
                                    a(href='https://twitter.com/getottemo' target="_blank")
                                        i.fa.fa-twitter(aria-hidden='true')
                                li
                                    a(href='https://www.linkedin.com/company/ottemo-inc' target="_blank")
                                        i.fa.fa-linkedin(aria-hidden='true')
        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/owl.carousel.min.js')
        script(src='/js/main.js')
        block extraScripts
            script(type='text/javascript').
                var _sf_async_config = { uid: 65616, domain: 'ottemo.io', useCanonical: true };
                    (function() {
                        function loadChartbeat() {
                            window._sf_endpt = (new Date()).getTime();
                            var e = document.createElement('script');
                            e.setAttribute('language', 'javascript');
                            e.setAttribute('type', 'text/javascript');
                            e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
                            document.body.appendChild(e);
                        };
                        var oldonload = window.onload;
                        window.onload = (typeof window.onload != 'function') ?
                        loadChartbeat : function() { oldonload(); loadChartbeat(); };
                })();

