doctype html
html(lang='en')
    - var pageId = "";
    block vars
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        title Ottemo
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/owl.carousel.css')
        link(rel='stylesheet', href='/css/owl.transitions.css')
        link(rel='stylesheet', href='/css/style.css')
        block extraStyles
    body(id='#{pageId}')

        .mobile-navigation
            ul.mobile-menu
                li.active
                    a(href='/').item Home
                li
                    a(href='/why-ottemo.html') Why Ottemo
                li.dropdown
                    span.item Products
                    ul
                        li
                            a(href='/platform-overview.html').item Platform Overview
                        li
                            a(href='/ottemo-commerce-cloud.html').item Ottemo Commerce Cloud
                        li.nav-item
                            a(href='/pro-services.html').item Services
                li
                    a(href='/clients.html').item Clients
                li
                    a(href='http://blog.ottemo.io').item Blog
                li
                    a(href='/company.html').item Company

        .body-wrapper
            header#header.header
                .container
                    .hamburger-menu-btn
                        a#hamburger-menu-btn(href="#")
                            i.menu-icon.fa.fa-bars(aria-hidden='true')
                    .logo
                        a(href='/')
                            img(src='/img/ottemo-logo.svg', alt='Ottemo logo')
                    nav.navigation
                        ul
                            li.nav-item
                                a(href='/why-ottemo.html') Why Ottemo
                            li.nav-item
                                span Products >
                                ul.submenu
                                    li.nav-item
                                        a(href='/platform-overview.html') Platform Overview
                                    li.nav-item
                                        a(href='/ottemo-commerce-cloud.html') Ottemo Commerce Cloud
                                    li.nav-item
                                        a(href='/pro-services.html') Services
                            li.nav-item
                                a(href='/clients.html') Clients
                            li.nav-item
                                a(href='#') Resources >
                                ul.submenu
                                    li.nav-item
                                        a(href='http://blog.ottemo.io') Blog
                            li.nav-item
                                a(href='/company.html') Company
                    .action-button
                        a.button.button-small(href='/contact.html') Contact Us
            block subnav
            block content
            footer.footer
                .container
                    .links.clearfix
                        .col
                            .category-link.expandable Products
                            ul.subcategory-links
                                li
                                    a(href='/why-ottemo.html') Why Ottemo
                                li
                                    a(href='/platform-overview.html') Platform Overview
                                li
                                    a(href='/ottemo-commerce-cloud.html') Ottemo Commerce Cloud
                                li
                                    a(href='/pro-services.html') Services
                                li
                                    a(href='#') Partner's
                        .col
                            .category-link.expandable Clients
                            ul.subcategory-links
                                li
                                    a(href='/clients.html') Client Stories
                                li
                                    a(href='/case-studies/karigran.html') KariGran
                                li
                                    a(href='/case-studies/poconovapes.html') Pocono Vapes
                        .col
                            .category-link.expandable Company
                            ul.subcategory-links
                                li
                                    a(href='/company.html') About Us
                                li
                                    a(href='/company.html') Leadership Team
                                li
                                    a(href='/company.html') Careers
                                li
                                    a(href='/pro-services.html') Terms of Service
                                li
                                    a(href='#') Privacy Policy
                        .col
                            .category-link.expandable Resources
                            ul.subcategory-links
                                li
                                    a(href='http://blog.ottemo.io') Ottemo Blog
                        .col
                            .category-link.expandable Ottemo Sales
                            ul.subcategory-links
                                li
                                    a(href='mailto:info@ottemo.io') info@ottemo.io

                    .bottom-block.clearfix
                        .copyright
                            ul.l-inline-list
                                li
                                    img.footer-logo(src='/img/ottemo-logo-white.svg', alt='')
                                li 2017. All rights reserved.
                                li
                                    a(href='#') Privacy Policy
                        .sm-icons
                            ul.l-inline-list
                                li
                                    a(href='https://www.facebook.com/getottemo' target="_blank")
                                        i.fa.fa-facebook(aria-hidden='true')
                                li
                                    a(href='https://twitter.com/getottemo' target="_blank")
                                        i.fa.fa-twitter(aria-hidden='true')
                                li
                                    a(href='https://www.linkedin.com/company/ottemo-inc' target="_blank")
                                        i.fa.fa-linkedin(aria-hidden='true')
        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/bootstrap.min.js')
        script(src="/js/masonry.pkgd.min.js")
        script(src='/js/owl.carousel.min.js')
        script(src='/js/main.js')
