doctype html
html(lang='en')
    - var pageId = "";
    block vars
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        title Ottemo
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/owl.carousel.css')
        link(rel='stylesheet', href='/css/owl.transitions.css')
        link(rel='stylesheet', href='/css/style.css')
        block extraStyles
    body(id='#{pageId}')

        .mobile-navigation
            ul.mobile-menu
                li.active
                    a(href='/').item Home
                li
                    a(href='/why-ottemo.html') Why Ottemo?
                li.dropdown
                    span.item Products
                    ul
                        li
                            a(href='/platform-overview.html').item Platform Overview
                        li
                            a(href='/ottemo-commerce-cloud.html').item Ottemo Commerce Cloud
                        li.nav-item
                            a(href='/pro-services.html').item Services
                li
                    a(href='/clients.html').item Clients
                li
                    a(href='/blog.html').item Blog
                li
                    a(href='/company.html').item Company

        .body-wrapper
            header#header.header
                .container
                    .hamburger-menu-btn
                        a#hamburger-menu-btn(href="#")
                            i.menu-icon.fa.fa-bars(aria-hidden='true')
                    .logo
                        a(href='/')
                            img(src='/img/ottemo-logo.svg', alt='Ottemo logo')
                    nav.navigation
                        ul
                            li.nav-item
                                a(href='/why-ottemo.html') Why Ottemo?
                            li.nav-item
                                a(href='#') Products >
                                ul.submenu
                                    li.nav-item
                                        a(href='/platform-overview.html') Platform Overview
                                    li.nav-item
                                        a(href='/ottemo-commerce-cloud.html') Ottemo Commerce Cloud
                                    li.nav-item
                                        a(href='/pro-services.html') Services
                            li.nav-item
                                a(href='/clients.html') Clients
                            li.nav-item
                                a(href='/blog.html') Blog
                            li.nav-item
                                a(href='/company.html') Company
                    .action-button
                        a.button.button-small(href='/contact.html') Contact Us
            block subnav
            block content
            footer.footer
                .container
                    .links.clearfix
                        .category-group.col.col-md-3
                            .category-link.expandable Platform
                            ul.subcategory-links
                                li
                                    a(href='/platform-overview.html') Platform Overview
                                li
                                    a(href='/ottemo-commerce-cloud.html') Ottemo Commerce Cloud
                                li
                                    a(href='/why-ottemo.html') Why Ottemo
                        .category-group.col.col-md-3
                            .category-link.expandable Customers
                            ul.subcategory-links
                                li
                                    a(href='/clients.html') Case Studies
                                li
                                    a(href='/clients.html') Customer stories
                        .category-group.col.col-md-3
                            .category-link.expandable Company
                            ul.subcategory-links
                                li
                                    a(href='/company.html') Our Team
                                li
                                    a(href='/contact.html') Contact Us
                        .category-group.col.col-md-3
                            .category-link.expandable Blog
                            ul.subcategory-links
                                li
                                    a(href='http://blog.ottemo.io') Ottemo Blog

                    .bottom-block.clearfix
                        .copyright
                            ul.l-inline-list
                                li
                                    img.footer-logo(src='/img/ottemo-logo-white.svg', alt='')
                                li 2016. All rights reserved.
                                li
                                    a(href='#') Privacy Policy
                        .sm-icons
                            ul.l-inline-list
                                li
                                    a(href='#')
                                        i.fa.fa-envelope(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-github(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-facebook(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-linkedin(aria-hidden='true')
                                li
                                    a(href='#')
                                        i.fa.fa-lightbulb-o(aria-hidden='true')
        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/bootstrap.min.js')
        script(src="/js/masonry.pkgd.min.js")
        script(src='/js/owl.carousel.min.js')
        script(src='/js/main.js')
