extends ../include/template
block content
    .container
        .navigation-sidebar.col-md-2
            nav
                ul
                    li.nav-item.active
                        a(href='/features.html') Payments
                    li.nav-item
                        a(href='/features/operations.html').active Operations
                    li.nav-item
                        a(href='/features/design.html') Design
                    li.nav-item
                        a(href='/features/marketing.html') Marketing
                    li.nav-item
                        a(href='/features/infrastructure.html') Infrastructure
                    li.nav-item
                        a(href='/features/subscriptions.html') Subscriptions
        .features-page-content.col-md-10
            section.section-order-management
                h1.section-header Order management
                .row
                    .text-content.col-md-6
                        h2.section-header-l2.tab-icon Easily organize and manage your orders with our email inbox style order management tool
                        p.main-text.accent
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet. Cras egestas rhoncus mi eu tincidunt. Phasellus pretium suscipit imperdiet. Quisque cursus pellentesque efficitur. Suspendisse mollis elementum neque fringilla feugiat. Etiam quis volutpat nunc, ut condimentum sapien.

                    .text-content.col-md-6
                        h2.section-header-l2.tab-icon Edit, create and fulfill orders from Dashboard
                        p.main-text.accent
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet. Cras egestas rhoncus mi eu tincidunt. Phasellus pretium suscipit imperdiet. Quisque cursus pellentesque efficitur. Suspendisse mollis elementum neque fringilla feugiat. Etiam quis volutpat nunc, ut condimentum sapien.
                .row
                    .text-content.col-md-6
                        h2.section-header-l2.tab-icon Print invoices, packing slips and shipping labels
                        p.main-text.accent
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet. Cras egestas rhoncus mi eu tincidunt. Phasellus pretium suscipit imperdiet. Quisque cursus pellentesque efficitur. Suspendisse mollis elementum neque fringilla feugiat. Etiam quis volutpat nunc, ut condimentum sapien.
            section
                h1.section-header Top payment gateways
                .row
                    .text-content.col-lg-12
                        h2.section-header-l2.tab-icon Collecting payments online is a breeze
                        p.main-text.accent
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet. Cras egestas rhoncus mi eu tincidunt. Phasellus pretium suscipit imperdiet. Quisque cursus pellentesque efficitur. Suspendisse mollis elementum neque fringilla feugiat. Etiam quis volutpat nunc, ut condimentum sapien.
            section
                h1.section-header Shipping tools
                .row
                    .text-content.col-md-6
                        h2.section-header-l2.tab-icon Ship like a pro with carriers like USPS & FedEx
                        p.main-text.accent
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet. Cras egestas rhoncus mi eu tincidunt. Phasellus pretium suscipit imperdiet. Quisque cursus pellentesque efficitur. Suspendisse mollis elementum neque fringilla feugiat. Etiam quis volutpat nunc, ut condimentum sapien.
                    .text-content.col-md-6
                        h2.section-header-l2.tab-icon Import, manage and ship orders with Shipstation
                        p.main-text.accent
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet. Cras egestas rhoncus mi eu tincidunt. Phasellus pretium suscipit imperdiet. Quisque cursus pellentesque efficitur. Suspendisse mollis elementum neque fringilla feugiat. Etiam quis volutpat nunc, ut condimentum sapien.
            section
                h1.section-header Customer accounts
                .row
                    .text-content.col-md-6
                        h2.section-header-l2.tab-icon Customers can sign up for accounts and store payment and shipping info for easy checkout
                        p.main-text.accent
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet. Cras egestas rhoncus mi eu tincidunt. Phasellus pretium suscipit imperdiet. Quisque cursus pellentesque efficitur. Suspendisse mollis elementum neque fringilla feugiat. Etiam quis volutpat nunc, ut condimentum sapien.
                    .text-content.col-md-6
                        h2.section-header-l2.tab-icon Order status and order history
                        p.main-text.accent
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet. Cras egestas rhoncus mi eu tincidunt. Phasellus pretium suscipit imperdiet. Quisque cursus pellentesque efficitur. Suspendisse mollis elementum neque fringilla feugiat. Etiam quis volutpat nunc, ut condimentum sapien.


