//
   Created by Evgeniy on 02.02.2017.

extends ../include/template
block vars
    - var pageId = 'single-client-page';
block content
    .client-top-image
        .wrapper.karigran-bg
            .inner
                .container
                    .client-logo
                        img(src="../img/logos/karigran-white.png" alt="Kari Gran Logo")
                    h1.client-name KariGran
                    p.client-description Kari Gran opted for the most forward-thinking cloud commerce platform in the market

    .block.article.customer-profile
        .container
            .col-md-6.client-site
                img(src="../img/kg-MacBook.png" alt="Kari Gran site")
            .col-md-6
                h1.section-header.l-text-align.center Customer profile
                p.main-text
                    | Karigran was founded in 2010 and quickly grew into a nationally recognized skin care
                    | brand. In 2015, the brand went international, moving from an online-only presence to
                    | being carried at boutiques and large retailers such as Sephora. Karigran continues to
                    | grow at a rapid pace. All their skin care products are formulated with organic, wild
                    | harvested and non-GMO ingredients, hand-poured in small batches. Designed for your
                    | most basic skin needs with elements that nourish a healthy complexion.
                a(href="https://karigran.com/").link.client-site www.karigran.com

    .block.article.challenges
        .container
            .col-md-7
                h1.section-header Challenges
                p.text.base
                    | Like all ambitious and innovative brands, Kari Gran recognized room for improvements to better serve its customers. They opted to confront them head-on and dramatically transform their customers' digital experience.
                    | A slow, unreliable catalog and website publishing system diminished their ability to run daily operations, requiring hours of costly troubleshooting. Painful and tedious deployment processes and less than ideal code base hindered IT teams’ ability to innovate. Kari Gran was unable to upgrade their antiquated ATG platform due to its inflexible customizations and overall complexity.
                    | Operational costs soared as Kari Gran struggled with managing infrastructure and maintaining security standards through PCI compliance. Finally, a problematic mobile app required duplicate investments to generate content and leverage catalog data.
                p.text.base
                    | Their platform wasn’t responsive on mobile devices which made it almost unusable
                    | when trying to make a purchase. With almost half of their traffic coming from mobile
                    | devices, Karigran knew they needed a platform that’s optimized for mobile so their
                    | customers get the same great shopping experience no matter what device they use.
                p.text.base
                    | Karigran was growing fast but their platform couldn't keep up. Constant crashing and
                    | performance issues with their older solution was common. Trying to manage
                    | infrastructure, staying up to date with technology and maintaining security standards
                    | was too much. To improve the scaling and performance issues with their older platform
                    | they would need to add more IT infrastructure which was expensive, time-consuming
                    | and distracting.
                ul.text.base
                    li Slow page loads
                    li Constantly needed to reach out to IT department with requests going unfulfilled
                    li Clunky and slow mobile experience
                    li Unreliable scalability and IT infrastructure
                    li Inability to update/upgrade their antiquated Magento platform
            .col-md-5.image-block
                img(src="../img/karigran-products.jpg" alt="")

    .block.article.solution
        .container
            .col-md-4.image-block.karigran
                img(src="../img/kg-mobile.png" alt="")
            .col-md-8
                h1.section-header Solution
                p.text.base
                    | To dramatically increase page load speed and website performance Karigran moved to
                    | Ottemo’s modern cloud-based SaaS platform optimized for speed and performance.
                    | Now they have the fastest page loads in their industry, at under 1-second on Avg. Our
                    | SaaS approach completely eliminated their concerns about managing IT infrastructure.
                    | Our solution is thoroughly field tested, serving up limitless scalability with elite
                    | performance and security. With Ottemo their site is constantly updated, so they are
                    | always using the latest features, functions, and innovation. Now they can rapidly scale
                    | with confidence and peace of mind because our cost-effective platform increases their
                    | operational efficiency every step of the way.
                p.text.base
                    | To greatly improve their mobile shopping experience, Karigran relied on Ottemo’s native
                    | adaptive design. With Ottemo, they could provide a customizable mobile shopping
                    | experience boasting rapid load times that remain consistent across every channel and
                    | device. Karigran now has a site that simplifies and streamlines the mobile purchasing
                    | experience.
                p.text.base
                    | Ottemo's flexible API's can quickly integrate with any 3rd-party applications. Karigran
                    | needed a way to streamline their shipping operations to better serve their customers.
                    | We built a custom integration to Shipstation that dramatically improved their shipping
                    | processes allowing them to serve more customers faster and get their products to them
                    | with ease.
                ul.text.base
                    li Lower Total Cost of Ownership with SaaS platform optimized for speed and scalability
                    li Optimized site for any device with consistent experience across all channels
                    li Custom integration to Shipstation to improve shipping processes
                    li Improved checkout conversion funnel to streamline the buying process
                    li
                        | Launched new site capabilities such as a subscription engine which automates
                        | recurring/scheduled orders. Karigran put this app to use by offering their
                        | customers a monthly subscription program at 30, 60 & 120 day intervals. This is
                        | a unique offering in their industry
    .block.article.results
        .container
            .col-sm-10.col-sm-offset-1
                h1.section-header.l-text-align.center Results
                p.text.base
                    | KariGran broke daily, weekly and monthly revenue records in the first month after
                    | launching on Ottemo. Their entire commerce operation was instantly upgraded and
                    | ready for the future. After running performance tests it was confirmed their web pages
                    | loaded 4x faster on all devices cutting their bounce rate by 72% and increasing page
                    | views by 81%. Ottemo SaaS solution meets Karigrans complex integration and
                    | customization needs. With its world class API and extensible platform, Ottemo delivers
                    | a premium unified customer experience for online shoppers from desktop to mobile
                    | devices and beyond. Karigran saw their mobile transactions increase an amazing 613%
                    | now that their site is optimized for all channels and devices.
                .result-values
                    .value
                        .number
                            span 4x
                        .text
                            span faster page load speeds
                    .value
                        .number
                            span 367%
                        .text
                            span Increased revenue from mobile channels
                    .value
                        .number
                            span 613%
                        .text
                            span Increased mobile transactions
                    .value
                        .number
                            span 72%
                        .text
                            span Cut overall bounce rate on all channels
                    .value
                        .number
                            span 81%
                        .text
                            span Increased page views
                    .value
                        .number
                            span 3x
                        .text
                            span faster to market

    .block.article.integrations
        .container
            h1.section-header.l-text-align.center Integrations
            ul.text.medium
                li ShipStation
                li Emma
                li Trustpilot
                li Mailchimp