//
   Created by Evgeniy on 02.02.2017.

extends ../include/template
block vars
    - var pageId = 'single-client-page';
    title Case Study - Kari Gran
block content
    .client-top-image
        .wrapper.karigran-bg
            .inner
                .container
                    .client-logo
                        img(src="../img/logos/Karigran-white.png" alt="Kari Gran Logo")
                    h1.client-name Karigran Case Study
    .client-stats.clearfix
        .status-wrapper.container
            .stats-section.client-quote
                div
                    p.text.base
                        | "Ottemo completely transformed our online business. It doesn’t
                        | seem possible that a simple platform switch could result in mobile sales
                        | almost immediately doubling, then tripling. The backend ease for our
                        | shipping department was worth the switch alone. Ottemo is a
                        | straight-forward solution that was a welcome relief from Magento and the
                        | lack of support we were experiencing."
                    span.author Lisa Strain, Co-founder, Karigran
            .stats-section.result-values
                div
                    .value
                        .number
                            span 4x
                        .text
                            span faster page load speeds
                    .value
                        .number
                            span 367%
                        .text
                            span Increased revenue from mobile channels
                    .value
                        .number
                            span 613%
                        .text
                            span Increased mobile transactions
                    .value
                        .number
                            span 72%
                        .text
                            span Cut overall bounce rate on all channels
                    .value
                        .number
                            span 3x
                        .text
                            span faster to market



    .block.article.customer-profile
        .container
            h1.heading.h1 Customer profile
            .row
                .col-md-6
                    img(src="../img/kg-MacBook.png" alt="Kari Gran site").client-site-image.karigran-site
                .col-md-6
                    p.text.medium
                        | Karigran was founded in 2010 and quickly grew into a nationally recognized skin care brand.
                        | In 2015, the brand went international, moving from an online-only presence to being carried
                        | at boutiques and large retailers such as Sephora. Karigran continues to grow at a rapid pace.
                        | All their skin care products are formulated with organic, wild harvested and non-GMO
                        | ingredients, hand-poured in small batches. Designed for your most basic skin needs with
                        | elements that nourish a healthy complexion.
            a(href="https://karigran.com/" target="_blank").button.button-big Visit Their Site

    .block.article.challenges
        .container
            .col-md-8
                h1.heading.h1 Challenges
                p.text.base
                    | Karigran was frustrated with their Magento platform. Their online business suffered from
                    | their slow website performance, scaling issues that put a plateau on their growth, broken
                    | integrations and a poor mobile experience. It took their web pages on average 7 seconds to
                    | load while their servers struggled to handle traffic surges. Adding the problem of having
                    | to manage their IT infrastructure was just too much to bear. They decided to confront the
                    | issues and completely transform and modernize their online experience and operations to
                    | better serve their customers.
                p.text.base
                    | Their platform wasn’t responsive on mobile devices which made it almost unusable when trying
                    | to make a purchase. With almost half of their traffic coming from mobile devices, Karigran
                    | knew they needed a platform that’s optimized for mobile so their customers get the same great
                    | shopping experience no matter what device they use.
                p.text.base
                    | Karigran was growing fast but their platform couldn't keep up. Constant crashing and
                    | performance issues with their older solution was common. Trying to manage infrastructure,
                    | staying up to date with technology and maintaining security standards was too much. To improve
                    | the scaling and performance issues with their older platform they would need to add more IT
                    | infrastructure which was expensive, time-consuming and distracting.
                ul.mobile-list.text.base
                    li Slow page loads
                    li Constantly needed to reach out to IT department with requests going unfulfilled
                    li Clunky and slow mobile experience
                    li Unreliable scalability and IT infrastructure
                    li Inability to update/upgrade their antiquated Magento platform

            .col-md-4.image-block
                img(src="../img/karigran-products.jpg" alt="")

    .block.article.solution
        .container
            .col-md-4.image-block
                img(src="../img/kg-mobile.png" alt="")
            .col-md-8
                h1.heading.h1 Solution
                p.text.base
                    | To dramatically increase page load speed and website performance Karigran moved to Ottemo’s
                    | modern cloud-based SaaS platform optimized for speed and performance. Now they have the
                    | fastest page loads in their industry, at under 1-second on Avg. Our SaaS approach completely
                    | eliminated their concerns about managing IT infrastructure.  Our solution is thoroughly field
                    | tested, serving up limitless scalability with elite performance and security. With Ottemo
                    | their site is constantly updated, so they are always using the latest features, functions,
                    | and innovation. Now they can rapidly scale with confidence and peace of mind because our
                    | cost-effective platform increases their operational efficiency every step of the way.
                p.text.base
                    | To greatly improve their mobile shopping experience, Karigran relied on Ottemo’s native
                    | adaptive design. With Ottemo, they could provide a customizable mobile shopping experience
                    | boasting rapid load times that remain consistent across every channel and device. Karigran
                    | now has a site that simplifies and streamlines the mobile purchasing experience.
                p.text.base
                    | Ottemo's flexible API's can quickly integrate with any 3rd-party applications. Karigran
                    | needed a way to streamline their shipping operations to better serve their customers.
                    | We built a custom integration to Shipstation that dramatically improved their shipping
                    | processes allowing them to serve more customers faster and get their products to them with ease.
                ul.mobile-list.text.base
                    li Lower Total Cost of Ownership with SaaS platform optimized for speed and scalability
                    li Optimized site for any device with consistent experience across all channels
                    li Custom integration to Shipstation to improve shipping processes
                    li Improved checkout conversion funnel to streamline the buying process
                    li
                        | Launched new site capabilities such as a subscription engine which automates
                        | recurring/scheduled orders. Karigran put this app to use by offering their customers a
                        | monthly subscription program at 30, 60 & 120 day intervals. This is a unique offering in
                        | their industry

    .block.article.integrations
        .container
            h1.heading.h1 Integrations
            .integration-block
                img(src='/img/integrations/shipstation-logo.png').integration-logo
                span.integration-name ShipStation
            .integration-block
                img(src='/img/integrations/emma-logo.png').integration-logo
                span.integration-name Emma
            .integration-block
                img(src='/img/integrations/trustpilot_logo.png').integration-logo
                span.integration-name Trustpilot
            .integration-block
                img(src='/img/integrations/mailchimp-logo.png').integration-logo
                span.integration-name Mailchimp
            .integration-block
                img(src='/img/integrations/unify-logo.png').integration-logo
                span.integration-name Unify
            .integration-block
                img(src='/img/integrations/paypal-logo.png').integration-logo
                span.integration-name PayPal
            .integration-block
                img(src='/img/integrations/stripe-logo.png').integration-logo
                span.integration-name Stripe
            .integration-block
                img(src='/img/integrations/fedex-logo.png').integration-logo
                span.integration-name FedEx
            .integration-block
                img(src='/img/integrations/usps-logo.png').integration-logo
                span.integration-name USPS

    .block.article.results
        .container
            .col-sm-10.col-sm-offset-1
                h1.heading.h1 Results
                p.text.base
                    | KariGran broke daily, weekly and monthly revenue records in the first month after
                    | launching on Ottemo. Their entire commerce operation was instantly upgraded and
                    | ready for the future. After running performance tests it was confirmed their web pages
                    | loaded 4x faster on all devices cutting their bounce rate by 72%. Ottemo SaaS solution
                    | meets Karigrans complex integration and customization needs. With its world class API
                    | and extensible platform, Ottemo delivers a premium unified customer experience for
                    | online shoppers from desktop to mobile devices and beyond. Karigran saw their mobile
                    | transactions increase an amazing 613% now that their site is optimized for all channels
                    | and devices.
