//
   Created by Evgeniy on 02.02.2017.

extends ../include/template
block vars
    - var pageId = 'single-client-page';
block content
    .client-top-image
        .wrapper.pocono-bg
            .inner
                .container
                    .client-logo
                        img(src="../img/logos/poconovapes-white.png" alt="Pocono Vapes Logo")
                    h1.client-name MT. Pocono Vapes LLC
                    p.client-description Pocono Vapes opted for the most forward-thinking cloud commerce platform in the market

    section.customer-profile
        .container
            .col-md-6.client-site
                img(src="../img/pw-MacBook.png" alt="Pocono Vapes site")
            .col-md-6
                h1.section-header.l-text-align.center Pocono Vapes Profile
                p.main-text
                    | Pocono Vapes is the largest online fashion destination offering access to over 2,500 brands. Founded in 1998, Pocono Vapes was the first to break the barriers to high style – and today still lead the way with fashion that doesn't feel exclusive in price point or attitude, from trendsetters like Prada, Gucci and Vince to vintage Chanel. You will find what you seek at Pocono Vapes.
                a(href="https://poconovapes.com/").link.client-site www.poconovapes.com

    section.client-feedback
        .container
            p.feedback
                | "What sets Ottemo apart from other vendors is that it allows critical commerce features to be managed through a single tool, from desktop to mobile web and mobile app. Ottemo helps us empower our customers and drive loyalty with continuous, seamless Pocono Vapes experiences and access to the best designer brands and fashion trends. We believe Ottemo is the commerce platform for the future."
            ul.author
                li.photo
                    img(src="/img/comment-author-pic-placeholder.png" alt="")
                li.name
                    span Mikey McClarron
                li.position
                    span Marketing Director

    section.challenges
        .container
            .col-lg-5.col-md-6
                h1.section-header Challenges
                p.main-text
                    | Like all ambitious and innovative brands, Pocono Vapes recognized room for improvements to better serve its customers. They opted to confront them head-on and dramatically transform their customers' digital experience.
                    | A slow, unreliable catalog and website publishing system diminished their ability to run daily operations, requiring hours of costly troubleshooting. Painful and tedious deployment processes and less than ideal code base hindered IT teams’ ability to innovate. Pocono Vapes was unable to upgrade their antiquated ATG platform due to its inflexible customizations and overall complexity.
                    | Operational costs soared as Pocono Vapes struggled with managing infrastructure and maintaining security standards through PCI compliance. Finally, a problematic mobile app required duplicate investments to generate content and leverage catalog data.
            .col-lg-7.col-md-6.image-block
                img(src="../img/pocono-blackberry.jpg" alt="")

    section.solution
        .container
            .col-md-6.image-block.karigran
                img(src="../img/pv-mobile.png" alt="")
            .col-md-6
                h1.section-header Solution
                p.main-text
                    | Through Ottemo’s flexible and unified platform and a completely integrated content management system (CMS), Pocono Vapes ensures that customers experience unforgettable shopping moments across mobile, desktop and mobile app. Pocono Vapes customers see new products, changes to existing products, discounts and promotions instantly across the app and website due to Ottemo’s powerful merchandising tools, which eliminate the reliance on IT for storefront changes.
                    | Ottemo’s mobile app for iOS and Android enables Pocono Vapes to stay constantly connected to its customers using the same tools to update content on mobile, desktop and app. The Ottemo platform also allows Pocono Vapes to keep its customers engaged with the creation and scheduling of push notifications in the same tool – a task that was previously impossible.

    section.results
        .container
            .col-sm-10.col-sm-offset-1
                h1.section-header.l-text-align.center Results After Switching to Ottemo
                p.main-text
                    | Pocono Vapes refreshed and simplified look, combined with enhanced content, improved search functionality and optimization for mobile devices, allows consumers to better interact with the site. Ottemo’s multi-tenant SaaS solution meets Pocono Vapes’s sophisticated integration and customization needs. With its best-in-class API and extensible platform, Ottemo delivers a fulfilling consumer omnichannel experience for online shoppers.
                .result-values
                    .value
                        .number
                            span 42%
                        .text
                            span Lift in mobile conversion
                    .value
                        .number
                            span 21%
                        .text
                            span Increase in mobile revenue
                    .value
                        .number
                            span 7 days
                        .text
                            span To rebrand entire site