//
   Created by Evgeniy on 02.02.2017.

extends ../include/template
block vars
    - var pageId = 'single-client-page';
block content
    .client-top-image
        .wrapper.pocono-bg
            .inner
                .container
                    .client-logo
                        img(src="../img/logos/poconovapes-white.png" alt="Pocono Vapes Logo")
                    h1.client-name Pocono Vapes Case Study

    .block.article.customer-profile
        .container
            h1.heading.h1 Customer Profile
            .row
                .col-md-6.client-site
                    img(src="../img/pw-MacBook.png" alt="Pocono Vapes site").client-site-image.pocono-site
                .col-md-6
                    p.text.medium
                        | Mt. Pocono Vapes is a family owned E-liquid business founded in 2012. Pocono Vapes has
                        | quickly become established as one of USA’s premier manufacturers of premium E-Liquid
                        | with their close attention to detail. All their E-liquids are handcrafted in small batches
                        | to ensure they consistently in flavors setting them apart from other brands. In search of
                        | a platform that could support their many flash sales and promotions, they decided to team
                        | up with Ottemo. They needed a flexible platform that could keep up with the speed of their
                        | growth and accommodate their future plans. They found what they were looking for in Ottemo.
            a(href="https://poconovapes.com/").button.button-big Visit Their Site

    .block.article.challenges
        .container
            .col-md-7
                h1.heading.h1 Challenges
                p.text.base
                    | Pocono Vapes built a successful business providing the finest handcrafted flavors available
                    | to create a great experience for their customers. But slow performance and a buggy website
                    | lacking a mobile optimized experience made it very difficult for them to serve their customers
                    | online. When trying to run flash sales and promotions drawbacks to their platform became clear.
                    | They couldn’t accommodate sharp spikes in web traffic causing site slowdowns and sometimes
                    | crashing. Their scalability was limited and their online business paid the price in lost
                    | customers and revenue. The limitations to their current solution began to take a toll and if
                    | they knew if they wanted to continue to grow they needed to make a change. On top of that,
                    | everything on the site was hard coded, so anytime they wanted to make a small change it
                    | required the intervention of an IT resource.
                ul.mobile-list.text.base
                    li Slow page load on old platform
                    li Faulty mobile experience
                    li Limited scalability
                    li The need for constant IT intervention
            .col-md-5.image-block
                img(src="../img/pocono-blackberry.jpg" alt="")

    .block.article.solution
        .container
            .col-md-4.image-block.karigran
                img(src="../img/pv-mobile.png" alt="")
            .col-md-8
                h1.heading.h1 Solution
                p.text.base
                    | Pocono Vapes worked with the Ottemo team to rebuild their website on the Ottemo platform,
                    | instantly giving them top tier performance in speed and mobile optimization. Their web pages
                    | load 4x faster and for the first time, they offer a natively responsive mobile experience for
                    | their customers. Now every time they make a change on their website it’s unified across all
                    | devices. Our cloud-based SaaS platform gives them the scalability they need to satisfy their
                    | customers during flash sales and promotions - now they can rest assured their site is always
                    | serving up the best experience for their customers as Ottemo scales on-demand when traffic
                    | spikes. Pocono takes full advantage of Ottemo’s premium search feature that allows customers
                    | to search for their favorite flavor with ease streamlining time to check out. With Ottemo’s
                    | CMS (content management system) tool Pocono can now switch up content on the fly without the
                    | need of IT resources at every turn. All of this was impossible on their old platform.
                ul.mobile-list.text.base
                    li Optimized the site for any device
                    li Cost-effective SaaS platform with unmatched speed and scalability
                    li Flexible CMS for team to manage content
                    li Custom Integration to ShareASale for marketing & promotions

    .block.article.integrations
        .container
            h1.heading.h1 Integrations
            .integration-block
                img(src='/img/integrations/shareasale-logo.png').integration-logo
                span.integration-name ShareASale
            .integration-block
                img(src='/img/integrations/paypal-logo.png').integration-logo
                span.integration-name PayPalPro
            .integration-block
                img(src='/img/integrations/shipstation-logo.png').integration-logo
                span.integration-name ShipStation
            .integration-block
                img(src='/img/integrations/authorize-logo.png').integration-logo
                span.integration-name Authorize.Net

    .block.article.results
        .container
            .col-sm-10.col-sm-offset-1
                h1.heading.h1 Results
                p.text.base
                    | Pocono Vapes simplified website instantly got a boost from brand new search functionality and
                    | optimization for mobile devices. Now their web pages and search queries load in under 1-second,
                    | streamlining the buying process for their customers. Now they can run their flash sales and
                    | promotions with confidence knowing their website is serving up a fast, scalable experience for
                    | their customers and site crashes are a thing of the past.
                .result-values
                    .value
                        .number
                            span 4x
                        .text
                            span faster page loas
                    .value
                        .number
                            span 3x
                        .text
                            span faster to market
                    .value
                        .number
                            span 100%
                        .text
                            span uptime during flash sales and promotions
                    .value
                        .number
                            span 100%
                        .text
                            span Happy eBusiness team