extends include/template
block vars
    - var pageId = 'homepage';
    title Ottemo
block extraStyles
    link(rel='stylesheet', href='/css/animate.css')
block content

    section#main-section.top-section
        .top-section-wrapper
            .top-section-inner
                .container
                    .image-content.col-md-6
                        img(src="/img/ultimo-theme.png", alt="Ultimo Theme")
                    .text-content.col-md-6
                        h1.hero-caption
                            | The enterprise ecommerce platform with no limits
                        p.text.large.hero-description
                            | Sell more. Scale more.
                        a.button.button-big(href="/platform-overview.html") Explore the Platform

    .block.article.testimonials
        .container
            h1.heading.h1 Our client's success is our success
            p.text.large
                | Ottemo is powering the next generation of digital commerce
            #owl-testimonials.testimonials-wrapper
                .quote
                    .mobile
                        img(src="/img/karigran.png")
                    .left-side.col-md-5.col-md-offset-1.col-sm-10.col-sm-offset-1
                        p.text.medium
                            | Ottemo completely transformed our online business. It doesn’t
                            | seem possible that a simple platform switch could result in mobile sales
                            | almost immediately doubling, then tripling. The backend ease for our
                            | shipping department was worth the switch alone. Ottemo is a
                            | straight-forward solution that was a welcome relief from Magento and the
                            | lack of support we were experiencing.
                        span.author Lisa Strain, Co-founder, Karigran
                    .right-side.col-md-6
                        img(src="/img/karigran.png")
                .quote
                    .mobile
                        img(src="/img/pv-testimonial.jpg")
                    .left-side.pocono.col-md-5.col-md-offset-1.col-sm-10.col-sm-offset-1
                        p.text.medium
                            | You guys rock! Our website relies on flash sales so instant
                            | on-demand scalability is a requirement without crashing or performances
                            | issues, since making the move we haven’t had to worry at all. Our web
                            | sales were pretty bad before we switched over to Ottemo. It was like
                            | instantly pouring rocket fuel into our revenue. My only regret is not making
                            | the move sooner.
                        span.author Corinne Miller, Owner, Pocono Vapes
                    .right-side.col-md-6
                        img(src="/img/pv-testimonial.jpg")
                .quote
                    .mobile
                        img(src="/img/southcoast.png")
                    .left-side.col-md-5.col-md-offset-1.col-sm-10.col-sm-offset-1
                        p.text.medium
                            | We recently switched from another popular eCommerce platform
                            | and I’ve got to say that the difference has been night and day. While our
                            | new site performs much faster, the biggest differentiator has been the
                            | level of personal service. The dev team at Ottemo really bends over
                            | backwards to make sure our needs get met.
                        span.author RJ Mckeehan, Co-founder, South Coast Swords
                    .right-side.col-md-6
                        img(src="/img/southcoast.png")

            a.button.button-big(href="/clients.html") Read Their Stories

    .block.article.solutions
        .container
            h1.heading.h1
                | Breakthrough Solutions for The Enterprise
            .solutions-group.clearfix
                .solution.col-md-3.col-sm-6
                    .icon
                        img(src="/img/future-icon.svg" alt="icon")
                    .solution-name
                        h3
                            | Future
                            br
                            | of Commerce
                    p.text.base
                        | Our forward-thinking enterprise commerce solutions enable the flexibility, speed, and
                        | innovations needed to stay ahead of the always evolving world of online commerce.
                .solution.col-md-3.col-sm-6
                    .icon
                        img(src="/img/experience-icon.svg" alt="icon")
                    .solution-name
                        h3
                            | Personalized
                            br
                            | Experiences
                    p.text.base
                        | Our next-level framework allows you to create fully customizable experiences that captivates
                        | your customers while staying consistent on all devices.
                .solution.col-md-3.col-sm-6
                    .icon
                        img(src="/img/stayahead-icon.svg" alt="icon")
                    .solution-name
                        h3
                            | Stay
                            br
                            | Ahead
                    p.text.base
                        | We consistently and seamlessly deploy new features and enhancements to keep you on top of
                        | best-in-class technologies so your platform is always evolving.
                .solution.col-md-3.col-sm-6
                    .icon
                        img(src="/img/integration-icon.svg" alt="icon")
                    .solution-name
                        h3 Integrate
                    p.text.base
                        | Fully integrate to your existing enterprise technology stack that runs your business (ERP, CRM,
                        | OMS, Fulfillment, and more).

    .block.article.clients
        .container
            h1.heading.h1
                | Ottemo Clients
            p.text.large Just some of the great companies powered by Ottemo
            .clients-row
                .logo
                    .additional
                        a(href="/case-studies/karigran.html").button.button-big See Their Story
                    img(src="img/logos/karigran-logo.png" alt="karigran logo")
                .logo
                    .additional
                        a(href="/case-studies/poconovapes.html").button.button-big See Their Story
                    img(src="img/logos/poconovapes-logo.png" alt="Pocono Vapes logo")
                .logo
                    img(src="img/logos/southcoastswords-logo.png" alt="South Coasts Words logo")
                .logo
                    img(src="img/logos/carpartplanet-logo.png" alt="Car Part Planet logo")
                .logo
                    img(src="img/logos/ferastyle-logo.png" alt="Fera Style Logo")

    .block.article.section-features
        .container
            h1.heading.h1
                | The easiest way to scale your business
            .image-content.col-md-6
                img(src="/img/imac-features.png" alt="Features image")
            .text-content.col-md-6
                .feature-block
                    h1.block-title Lighting Fast Enterprise Commerce
                    p.block-description
                        | Ottemo is architected for high performance. We handle hosting, scaling, integration touch
                        | points for you. Now you can rest assured that you are serving up the fastest possible
                        | Digital Commerce experience.
                .feature-block
                    h1.block-title Unified Commerce Model
                    p.block-description
                        | Connecting data and cloud to navigate your digital transformation using mobile optimized
                        | engagement and one-to-one personalization to provide a seamless customer experience across
                        | all touchpoints.
                .feature-block
                    h1.block-title Limitless Scalability Without Hassles
                    p.block-description
                        | Most commerce solutions
                        | aren't very easy to use and aren't good at growing with you. Ottemo lets you
                        | expand fast without clunky upgrades or messy platform-switching, and our
                        | experienced team expertly hosts and manages your site.
                .feature-block
                    h1.block-title Superior ROI
                    p.block-description
                        | Our cloud-based platform is ¼ the cost of homegrown and on-premise solutions. Spend less
                        | time managing infrastructure and technology - Ottemo gives you routine SaaS updates
                        | with state-of-the-art features and functionality.
                a.button.button-big.dark-bg(href="/why-ottemo.html") Learn More

    .block.article.blog
        .container
            .post-wrapper.col-md-6
                .post-picture
                    img(src="img/hp_computer.jpg", alt="")
                h1.post-title The Tools Your Business Needs
                p.post-description
                    | By delivering a full suite of digital business solutions we can string together your islands of old technology and help you with your unified commerce needs. Grow your business to become as efficient as possible.
                a.button.button-big(href="/ottemo-commerce-cloud.html") See Commerce Cloud
            .post-wrapper.col-md-6
                .post-picture
                    img(src="img/tabs2_slide1.png", alt="")
                h1.post-title Built With You In Mind
                p.post-description
                    | We took the time to build a platform that grows with you. Imagine a unified experience across all customer touchpoints, more agile, mobile responsive, and secure. Ready for a solution that works with you instead of against you? Then drop us an email.
                a.button.button-big(href="/contact.html") Contact Us
