extends include/template
block vars
    - var pageId = 'ottemo-commerce-cloud-page';
    title Ottemo Cloud Commerce
block content
    .block.hero
        .container
            h1.hero-header-1 Ottemo
            h2.hero-header-2 Commerce Cloud
            h3.hero-header-3 A Solution With No Limits
            a(href="/contact.html").button.button-big Get Started

    .block.article.cloud-platform
        .cloud-image-block
            img(src="/img/ece-main-image.jpg")
        .container
            h1.heading.h1
                | The World's Most Powerful
                br
                | Cloud Commerce Platform
            p.text.medium
                | Take advantage of the best-in-class technologies and limitless flexibility of Ottemo
                | Commerce Cloud. You enjoy world-class cloud hosting, reliability, and performance
                | giving your business the competitive edge while reducing costs by over 75%. Ottemo is
                | precision engineered with a speed-optimized front-end and lighting fast cloud servers to
                | improve your customers experience more than any other factor, giving them the
                | confidence to spend more and return again and again. Ottemo’s cloud-based software
                | offers sophisticated mobile capabilities. You can access Ottemo’s software anytime,
                | anywhere with the same functionality on mobile devices that you get from a desktop
                | computer - allowing you and your team to stay on top of your business at all times. Own
                | the experience without the burden of owning the infrastructure. It’s all possible with the
                | Ottemo Commerce Cloud.

    .block.article.heavy-lifting
        .container
            .col-md-6
                img(src='/img/OttemoDoesTheHeavyLifting2.png' alt='').mobile
                h1.heading.h1
                    | Ottemo Does
                    br
                    | The Heavy Lifting
                p.text.medium
                    | Never worry again about monitoring servers, handling upgrades or implementing security.
                    | Ottemo Commerce Cloud managed service gives you future-proof infrastructure and cloud
                    | hosting that’s fully optimized so you deploy fast. No more uncertainty about traffic spikes
                    | and holiday hassles. We handle the technology so you can focus on business.
            .col-md-6.image-block
                img(src='/img/OttemoDoesTheHeavyLifting2.png' alt='').article-image.right

    .block.article.get-faster
        .container
            .col-md-6.image-block
                img(src='/img/GetToMarketFaster.jpg' alt='').article-image.left
            .col-md-6
                img(src='/img/GetToMarketFaster.jpg' alt='').mobile
                h1.heading.h1 Get to Market Faster
                p.text.medium
                    | Ottemo Commerce Cloud accelerates your commerce to supersonic speed. The power of the
                    | cloud combined with our industry-leading tools and technologies allows you to radically
                    | streamline development, staging and deployment. Your new content goes live faster, giving
                    | you more time to experiment with different commerce strategies and tactics.

    .block.article.make-easy
        .container
            .col-md-6
                img(src='/img/MakeItEasy.jpg' alt='').mobile
                h1.heading.h1 Make it Easy
                p.text.medium
                    | Hosting your store in the cloud ensures your customers get content fast no matter where
                    | they are. Your site is continually optimized around the clock. Take advantage of secure,
                    | global, high-performance and cost-effective cloud infrastructure that is constantly
                    | improving.
            .col-md-6.image-block
                img(src='/img/MakeItEasy.jpg' alt='').article-image.right

    .block.article.scalability
        .container
            .col-md-6.image-block
                img(src='/img/scalability.jpg' alt='').article-image.left
            .col-md-6.col-md-offset-6
                img(src='/img/scalability.jpg' alt='').mobile
                h1.heading.h1 Limitless Scalability
                p.text.medium
                    | Cyber Monday sales spikes? Ottemo is built on the cutting-edge Google Cloud, so you can
                    | handle traffic increases with ease. Specifically designed to scale and grow with you as you
                    | expand, Ottemo Commerce Cloud kicks in extra resources when demand seems
                    | overwhelming. Your site stays up through the heaviest loads.

    .bottom-banner
        .container
            .banner-row
                .banner-block
                    a(href="/case-studies/karigran.html")
                        .logo
                            img(src="/img/logos/karigran-logo.png")
                        .words
                            .number 613%
                            .caption increase in mobile transactions

                .banner-block
                    a(href="/case-studies/poconovapes.html")
                        .logo
                            img(src="/img/logos/poconovapes-logo.png")
                        .words
                            .number 4x
                            .caption faster page loads on all devices

    .block.blog
        .container
            h1.heading.h1 Latest Content
            a(href="http://blog.ottemo.io/2016/11/07/tips-and-tricks-for-better-e-commerce-product-photography/").post-wrapper.col-md-4.col-sm-6
                .post-picture
                    img(src="img/blog/blog-image-1.jpg", alt="e-commerce product photography")
                h2.post-title Tips and tricks for better e-commerce product photography
                p.text.base
                    | Good product photography In an ideal world, every business that needed product photography could afford a professional photographer...
            a(href="http://blog.ottemo.io/2016/11/07/untitled-2/").post-wrapper.col-md-4.col-sm-6
                .post-picture
                    img(src="img/blog/blog-image-2.jpg", alt="SEO Tips and Tricks for Your eCommerce")
                h2.post-title 6 SEO Tips and Tricks for Your eCommerce Website
                p.text.base
                    | Search engine optimization isn't a new trick for commerce websites, but it's evolved into a completely different skill than it was during the early keyword-stuffing days...
            a(href="http://blog.ottemo.io/2016/11/07/untitled-5/").post-wrapper.col-md-4.col-sm-6
                .post-picture
                    img(src="img/blog/blog-image-3.jpg", alt="SEO Tips and Tricks for Your eCommerce")
                h2.post-title When to use a 3PL
                p.text.base
                    | What is a 3PL? 3PL is an acronym for a Third Party Logistics provider and refers to contract or outsourced businesses who provide various logistics and operations services...
