extends include/template
block content
    .two-column-layout.container
        .navigation-sidebar.col-lg-3
            aside
                ul.post-group
                    li
                        h2.post-group-title Recent Posts
                    li.post-link
                        a(href='#').link 6 Ways to Reduce Your International eCommerce Shipping Costs
                    li.post-link
                        a(href='#').link 5 Ways to Generate Traffic to Your E-commerce Site
                    li.post-link
                        a(href='#').link 7 Ways to Expand Your E-Commerce Business
                    li.post-link
                        a(href='#').link 5 Helpful Content Marketing Tips for Ecommerce Businesses
                    li.post-link
                        a(href='#').link Does Your eCommerce Site REALLY Support Mobile?
                    li.post-link
                        a(href='#').link 5 Emails to Send Your E-commerce Customers
                ul.post-group
                    li
                        h2.post-group-title Posts by Topic
                    li.post-link
                        a(href='#').link ecommerce (15)
                    li.post-link
                        a(href='#').link website (6)
                    li.post-link
                        a(href='#').link digital commerce (4)
                    li.post-link
                        a(href='#').link shopping (4)
                    li.post-link
                        a(href='#').link marketing (3)
        .page-content.col-lg-9
            .section-wrapper
                article.post.single-post
                    h1.section-header 6 Ways to Reduce Your International eCommerce Shipping Costs
                    ul.post-details
                        li By
                            a(href="blog-single-post.html").link.post-author Mark Swanson
                        li on Oct 18, 2016 5:00:53 PM
                        li 0 comments
                    p.main-text.accent
                        | E-commerce companies must carefully balance their profit margins and shipping costs, as unprofitable fulfillment may lead to cash flow issues. Amazon alone spends $6.64 billion on this expense.
                        br
                        | International customers lead to even more complexity when calculating these figures. The $1.55 trillion worldwide e-commerce market offers countless opportunities, but you risk reducing the quality of service if you don't know how to handle international shipments effectively. Use these six tips to reduce your costs while meeting customer expectations.
                    img(src="img/blog/International_ecommerce.jpg", alt="")
                    h2 1. Don't Settle for the First Shipping Quote
                    p.main-text
                        | USPS, FedEx and UPS may be your partners for domestic shipments, but it's easy to spend more than you should if you automatically pick them for international services. Get quotes from multiple companies, including country-specific shippers, so you have the best pricing available.
                    h2 2. Reduce Your Packaging
                    p.main-text
                        | Streamline your packaging as much as possible for international shipments. A bigger box may not be a big deal for your domestic packages, but when you send them to another country, it makes a large difference. You also want to keep the weight down as much as possible. Consider investing in lighter materials or closely matching the size of your product to the box.
                    h2 3. Limit Your International Product Selection
                    p.main-text
                        | Some products may not fare well when going overseas. They could be exceptionally heavy or fragile. The delivery may take longer than the customer's expectations or arrive broken into pieces. Refunds or returns eat away at your profit margins and result in a negative customer experience.
                    p.main-text
                        | Remove these items from those eligible for international shipment so you avoid this problem entirely. If you run into many customers from a particular country upset at this change, look for distributors capable of carrying your products in that region.
                    h2 4. Research Other E-commerce Companies' Procedures
                    p.main-text
                        | Sometimes fulfillment services look great on paper, but they fail when it comes to actually delivering. Network with other e-commerce companies working with customers in the regions you're targeting. Get first-hand accounts on the shipping companies, and build valuable connections that may offer better rates in the long run. Your direct competitors probably won't give you any information, but e-commerce companies in other market segments may be willing to discuss their partners.
                    h2 5. Look Into Required Customs Forms
                    p.main-text
                        | Do you know the paperwork requirements for a particular country? If you fail to fill out the proper forms, the shipment could be held for inspection and returned to you. Add these documents into your current shipping work process so you ensure it gets into the country without a problem.
                    h2 6. Outsource Your International Shipments
                    p.main-text
                        | Paying for a service to handle your international shipments from end-to-end can save you money in the long run. You work with companies that are experienced with the complex requirements of each country. They also have preexisting relationships with shippers working within your destination countries. While the upfront cost most likely will run more than if you did your own fulfillment, you maintain a good customer experience that can lead to repeat customers and a better overall reputation.
                    p.main-text
                        | Don't miss out on the global e-commerce market because of the cost involved with your shipments. These tips give you several strategies to keep your deliveries at a reasonable price without causing your customers to deal with dead-on-arrival products or late items.
                section.section.comments-section
                    .comment-item
                        ul.comment-author-details
                            li
                                .author-photo
                                    img(src="img/comment-author-pic-placeholder.png", alt="")
                            li
                                strong.author-name Gavin Smith
                            li
                                span.comment-date Oct 18, 2016 5:00:53 PM
                        p.main-text.comment-text
                            | Pellentesque aliquam cursus neque sit amet finibus. Quisque metus felis, finibus at dapibus eget, euismod vel est. Duis lacus neque, imperdiet id risus eu, venenatis auctor lectus. Sed vitae neque sodales, blandit leo et, ullamcorper ligula. Aenean vehicula enim in tempor blandit.
                        .comment-item
                            ul.comment-author-details
                                li
                                    .author-photo
                                        img(src="img/comment-author-pic-placeholder.png", alt="")
                                li
                                    strong.author-name Nicholas Snyder
                                li
                                    span.comment-date Oct 19, 2016 3:12:24 PM
                            p.main-text.comment-text
                                | Nullam fermentum tellus in tellus iaculis fringilla. Nunc nibh ipsum, dapibus nec ullamcorper quis, pretium eget odio. Etiam rutrum suscipit dolor vel viverra.
                            .comment-item
                                ul.comment-author-details
                                    li
                                        .author-photo
                                            img(src="img/comment-author-pic-placeholder.png", alt="")
                                    li
                                        strong.author-name Lilly Carter
                                    li
                                        span.comment-date Oct 19, 2016 5:43:16 PM
                                p.main-text.comment-text
                                    | Cool!!
                section.section.new-comment-section
                    h2 Leave a Comment
                    form(method="post").comment-form
                        label(for="comment") Yor message
                        textarea#comment.comment
                        p.input-field
                            label(for="comment-author") Your Name
                            input(type="text")#comment-author
                        p.input-field
                            label(for="comment-email") Your Email
                            input(type="email")#comment-email
                        a(href="#").button.button-big Submit Comment