extends include/template
block content
    .two-column-layout.container
        .navigation-sidebar.col-lg-3
            aside
                ul.post-group
                    li
                        h2.post-group-title Recent Posts
                    li.post-link
                        a(href='#').link 6 Ways to Reduce Your International eCommerce Shipping Costs
                    li.post-link
                        a(href='#').link 5 Ways to Generate Traffic to Your E-commerce Site
                    li.post-link
                        a(href='#').link 7 Ways to Expand Your E-Commerce Business
                    li.post-link
                        a(href='#').link 5 Helpful Content Marketing Tips for Ecommerce Businesses
                    li.post-link
                        a(href='#').link Does Your eCommerce Site REALLY Support Mobile?
                    li.post-link
                        a(href='#').link 5 Emails to Send Your E-commerce Customers
                ul.post-group
                    li
                        h2.post-group-title Posts by Topic
                    li.post-link
                        a(href='#').link ecommerce (15)
                    li.post-link
                        a(href='#').link website (6)
                    li.post-link
                        a(href='#').link digital commerce (4)
                    li.post-link
                        a(href='#').link shopping (4)
                    li.post-link
                        a(href='#').link marketing (3)
        .page-content.col-lg-9
            section.section.section-blog
                h1.section-header Ottemo blog
                .grid
                    article.post.grid-item
                        img(src="img/blog/International_ecommerce.jpg", alt="")
                        ul.post-details
                            li By
                                a(href="blog-single-post.html").link.post-author Mark Swanson
                            li on Oct 18, 2016 5:00:53 PM
                            li 0 comments
                        h2.post-title 6 Ways to Reduce Your International eCommerce Shipping Costs
                        p.main-text
                            | E-commerce companies must carefully balance their profit margins and shipping costs, as unprofitable fulfillment may lead to cash flow issues. Amazon alone spends $6.64 billion on this expense.
                        a(href="blog-single-post.html").button.button-small Read more
                    article.post.grid-item
                        img(src="img/blog/mobile_ecommerce.jpg", alt="")
                        ul.post-details
                            li By
                                a(href="#").link.post-author Gavin Smith
                            li on Sep 9, 2016 5:32:06 PM
                            li 4 comments
                        h2.post-title Does Your eCommerce Site REALLY Support Mobile?
                        p.main-text
                            | Mobile search overtook desktop more than a year ago. If your website isn't already optimized to work with mobile devices, you could be missing out on a large portion of the digital pie. You can't afford to ignore the mobile customer, but a simple translation of your existing website is not enough. Not with 30 percent of all online shopping finalized on a phone. Sure, you can make sure your website displays correctly on mobile devices with a few tweaks, but is that really optimization? Not so much.
                        a(href="#").button.button-small Read more
                    article.post.grid-item
                        img(src="img/blog/eCommerce_Tips.jpg", alt="")
                        ul.post-details
                            li By
                                a(href="#").link.post-author John Harmston
                            li on Oct 4, 2016 5:28:33 PM
                            li 4 comments
                        h2.post-title 5 Ways to Generate Traffic to Your E-commerce Site
                        p.main-text
                            | You have a great product selection, but you don't see a lot of sales. Does your target audience know you exist? Once your e-commerce site goes live, it's time to focus on ways to generate traffic and get customers through your virtual doors.
                        a(href="#").button.button-small Read more
                    article.post.grid-item
                        img(src="img/blog/ecommerce_success.jpg", alt="")
                        ul.post-details
                            li By
                                a(href="#").link.post-author Gavin Smith
                            li on Sep 27, 2016 1:16:37 PM
                            li 4 comments
                        h2.post-title 7 Ways to Expand Your E-Commerce Business
                        p.main-text
                            | Internet sales have been growing exponentially for years and show no signs of slowing down. But simply opening an e-commerce business and hanging out the open sign won't automatically guarantee success. The following are seven ways to expand an e-commerce business.
                        a(href="#").button.button-small Read more
                    article.post.grid-item
                        img(src="img/blog/bad_credit_ecommerce.jpg", alt="")
                        ul.post-details
                            li By
                                a(href="#").link.post-author Mark Swanson
                            li on Aug 23, 2016 1:26:20 PM
                            li 12 comments
                        h2.post-title Customer Fraud: Stopping False Chargebacks and Other Claims
                        p.main-text
                            | E-commerce businesses are at heightened risk for false claims and chargebacks from customers. Take these steps to reduce your risk of losing money to these claims.
                        a(href="#").button.button-small Read more
