//
   Created by Evgeniy on 03.04.2017.

extends include/template
block vars
    - var pageId = "calculator-page"
block content
    .block.article.calc-form
        .container
            h1.heading.h1 Total Cost of Ownership Calculator
            p.text.medium
                | Compare the entire cost of using an on-premise solution versus Ottemo platform
            form#calc-form

                .budget-wrap
                    .budget
                        .budget-header
                            .title
                                | Set your annual revenue!
                                span.input-value
                        .content
                            input(type='range', min='1', max='12', value='4', data-rangeslider='')#revenue
                            button(type="submit").button.button-big Calculate

    .block.article.calc-results
        .container
            table
                tbody
                    tr.thead
                        th.section-title Launch Costs
                        th.section-title
                            strong On Prem
                        th.section-title
                            strong Ottemo
                    tr
                        td Design, QA, and Build (implementation)
                        td.op-build —
                        td.ottemo-build —
                    tr
                        td Advanced Integration Costs 
                        td.op-advanced-cost —
                        td.ottemo-advanced-cost —
                    tr
                        td Typical GTM Time
                        td.op-gtm-time —
                        td.ottemo-gtm-time —
                    tr.thead
                        th.section-title Infrastructure Costs
                        th.section-title
                        th.section-title
                    tr
                        td Total Annual Infrastructure Costs
                        td —
                        td —

                    tr.thead
                        th.section-title Recurring Costs
                        th.section-title
                        th.section-title
                    tr
                        td Managed Support costs / Partner Retainer
                        td.op-support —
                        td.ottemo-support —
                    tr
                        td Biannual Software Upgrades 
                        td.sw-upgrades —
                        td —
                    tr
                        td Technical Staff Hires 
                        td.tech-staff-hires —
                        td —
                    tr
                        th Total Costs
                        th
                        th
                    tr
                        td
                            strong Total Year One Costs
                        td.op-total-one-year —
                        td.ottemo-total-one-year —
                    tr
                        td
                            strong Total Year 2 Costs (Recurring)
                        td.op-total-two-year —
                        td.ottemo-total-two-year —

            .totals
                .row
                    .col-sm-6
                        p On-Premise Site Implementation Budget
                        p.amount.op-budget —
                    .col-sm-6
                        p Money You'd Save by Using Ottemo
                        p.amount.ottemo-money-saved —

    .block.article.spend-extra-budget
        .container
            .block-header
                h1.heading.h1 Imagine what you could do with that extra budget
                p.text.medium
                    | Forrester estimates that 80% of on-premise spending is on maintenance and only 20% is used for new projects and initiatives
            table.extra-budget
                tbody
                    tr.thead
                        th.section-title How You Could Spend Your Extra Budget
                        th.section-title Average Cost
                        th.section-title Revenue Lift
                        th.section-title Potential Upside
                    tr.capital
                        td Working Capital
                        td.cost —
                        td.rev 10%
                        td.upside
                    tr
                        td Additional Sales or Marketing Headcount
                        td.cost $60,000
                        td.rev 10%
                        td.upside
                    tr
                        td Email & Loyalty Marketing
                        td.cost $25,000
                        td.rev 10%
                        td.upside
                    tr
                        td Social Media
                        td.cost $15,000
                        td.rev 5%
                        td.upside
                    tr.ppc
                        td Google Adwords & PPC Management
                        td.cost —
                        td.rev 5%
                        td.upside
                    tr
                        td SEO Services
                        td.cost $25,000
                        td.rev 20%
                        td.upside


    .block.banner
        .container
            .banner-inner
                h1.heading.h1 Ready to save time and money by switching to Ottemo?
                p.text.large BigCommerce Enterprise has the lower cost of ownership, advanced features and premium support you need to get bigger results with less hassle.
                a(href='/contact.html').button.button-big Contact Us

block extraScripts
    script(src="/js/rangeslider.min.js")