extends include/template
block vars
    - var pageId = 'clients-page';
block content
    section.clients-top-section
        .section-wrapper
            .container
                .col-sm-5
                    h1.section-header Ottemo
                        br
                        | Case Studies
                    p.section-description
                        | Maecenas ut nibh et justo condimentum rutrum. Morbi a dapibus nisl. Pellentesque vulputate urna id leo pellentesque

    .case-studies
        .container
            h1.section-header.title Featured Ottemo Clients
            .row
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/cs-rk.jpg", alt="Rich Kids").background
                            img(src="img/logos/richkidsbrand.svg", alt="Rich Kids Logo").client-logo
                        .story-text
                            h1.block-title Rich Kids Brand
                            p.main-text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet.
                            a(href="#").button.button-small Read their story
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/logos/karigran-white.png", alt="Kari Grain Logo").client-logo
                            img(src="img/cs-kg.jpg", alt="Kari Grain").background
                        .story-text
                            h1.block-title Kari Grain
                            p.main-text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet.
                            a(href="#").button.button-small Read their story
            .row
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/logos/poconovapes-white.png", alt="Mt Pocono Vapes Logo").client-logo
                            img(src="img/cs-pv.jpg", alt="Mt Pocono Vapes LLC").background
                        .story-text
                            h1.block-title Mt Pocono Vapes LLC
                            p.main-text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet.
                            a(href="#").button.button-small Read their story
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/logos/southcoastswords-white.png", alt="South Coast Swords Logo").client-logo
                            img(src="img/cs-scs.jpg", alt="South Coast Swords").background
                        .story-text
                            h1.block-title South Coast Swords
                            p.main-text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet.
                            a(href="#").button.button-small Read their story
            .row
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/logos/KnickKnackRecords-white.png", alt="Knick Knack Records Logo").client-logo
                            img(src="img/cs-kkr.jpg", alt="Knick Knack Records").background
                        .story-text
                            h1.block-title Knick Knack Records
                            p.main-text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet.
                            a(href="#").button.button-small Read their story

    //
        section.story-section
            .story-section-wrapper
                .container
                    h1.section-header.l-text-align.center Testimonials
                    p.section-description.l-text-align.center
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        br
                        | Maecenas pharetra pulvinar leo, ut tristique neque fermentum quis. Aliquam pharetra, dui vel volutpat dapibus, metus odio cursus sapien, eu dictum mauris velit at nibh.
                    #owl-testimonials.owl-carousel.owl-theme
                        .item
                            .item-wrapper.clearfix
                                .image-content.col-md-6
                                    img(src="/img/karigrain.png", alt="")
                                .text-content.col-md-6
                                    p.testimonial-text
                                        | Nullam erat nulla, feugiat ac ultrices sit amet, aliquet et nibh. Integer ac malesuada odio. Ut nibh purus, tempus a sollicitudin vitae, fringilla quis ligula. Aliquam consectetur bibendum est, non bibendum erat convallis id. Nam ac lorem vitae metus sollicitudin mattis. Fusce sollicitudin gravida erat sit amet pretium. Phasellus volutpat lacus et nulla ullamcorper convallis. Sed felis libero, rhoncus sit amet turpis ut, aliquet congue felis. Sed pharetra, leo sit amet semper tempor, nibh ex elementum erat, vehicula suscipit risus leo at felis. Phasellus vel vehicula est.
                                    p.author Lisa Strain, Kari Grain
                                    a(href="#").button.button-small Read Story
                        .item
                            .item-wrapper.clearfix
                                .image-content.col-md-7
                                    img(src="/img/pocono.png", alt="")
                                .text-content.col-md-5
                                    p.testimonial-text
                                        | Nam ac lorem vitae metus sollicitudin mattis. Fusce sollicitudin gravida erat sit amet pretium. Phasellus volutpat lacus et nulla ullamcorper convallis. Sed felis libero, rhoncus sit amet turpis ut, aliquet congue felis. Sed pharetra, leo sit amet semper tempor, nibh ex elementum erat, vehicula suscipit risus leo at felis. Phasellus vel vehicula est.
                                    p.author Michael Hendrix, Mt Pocono Vapes LLC
                                    a(href="#").button.button-small Read Story
                        .item
                            .item-wrapper.clearfix
                                .image-content.col-md-6
                                    img(src="/img/southcoast.png", alt="")
                                .text-content.col-md-6
                                    p.testimonial-text
                                        | Nam ac lorem vitae metus sollicitudin mattis. Fusce sollicitudin gravida erat sit amet pretium. Phasellus volutpat lacus et nulla ullamcorper convallis. Sed felis libero, rhoncus sit amet turpis ut, aliquet congue felis. Sed pharetra, leo sit amet semper tempor, nibh ex elementum erat, vehicula suscipit risus leo at felis. Phasellus vel vehicula est.
                                    p.author Jonathan Mayshar, South Coast Swords
                                    a(href="#").button.button-small Read Story

    section.clients-links
        .container
            .client-logo-box
                .logo-box-wrapper
                    a(href="http://richkidsbrand.com")
                        img(src="img/logos/Richkidsbrand.png" alt="richkidsbrand")
            .client-logo-box
                .logo-box-wrapper
                    a(href="http://karigran.com")
                        img(src="img/logos/Karigran.png" alt="karigran logo")
            .client-logo-box
                .logo-box-wrapper
                    a(href="http://poconovapes.com")
                        img(src="img/logos/Poconovapes.png" alt="poconovapes logo")
            .client-logo-box
                .logo-box-wrapper
                    a(href="http://southcoastswords.com")
                        img(src="img/logos/Southcoastswords.png" alt="southcoastswords logo")
            .client-logo-box
                .logo-box-wrapper
                    a(href="http://knickknackrecords.com")
                        img(src="img/logos/KnickKnackRecords.png" alt="KnickKnackRecords logo")