extends include/template
block vars
    - var pageId = 'clients-page';
block content
    section.clients-top-section
        .section-wrapper
            .container
                .col-sm-5
                    h1.section-header Explore our clients and their success stories

    .case-studies
        .container
            h1.section-header.title Featured Ottemo Clients

            .row
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/logos/karigran-white.png", alt="Kari Grain Logo").client-logo
                            img(src="img/cs-kg.jpg", alt="Kari Grain").background
                        .story-text
                            h1.block-title Kari Grain
                            a(href="/case-studies/karigran.html").button.button-small Read their story
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/logos/poconovapes-white.png", alt="Mt Pocono Vapes Logo").client-logo
                            img(src="img/cs-pv.jpg", alt="Mt Pocono Vapes LLC").background
                        .story-text
                            h1.block-title Mt Pocono Vapes LLC
                            a(href="/case-studies/poconovapes.html").button.button-small Read their story
            .row
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/logos/southcoastswords-white.png", alt="South Coast Swords Logo").client-logo
                            img(src="img/cs-scs.jpg", alt="South Coast Swords").background
                        .story-text
                            h1.block-title South Coast Swords
                            //a(href="/case-studies/southcoastswords.html").button.button-small Read their story
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/gk-sc.jpg", alt="Gholkar’s").background
                            img(src="img/logos/gholkars-white.svg", alt="Gholkar’s Logo").client-logo
                        .story-text
                            h1.block-title Gholkar’s
                            //a(href="/case-studies/gholkars.html").button.button-small Read their story
            .row
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/logos/ferastyle-white.png", alt="FERA Logo").client-logo
                            img(src="img/fs-sc.jpg", alt="FERA").background
                        .story-text
                            h1.block-title FERA
                            //a(href="/case-studies/ferastyle.html").button.button-small Read their story
                .col-sm-6
                    .story-block
                        .story-picture
                            img(src="img/cs-rk.jpg", alt="Rich Kids").background
                            img(src="img/logos/richkidsbrand.svg", alt="Rich Kids Logo").client-logo
                        .story-text
                            h1.block-title Rich Kids Brand
                            //a(href="/case-studies/richkidsbrand.html").button.button-small Read their story

    section.clients-links
        .container
            .client-logo-box
                .client-story
                    .story-inner
                        a(href="http://karigran.com").button.button-small Visit site
                .logo-box-wrapper
                   img(src="img/logos/richkids-logo.png" alt="richkidsbrand")
            .client-logo-box
                .client-story
                    .story-inner
                        p
                            | Karigran chose to migrate to Ottemo’s modern unified cloud
                            | platform and saw their sales and conversions soar
                        a(href="http://karigran.com").button.button-small Visit site
                .logo-box-wrapper
                    img(src="img/logos/karigran-logo.png" alt="karigran logo")
            .client-logo-box
                .client-story
                    .story-inner
                        p
                            | Pocono teamed with Ottemo to build a more flexible, faster
                            | and scalable e-commerce site. The new site’s performance is phenomenal.
                        a(href="http://poconovapes.com").button.button-small Visit site
                .logo-box-wrapper
                    img(src="img/logos/poconovapes-logo.png" alt="poconovapes logo")
            .client-logo-box
                .client-story
                    .story-inner
                        p
                            | South Coast Swords chose Ottemo’s high-performance
                            | SaaS platform because they wanted the support they needed to focus on growing sales
                        a(href="http://southcoastswords.com").button.button-small Visit site
                .logo-box-wrapper
                    img(src="img/logos/southcoastswords-logo.png" alt="southcoastswords logo")
            .client-logo-box
                .client-story
                    .story-inner
                        p
                            | Gholkar’s, an established business products and supplies
                            | company wanted to relaunch their site on a modern cloud platform to offer an amazing
                            | customer experience on all devices
                        a(href="http://gholkars.com").button.button-small Visit site
                .logo-box-wrapper
                    img(src="img/logos/gholkars-logo.png" alt="Gholkar's logo")
            .client-logo-box
                .client-story
                    .story-inner
                        p
                            | Ferastyle joined forces with Ottemo to migrate their website to
                            | our premium solution so they have the speed and scalability they needed to grow fast
                        a(href="www.ferastyle.com").button.button-small Visit site
                .logo-box-wrapper
                    img(src="img/logos/ferastyle-logo.png" alt="FERA logo")