extends include/template
block vars
    - var pageId = 'company-page';
    title "About Us"
block content

    .block.article.about-me
        .container
            h1.heading.h1 About Us
            p.text.medium
                | We create adaptable, open commerce
                | products that let our clients and partners respond quickly to changing
                | market conditions and take advantage of new opportunities. At Ottemo,
                | our clients have two major challenges: First, consumers are more
                | demanding of e-commerce sites than ever before. Second, both IT and
                | marketing departments need powerful, cutting-edge software tools that
                | mesh seamlessly with legacy systems and create an engaging
                | customer experience. Ottemo meets these challenges with disruptive
                | technology that helps retailers interact with consumers in innovative
                | ways. We give them the power to rapidly innovate new ideas that help
                | capture market share, increase brand loyalty and build sales.

    .team
        .container
            h1.heading.h1 Ottemo Executive Team
            .team-member
                img(src="img/team/Gavin.jpg", alt="Gavin Smith")
                .member-info
                    .member-name Gavin Smith
                    .member-title Co-founder & CEO
                .member-bio
                    .member-name Gavin Smith
                    .member-title Co-founder & CEO
                    p.text.base
                        | Gavin Co-founded Ottemo in 2013. Gavin is responsible for driving Ottemo's overall
                        | strategic vision and culture while overseeing all facets of the company's operations.
                    p.text.base
                        | Prior to Ottemo, Gavin Co-founded two different e-commerce companies which started his
                        | transition into the e-commerce industry. Gavin's background includes developing and
                        | executing nationwide growth strategies, successfully negotiating the acquisition of key
                        | intellectual property, start-up fundraising and investing.
            .team-member
                img(src="img/team/James.jpg", alt="James Vastbinder")
                .member-info
                    .member-name James Vastbinder
                    .member-title Co-founder & CTO
                .member-bio
                    .member-name James Vastbinder
                    .member-title Co-founder & CTO
                    p.text.base
                        | James Co-founded Ottemo in 2013. Mad scientist, architect, tester and lead tinkerer
                        | who posits trust and culture is the foundation upon which all great teams are built.
                        | James leads by example and at the end of the day, his primary goal is to get stuff done.
            .team-member
                img(src="img/team/Mark.jpg", alt="Mark Swanson")
                .member-info
                    .member-name Mark Swanson
                    .member-title Chief Operating Officer
                .member-bio
                    .member-name Mark Swanson
                    .member-title Chief Operating Officer
                    p.text.base
                        | Mark brings over 30 years in all areas of operations management, with the
                        | last 18 years in eCommerce executive management for homegrocer.com,
                        | onlineshoes.com, zumiez.com and julep.com.
                    p.text.base
                        | Mark has co-designed warehouse and order management systems and has
                        | extensive experience with eCommerce platforms.
            .team-member
                img(src="img/team/Lawrence.jpg", alt="")
                .member-info
                    .member-name Lawrence Lerner
                    .member-title Board Advisor
                .member-bio
                    .member-name Lawrence Lerner
                    .member-title Board Advisor
                    p.text.base
                        | Lawrence I Lerner is a corporate entrepreneur with a keen eye for market relevance.
                        | If you’ve ever received a coupon at more than 31,000 Retailers, used Safeway’s
                        | ‘Just for U’ loyalty card, read the New York Times, made a Discover Card purchase
                        | or bought something from a campus bookstore, he's helped build products and services
                        | that have touched your life.
                    p.text.base
                        | While successfully launching businesses on three continents, he's served as a hands-on
                        | technology leader at PricewaterhouseCoopers, a Venture Partner at Denny Hill Capital
                        | and Board Director at PNI Digital Media (now Staples). Mr. Lerner has over 25 years
                        | of focused Retail expertise helping to shape and build products for Costco, Wal-Mart,
                        | Follett Campus Stores, Dell eCommerce, HEB, Safeway, Debenhams, and many more retailers
                        | around the world. In addition he has strong hands on expertise in Business Operations,
                        | Enterprise Architecture, Payments and User Experience.
            .logo-box
                img(src="img/logos/ottemo-logo.png", alt="Ottemo")
            .team-member
                img(src="img/team/Stan.jpg", alt="Stan Barer")
                .member-info
                    .member-name Stan Barer
                    .member-title Board Advisor
                .member-bio
                    .member-name Stan Barer
                    .member-title Board Advisor
                    p.text.base
                        | Mr. Stanley H. Barer, also known as Stan, serves as Chairman Emeritus of Saltchuk Resources, Inc. Mr.
                        | Barer has an extensive career in public service, including Administrative Assistant to U.S. Senator W. G.
                        | Magnuson and a variety of positions with the U.S. Senate Committee on Commerce. He negotiated the
                        | establishment of reciprocal flag shipping services between the U.S. and the People's Republic of China. He
                        | serves as a Director of Saltchuk Resources, Inc. He served as a Director of The Commerce Bank of
                        | Washington, National Association. He is the recipient of numerous awards, including the Admiral of the
                        | Ocean Sea, the maritime industry's most prestigious recognition. He is a graduate of the University of
                        | Washington School of Law.

    .contact-us-banner.container
        h1.section-header Careers
        p.main-text.accent We're hiring! Let us know a bit about you, and why you would be a great fit.
        a(href="/contact.html").button.button-big Contact Us
