extends include/template
block vars
    - var pageId = 'company-page';
block content

    .team.clearfix
        .team-member
            img(src="img/profile-placeholder.png", alt="")
            .member-info
                .member-name Gavin Smith
                .member-title Co-Founder / CEO
            .member-bio
                .member-name Gavin Smith
                .member-title Co-Founder / CEO
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    | veniam, quis nostrud exercitation ullamco
        .team-member
            img(src="img/profile-placeholder.png", alt="")
            .member-info
                .member-name James Vastbinder
                .member-title Co-Founder / CTO
            .member-bio
                .member-name James Vastbinder
                .member-title Co-Founder / CTO
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    | veniam, quis nostrud exercitation ullamco
        .team-member
            img(src="img/profile-placeholder.png", alt="")
            .member-info
                .member-name Stan Barer
                .member-title Co­founder and Chairman of Emeritus Saltchuk Resources Inc.
            .member-bio
                .member-name Stan Barer
                .member-title Co­founder and Chairman of Emeritus Saltchuk Resources Inc.
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    | veniam, quis nostrud exercitation ullamco
        .team-member
            img(src="img/profile-placeholder.png", alt="")
            .member-info
                .member-name Loretta Soffe
                .member-title Former Executive Vice President, Nordstroms
            .member-bio
                .member-name Loretta Soffe
                .member-title Former Executive Vice President, Nordstroms
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    | veniam, quis nostrud exercitation ullamco
        .team-member
            img(src="img/profile-placeholder.png", alt="")
            .member-info
                .member-name Bob Baldridge
                .member-title Former Owner and CEO, Circuit Technology
            .member-bio
                .member-name Bob Baldridge
                .member-title Former Owner and CEO, Circuit Technology
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    | veniam, quis nostrud exercitation ullamco
        .team-member
            img(src="img/profile-placeholder.png", alt="")
            .member-info
                .member-name Gavin Smith
                .member-title Co-Founder / CEO
            .member-bio
                .member-name Gavin Smith
                .member-title Co-Founder / CEO
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    | veniam, quis nostrud exercitation ullamco


    .contact-us-banner.container
        h1.section-header Jobs
        p.main-text.accent We're hiring! Let us know a bit about you, and why you would be a great fit.
        a(href="/getstarted.html").button.button-big Send Us Your Resume