//
   Created by Evgeniy on 31.01.2017.

extends include/template
block vars
    - var pageId = 'consulting-page';
block content

    section.consulting-top-section
        .section-wrapper
            .container
                .col-sm-5
                    h1.section-header Expert
                        br
                        | Consulting Group
                    p.section-description
                        | Ottemo ECG is the in-house consulting services organization that provides strategic counsel and problem-solving point services.
                    a(href="#").button.button-big Speack to an expert

    .consulting-row
        .container
            .col-sm-4.col-md-6.ps-image-block
                img(src="/img/ps-architecture.svg" alt="Architectural Advisory")
            .col-sm-7.col-sm-offset-1.col-md-6.col-md-offset-0.ps-text-block
                h1.section-header Architectural Advisory
                p.section-description
                    | On-site Ottemo architects assist with architecture planning and decision-making to save time, money, and headaches.
                a(href="#").button.button-big Learn More

    .consulting-row
        .container
            .ps-image-block.mobile
                img(src="/img/ps-business-consulting.svg" alt="Architectural Advisory")
            .col-sm-7.col-md-6.col-md-offset-0.ps-text-block
                h1.section-header Business Analysis Consulting
                p.section-description
                    | Business analysts help you craft native functionality and customizations that extend beyond the capabilities of Ottemo Enterprise Edition.
                a(href="#").button.button-big Learn More
            .col-sm-4.col-sm-offset-1.col-md-6.col-md-offset-0.ps-image-block.not-mobile
                img(src="/img/ps-business-consulting.svg" alt="Architectural Advisory")

    .consulting-row
        .container
            .col-sm-4.col-md-6.ps-image-block
                img(src="/img/ps-code-audit.svg" alt="Code Audit")
            .col-sm-7.col-sm-offset-1.col-md-6.col-md-offset-0.ps-text-block
                h1.section-header Code Audit
                p.section-description
                    | Experts review your Ottemo code and provide recommendations to improve operational stability, security, and upgradeability issues.
                a(href="#").button.button-big Learn More

    .consulting-row
        .container
            .ps-image-block.mobile
                img(src="/img/ps-helth-check.svg" alt="Health Check")
            .col-sm-7.col-md-6.col-md-offset-0.ps-text-block
                h1.section-header Health Check
                p.section-description
                    | Give your site a clean bill of health, with deep code analysis and recommendations for faster page response times, scalability, and more.
                a(href="#").button.button-big Learn More
            .col-sm-4.col-sm-offset-1.col-md-6.col-md-offset-0.ps-image-block.not-mobile
                img(src="/img/ps-helth-check.svg" alt="Health Check")

    .consulting-row
        .container
            .col-sm-4.col-md-6.ps-image-block
                img(src="/img/ps-perfomance.svg" alt="Performance Review")
            .col-sm-7.col-sm-offset-1.col-md-6.col-md-offset-0.ps-text-block
                h1.section-header Performance Review
                p.section-description
                    | Can your site perform under stress? This performance review improves response times and identifies bottlenecks.
                a(href="#").button.button-big Learn More

    .consulting-row
        .container
            .ps-image-block.mobile
                img(src="/img/ps-prefered-service.svg" alt="Preferred Service")
            .col-sm-7.col-md-6.col-md-offset-0.ps-text-block
                h1.section-header Preferred Service
                p.section-description
                    | Make your site the very best it can be, with expert evaluation and analysis to improve readiness, stability, and security.
                a(href="#").button.button-big Learn More
            .col-sm-4.col-sm-offset-1.col-md-6.col-md-offset-0.ps-image-block.not-mobile
                img(src="/img/ps-prefered-service.svg" alt="Preferred Service")

    .consulting-row
        .container
            .col-sm-4.col-md-6.ps-image-block
                img(src="/img/ps-tam.svg" alt="Technical Account Manager (TAM)")
            .col-sm-7.col-sm-offset-1.col-md-6.col-md-offset-0.ps-text-block
                h1.section-header Technical Account Manager (TAM)
                p.section-description
                    | Your TAM will guide your business teams through roadmap decisions, help with budgets and goals, and identify and mitigate operational risks.
                a(href="#").button.button-big Learn More

    .consulting-row
        .container
            .ps-image-block.mobile
                img(src="/img/ps-tech-consulting.svg" alt="Technical Consulting")
            .col-sm-7.col-md-6.col-md-offset-0.ps-text-block
                h1.section-header Technical Consulting
                p.section-description
                    | Give your implementation a boost by adding a dedicated technical consultant who is well versed in Ottemo standards.
                a(href="#").button.button-big Learn More
            .col-sm-4.col-sm-offset-1.col-md-6.col-md-offset-0.ps-image-block.not-mobile
                img(src="/img/ps-tech-consulting.svg" alt="Technical Consulting")

    .consulting-row
        .container
            .col-sm-4.col-md-6.ps-image-block
                img(src="/img/ps-upgrade.svg" alt="Upgrade Implementation")
            .col-sm-7.col-sm-offset-1.col-md-6.col-md-offset-0.ps-text-block
                h1.section-header Upgrade Implementation
                p.section-description
                    | Upgrade your Ottemo site to the latest release, and reduce your site's dependency on custom or suboptimal code.
                a(href="#").button.button-big Learn More
