extends include/template
block vars
    - var pageId = 'contact-page';
block content

    .contacts-top
        .container
            h1.heading.h1 CONTACT US
            p.text.large
                | Have a comment or question? Get in touch!

    section.contact-form-section
        .container
            .contact-form-box

                // www.123contactform.com script begins here
                script(type='text/javascript', defer='', src='//www.123contactform.com/embed/2575257.js', data-role='form')
                // www.123contactform.com script ends here

    .bottom-banner

    .block.article.company-address
        .container
            span Ottemo, Inc.
            span 1205 N 10th Pl
            span Renton, WA 98057 #2209

    .block.banner
        .banner-inner.container
            h1.heading.h1 OTTEMO ENTERPRISE SALES:
            a(href='mailto:info@ottemo.io').button.button-big info@ottemo.io