extends include/template
block vars
    - var pageId = 'contact-page';
block content

    .contacts-top
        .container
            h1.heading.h1 CONTACT US
            p.text.large
                | Have a comment or question? Get in touch!

    section.contact-form-section
        .container
            // Begin MailChimp Signup Form
            #mc_embed_signup.contact-form-box
                form#mc-embedded-subscribe-form.validate(action='//ottemo.us3.list-manage.com/subscribe/post?u=06234e0e565e218e32eaef8c7&id=b5a57c9c13', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                    #mc_embed_signup_scroll
                        .row
                            .col-sm-6
                                input#mce-FNAME.form-field.required(type='text', placeholder='First Name', value='', name='FNAME')
                            .col-sm-6
                                input#mce-LNAME.form-field.required(type='text', placeholder='Last Name', value='', name='LNAME')
                        .row
                            .col-sm-6
                                input#mce-TITLE.form-field(type='text', placeholder='Title', value='', name='TITLE')
                            .col-sm-6
                                input#mce-EMAIL.form-field.required(type='email', placeholder='Email', value='', name='EMAIL')
                        .row
                            .col-sm-6
                                input#mce-PHONE.form-field.required(type='text', placeholder='Phone', name='PHONE', value='')
                            .col-sm-6
                                input#mce-COMPANY.form-field(type='text', placeholder='Company', value='', name='COMPANY')
                        .row
                            .col-sm-6
                                .select-wrapper
                                    p(data-default-text='Country').select-label Country
                                    select#mce-COUNTRY.select-element.required(name='COUNTRY')
                                        option(value='')
                                        option(value='United States of America') United States of America
                                        option(value='Aaland Islands') Aaland Islands
                                        option(value='Afghanistan') Afghanistan
                                        option(value='Albania') Albania
                                        option(value='Algeria') Algeria
                                        option(value='American Samoa') American Samoa
                                        option(value='Andorra') Andorra
                                        option(value='Angola') Angola
                                        option(value='Anguilla') Anguilla
                                        option(value='Antarctica') Antarctica
                                        option(value='Antigua And Barbuda') Antigua And Barbuda
                                        option(value='Argentina') Argentina
                                        option(value='Armenia') Armenia
                                        option(value='Aruba') Aruba
                                        option(value='Australia') Australia
                                        option(value='Austria') Austria
                                        option(value='Azerbaijan') Azerbaijan
                                        option(value='Bahamas') Bahamas
                                        option(value='Bahrain') Bahrain
                                        option(value='Bangladesh') Bangladesh
                                        option(value='Barbados') Barbados
                                        option(value='Belarus') Belarus
                                        option(value='Belgium') Belgium
                                        option(value='Belize') Belize
                                        option(value='Benin') Benin
                                        option(value='Bermuda') Bermuda
                                        option(value='Bhutan') Bhutan
                                        option(value='Bolivia') Bolivia
                                        option(value='Bosnia and Herzegovina') Bosnia and Herzegovina
                                        option(value='Botswana') Botswana
                                        option(value='Bouvet Island') Bouvet Island
                                        option(value='Brazil') Brazil
                                        option(value='British Indian Ocean Territory') British Indian Ocean Territory
                                        option(value='Brunei Darussalam') Brunei Darussalam
                                        option(value='Bulgaria') Bulgaria
                                        option(value='Burkina Faso') Burkina Faso
                                        option(value='Burundi') Burundi
                                        option(value='Cambodia') Cambodia
                                        option(value='Cameroon') Cameroon
                                        option(value='Canada') Canada
                                        option(value='Cape Verde') Cape Verde
                                        option(value='Cayman Islands') Cayman Islands
                                        option(value='Central African Republic') Central African Republic
                                        option(value='Chad') Chad
                                        option(value='Chile') Chile
                                        option(value='China') China
                                        option(value='Christmas Island') Christmas Island
                                        option(value='Cocos (Keeling) Islands') Cocos (Keeling) Islands
                                        option(value='Colombia') Colombia
                                        option(value='Comoros') Comoros
                                        option(value='Congo') Congo
                                        option(value='Cook Islands') Cook Islands
                                        option(value='Costa Rica') Costa Rica
                                        option(value="Cote D'Ivoire") Cote D'Ivoire
                                        option(value='Croatia') Croatia
                                        option(value='Cuba') Cuba
                                        option(value='Curacao') Curacao
                                        option(value='Cyprus') Cyprus
                                        option(value='Czech Republic') Czech Republic
                                        option(value='Democratic Republic of the Congo') Democratic Republic of the Congo
                                        option(value='Denmark') Denmark
                                        option(value='Djibouti') Djibouti
                                        option(value='Dominica') Dominica
                                        option(value='Dominican Republic') Dominican Republic
                                        option(value='Ecuador') Ecuador
                                        option(value='Egypt') Egypt
                                        option(value='El Salvador') El Salvador
                                        option(value='Equatorial Guinea') Equatorial Guinea
                                        option(value='Eritrea') Eritrea
                                        option(value='Estonia') Estonia
                                        option(value='Ethiopia') Ethiopia
                                        option(value='Falkland Islands') Falkland Islands
                                        option(value='Faroe Islands') Faroe Islands
                                        option(value='Fiji') Fiji
                                        option(value='Finland') Finland
                                        option(value='France') France
                                        option(value='French Guiana') French Guiana
                                        option(value='French Polynesia') French Polynesia
                                        option(value='French Southern Territories') French Southern Territories
                                        option(value='Gabon') Gabon
                                        option(value='Gambia') Gambia
                                        option(value='Georgia') Georgia
                                        option(value='Germany') Germany
                                        option(value='Ghana') Ghana
                                        option(value='Gibraltar') Gibraltar
                                        option(value='Greece') Greece
                                        option(value='Greenland') Greenland
                                        option(value='Grenada') Grenada
                                        option(value='Guadeloupe') Guadeloupe
                                        option(value='Guam') Guam
                                        option(value='Guatemala') Guatemala
                                        option(value='Guernsey') Guernsey
                                        option(value='Guinea') Guinea
                                        option(value='Guinea-Bissau') Guinea-Bissau
                                        option(value='Guyana') Guyana
                                        option(value='Haiti') Haiti
                                        option(value='Heard and Mc Donald Islands') Heard and Mc Donald Islands
                                        option(value='Honduras') Honduras
                                        option(value='Hong Kong') Hong Kong
                                        option(value='Hungary') Hungary
                                        option(value='Iceland') Iceland
                                        option(value='India') India
                                        option(value='Indonesia') Indonesia
                                        option(value='Iran') Iran
                                        option(value='Iraq') Iraq
                                        option(value='Ireland') Ireland
                                        option(value='Isle of Man') Isle of Man
                                        option(value='Israel') Israel
                                        option(value='Italy') Italy
                                        option(value='Jamaica') Jamaica
                                        option(value='Japan') Japan
                                        option(value='Jersey  (Channel Islands)') Jersey  (Channel Islands)
                                        option(value='Jordan') Jordan
                                        option(value='Kazakhstan') Kazakhstan
                                        option(value='Kenya') Kenya
                                        option(value='Kiribati') Kiribati
                                        option(value='Kuwait') Kuwait
                                        option(value='Kyrgyzstan') Kyrgyzstan
                                        option(value="Lao People's Democratic Republic") Lao People's Democratic Republic
                                        option(value='Latvia') Latvia
                                        option(value='Lebanon') Lebanon
                                        option(value='Lesotho') Lesotho
                                        option(value='Liberia') Liberia
                                        option(value='Libya') Libya
                                        option(value='Liechtenstein') Liechtenstein
                                        option(value='Lithuania') Lithuania
                                        option(value='Luxembourg') Luxembourg
                                        option(value='Macau') Macau
                                        option(value='Macedonia') Macedonia
                                        option(value='Madagascar') Madagascar
                                        option(value='Malawi') Malawi
                                        option(value='Malaysia') Malaysia
                                        option(value='Maldives') Maldives
                                        option(value='Mali') Mali
                                        option(value='Malta') Malta
                                        option(value='Marshall Islands') Marshall Islands
                                        option(value='Martinique') Martinique
                                        option(value='Mauritania') Mauritania
                                        option(value='Mauritius') Mauritius
                                        option(value='Mayotte') Mayotte
                                        option(value='Mexico') Mexico
                                        option(value='Micronesia, Federated States of') Micronesia, Federated States of
                                        option(value='Moldova, Republic of') Moldova, Republic of
                                        option(value='Monaco') Monaco
                                        option(value='Mongolia') Mongolia
                                        option(value='Montenegro') Montenegro
                                        option(value='Montserrat') Montserrat
                                        option(value='Morocco') Morocco
                                        option(value='Mozambique') Mozambique
                                        option(value='Myanmar') Myanmar
                                        option(value='Namibia') Namibia
                                        option(value='Nauru') Nauru
                                        option(value='Nepal') Nepal
                                        option(value='Netherlands') Netherlands
                                        option(value='Netherlands Antilles') Netherlands Antilles
                                        option(value='New Caledonia') New Caledonia
                                        option(value='New Zealand') New Zealand
                                        option(value='Nicaragua') Nicaragua
                                        option(value='Niger') Niger
                                        option(value='Nigeria') Nigeria
                                        option(value='Niue') Niue
                                        option(value='Norfolk Island') Norfolk Island
                                        option(value='North Korea') North Korea
                                        option(value='Northern Mariana Islands') Northern Mariana Islands
                                        option(value='Norway') Norway
                                        option(value='Oman') Oman
                                        option(value='Pakistan') Pakistan
                                        option(value='Palau') Palau
                                        option(value='Palestine') Palestine
                                        option(value='Panama') Panama
                                        option(value='Papua New Guinea') Papua New Guinea
                                        option(value='Paraguay') Paraguay
                                        option(value='Peru') Peru
                                        option(value='Philippines') Philippines
                                        option(value='Pitcairn') Pitcairn
                                        option(value='Poland') Poland
                                        option(value='Portugal') Portugal
                                        option(value='Puerto Rico') Puerto Rico
                                        option(value='Qatar') Qatar
                                        option(value='Republic of Kosovo') Republic of Kosovo
                                        option(value='Reunion') Reunion
                                        option(value='Romania') Romania
                                        option(value='Russia') Russia
                                        option(value='Rwanda') Rwanda
                                        option(value='Saint Kitts and Nevis') Saint Kitts and Nevis
                                        option(value='Saint Lucia') Saint Lucia
                                        option(value='Saint Vincent and the Grenadines') Saint Vincent and the Grenadines
                                        option(value='Samoa (Independent)') Samoa (Independent)
                                        option(value='San Marino') San Marino
                                        option(value='Sao Tome and Principe') Sao Tome and Principe
                                        option(value='Saudi Arabia') Saudi Arabia
                                        option(value='Senegal') Senegal
                                        option(value='Serbia') Serbia
                                        option(value='Seychelles') Seychelles
                                        option(value='Sierra Leone') Sierra Leone
                                        option(value='Singapore') Singapore
                                        option(value='Sint Maarten') Sint Maarten
                                        option(value='Slovakia') Slovakia
                                        option(value='Slovenia') Slovenia
                                        option(value='Solomon Islands') Solomon Islands
                                        option(value='Somalia') Somalia
                                        option(value='South Africa') South Africa
                                        option(value='South Georgia and the South Sandwich Islands') South Georgia and the South Sandwich Islands
                                        option(value='South Korea') South Korea
                                        option(value='South Sudan') South Sudan
                                        option(value='Spain') Spain
                                        option(value='Sri Lanka') Sri Lanka
                                        option(value='St. Helena') St. Helena
                                        option(value='St. Pierre and Miquelon') St. Pierre and Miquelon
                                        option(value='Sudan') Sudan
                                        option(value='Suriname') Suriname
                                        option(value='Svalbard and Jan Mayen Islands') Svalbard and Jan Mayen Islands
                                        option(value='Swaziland') Swaziland
                                        option(value='Sweden') Sweden
                                        option(value='Switzerland') Switzerland
                                        option(value='Syria') Syria
                                        option(value='Taiwan') Taiwan
                                        option(value='Tajikistan') Tajikistan
                                        option(value='Tanzania') Tanzania
                                        option(value='Thailand') Thailand
                                        option(value='Timor-Leste') Timor-Leste
                                        option(value='Togo') Togo
                                        option(value='Tokelau') Tokelau
                                        option(value='Tonga') Tonga
                                        option(value='Trinidad and Tobago') Trinidad and Tobago
                                        option(value='Tunisia') Tunisia
                                        option(value='Turkey') Turkey
                                        option(value='Turkmenistan') Turkmenistan
                                        option(value='Turks & Caicos Islands') Turks & Caicos Islands
                                        option(value='Turks and Caicos Islands') Turks and Caicos Islands
                                        option(value='Tuvalu') Tuvalu
                                        option(value='Uganda') Uganda
                                        option(value='Ukraine') Ukraine
                                        option(value='United Arab Emirates') United Arab Emirates
                                        option(value='United Kingdom') United Kingdom
                                        option(value='Uruguay') Uruguay
                                        option(value='USA Minor Outlying Islands') USA Minor Outlying Islands
                                        option(value='Uzbekistan') Uzbekistan
                                        option(value='Vanuatu') Vanuatu
                                        option(value='Vatican City State (Holy See)') Vatican City State (Holy See)
                                        option(value='Venezuela') Venezuela
                                        option(value='Vietnam') Vietnam
                                        option(value='Virgin Islands (British)') Virgin Islands (British)
                                        option(value='Virgin Islands (U.S.)') Virgin Islands (U.S.)
                                        option(value='Wallis and Futuna Islands') Wallis and Futuna Islands
                                        option(value='Western Sahara') Western Sahara
                                        option(value='Yemen') Yemen
                                        option(value='Zambia') Zambia
                                        option(value='Zimbabwe') Zimbabwe
                            .col-sm-6
                                .select-wrapper.disabled
                                    p(data-default-text='State/Province').select-label State/Province
                                    select#mce-STATE.select-element.required(name='STATE' disabled)
                                        option(value='')
                                        option(value='Alabama') Alabama
                                        option(value='Alaska') Alaska
                                        option(value='Arizona') Arizona
                                        option(value='Arkansas') Arkansas
                                        option(value='California') California
                                        option(value='Colorado') Colorado
                                        option(value='Connecticut') Connecticut
                                        option(value='Delaware') Delaware
                                        option(value='Florida') Florida
                                        option(value='Georgia') Georgia
                                        option(value='Hawaii') Hawaii
                                        option(value='Idaho') Idaho
                                        option(value='Illinois') Illinois
                                        option(value='Indiana') Indiana
                                        option(value='Iowa') Iowa
                                        option(value='Kansas') Kansas
                                        option(value='Kentucky') Kentucky
                                        option(value='Louisiana') Louisiana
                                        option(value='Maine') Maine
                                        option(value='Maryland') Maryland
                                        option(value='Massachusetts') Massachusetts
                                        option(value='Michigan') Michigan
                                        option(value='Minnesota') Minnesota
                                        option(value='Mississippi') Mississippi
                                        option(value='Missouri') Missouri
                                        option(value='Montana') Montana
                                        option(value='Nebraska') Nebraska
                                        option(value='Nevada') Nevada
                                        option(value='New Hampshire') New Hampshire
                                        option(value='New Jersey') New Jersey
                                        option(value='New Mexico') New Mexico
                                        option(value='New York') New York
                                        option(value='North Carolina') North Carolina
                                        option(value='North Dakota') North Dakota
                                        option(value='Ohio') Ohio
                                        option(value='Oklahoma') Oklahoma
                                        option(value='Oregon') Oregon
                                        option(value='Pennsylvania') Pennsylvania
                                        option(value='Rhode Island') Rhode Island
                                        option(value='South Carolina') South Carolina
                                        option(value='South Dakota') South Dakota
                                        option(value='Tennessee') Tennessee
                                        option(value='Texas') Texas
                                        option(value='Utah') Utah
                                        option(value='Vermont') Vermont
                                        option(value='Virginia') Virginia
                                        option(value='Washington') Washington
                                        option(value='Washington D.C.') Washington D.C.
                                        option(value='West Virginia') West Virginia
                                        option(value='Wisconsin') Wisconsin
                                        option(value='Wyoming') Wyoming
                        .row
                            .col-sm-6
                                .select-wrapper
                                    p(data-default-text='Organization Type').select-label Organization Type
                                    select#mce-ORGANIZATI.select-element.required(name='ORGANIZATI')
                                        option(value='')
                                        option(value='Retailer') Retailer
                                        option(value='Brand Manufacturer') Brand Manufacturer
                                        option(value='Integrator') Integrator
                                        option(value='Design Agency') Design Agency
                                        option(value='Technology Vendor') Technology Vendor
                                        option(value='Other') Other
                            .col-sm-6
                                .select-wrapper
                                    p(data-default-text='Inquire Type').select-label Inquire Type
                                    select#mce-INQUIRE.select-element.required(name='INQUIRE')
                                        option(value='')
                                        option(value='General') General
                                        option(value='Sales') Sales
                                        option(value='Media/Press') Media/Press
                                        option(value='Other') Other
                        .row
                            .col-sm-12
                                textarea#mce-MESSAGE.form-field(rows='6', maxlength='256', placeholder='Comments', name='MESSAGE')
                        #mce-responses.clear
                            #mce-error-response.response(style='display:none')
                            #mce-success-response.response(style='display:none')
                        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        div(style='position: absolute; left: -5000px;', aria-hidden='true')
                            input(type='text', name='b_06234e0e565e218e32eaef8c7_b5a57c9c13', tabindex='-1', value='')
                        .clear.col-sm-12.l-text-align.center
                            input#mc-embedded-subscribe.button.button-big(type='submit', value='Send', name='subscribe')
            // End mc_embed_signup


    .banner