extends include/template

block content
    .two-column-layout.container
        .navigation-sidebar.col-lg-2
            nav
                ul
                    li.nav-item.active
                        a(href='#') Payments
                    li.nav-item
                        a(href='#') Operations
                    li.nav-item
                        a(href='#') Design
                    li.nav-item
                        a(href='#') Marketing
                    li.nav-item
                        a(href='#') Infrastructure
                    li.nav-item
                        a(href='#') Subscriptions
        .page-content.col-lg-10
            section.section.diagonal
                .text-content.col-lg-8
                    h1.section-header We offer the top payment gateways
                    h2.section-header-l2 Nulla nisi nulla, feugiat non hendrerit eu, lacinia vel ante.
                    p.main-text.accent
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet. Cras egestas rhoncus mi eu tincidunt. Phasellus pretium suscipit imperdiet. Quisque cursus pellentesque efficitur. Suspendisse mollis elementum neque fringilla feugiat. Etiam quis volutpat nunc, ut condimentum sapien.
                .image-content.col-lg-4
                    img(src='img/features-payment-image.png', alt='')
            section
                .row
                    .col-lg-6
                        h1.block-title Authorize.net
                        p.main-text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie augue quis ante placerat, feugiat tristique orci laoreet. Cras egestas rhoncus mi eu tincidunt. Phasellus pretium suscipit imperdiet. Quisque cursus pellentesque efficitur. Suspendisse mollis elementum neque fringilla feugiat. Etiam quis volutpat nunc, ut condimentum sapien. Vestibulum tincidunt turpis purus, a viverra ipsum tincidunt in. Sed leo purus, ultricies at vestibulum sed, euismod eget lacus. In aliquam ligula et est placerat pretium.
                    .col-lg-6
                        h1.block-title Paypal
                        p.main-text
                            | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent id massa viverra, semper est non, sodales lorem. Quisque aliquet sagittis quam at porttitor.
                .row
                    .col-lg-6
                        h1.block-title Paypal pro
                        p.main-text
                            | Nam lacinia lobortis dui, id tempus magna mattis quis. Maecenas tincidunt et diam ut molestie. Nam eget fermentum lorem, et tempus quam. In massa tellus, dapibus vel ultrices at, hendrerit sit amet lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam consectetur interdum mi, id rhoncus velit facilisis id. Nam lobortis tempus lacinia.
                    .col-lg-6
                        h1.block-title Stripe
                        p.main-text
                            | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent id massa viverra, semper est non, sodales lorem. Quisque aliquet sagittis quam at porttitor. Cras a ornare libero. Pellentesque aliquet velit aliquam mauris aliquet, sit amet finibus urna malesuada. Aenean in orci consequat, vehicula magna non, tempor massa. Mauris gravida sed tortor at maximus. Integer faucibus nulla semper lectus porta rhoncus ac in tellus.
