extends include/template

block content
    section#main-section.section.main-section
        .container.full-height
            .block-container-inner.l-vertical-align
                .block-two-side
                    .content
                        h1.hero-caption
                            | The Unified
                            | Commerce Platform
                        p.hero-description
                            | A unified commerce experience across mobile,
                            br
                            |                         web and store all in real-time
                        a.button.button-big(href='#') Learn More

    section.section.section-capabilities.scroll-to-section
        .section-wrapper
            .section-header-wrapper
                h1.section-header
                    | Commerce is expensive,
                    br
                    |                         complex and slow.  We're here to change that
            .section-content-wrapper
                .container
                    .block-image-side
                        img(src='../img/ipad-capabilities.png', alt='')
                    .block-text-side
                        ul
                            li Commerce
                            li Site Search
                            li Analytics
                            li Order Management
                            li One-to-One Personalization

    section.section.section-features
        .container.full-height
            .block-container-inner.l-vertical-align
                .block-two-side
                    .content
                        .feature-block
                            h1.block-title Lightning Fast Store
                            p.block-description
                                | Ottemo is architected for high performance. We handle hosting, scaling, integration touch points for you. Now you can rest assured that you are serving up the fastest possible Digital Commerce experience.
                        .feature-block
                            h1.block-title Unified Commerce Model
                            p.block-description
                                | Connecting data and cloud to navigate your digital transformation using mobile-first engagement and one-to-one personalization to provide a seamless customer experience across all touchpoints.
                        .feature-block
                            h1.block-title Scales Effortlessly
                            p.block-description
                                | Ottemo makes growing your online business a breeze. Hosted and managed by our experts in the cloud, your site is able to scale from small business to enterprise size without ever having to upgrade or switch platforms.
                        .feature-block
                            h1.block-title Real-Time Engagement
                            p.block-description
                                | With real-time analytics you'll be able to respond to your customers with time relevant context. Make informed decisions and engage them with confidence.
                        a.button.button-big.dark-bg(href='#') View All Features

    section.section.section-testimonials
        .container
            .carousel-wrapper
                #owl-demo.owl-carousel.owl-theme
                    .item
                        .text-content
                            h1.testimonial-title
                                | Lorem ipsum
                                br
                                |  dolor sit amet consectetur
                            p.testimonial-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ea error illum
                            p.testimonial-text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi explicabo minus qui? Accusamus earum iure maiores necessitatibus nihil odit possimus quidem quisquam ratione rem! Eaque in ipsum rem sequi.
                            p.author John Smith
                        .image-content
                            img(src='../img/iPhone_engine.png', alt='')
                    .item
                        .text-content
                            h1.testimonial-title Lorem ipsum dolor sit amet
                            p.testimonial-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ea error illum
                            p.testimonial-text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi explicabo minus qui? Accusamus earum iure maiores necessitatibus nihil odit possimus quidem quisquam ratione rem! Eaque in ipsum rem sequi.
                            p.author John Smith
                        .image-content
                            img(src='../img/testimonials-img-01.png', alt='')
                    .item
                        .text-content
                            h1.testimonial-title Lorem ipsum dolor sit amet
                            p.testimonial-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ea error illum
                            p.testimonial-text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi explicabo minus qui? Accusamus earum iure maiores necessitatibus nihil odit possimus quidem quisquam ratione rem! Eaque in ipsum rem sequi.
                            p.author John Smith
                        .image-content
                            img(src='../img/testimonials-img-01.png', alt='')

    section.section.section-blog
        .featured-block
            h2.block-title Featured in
            a(href='#')
                img(src='../img/GeekWire-logo-transparent.png', alt='GeekWire logo')
        .container
            .l-block-two-side.clearfix
                .l-block-side.l-align-left
                    .post-wrapper
                        .post-picture
                            img(src='img/hp_computer.jpg', alt='')
                        h1.post-title The Tools Your Business Needs
                        p.post-description
                            | By delivering a full suite of digital business solutions we can string together your islands of old technology and help you with your unified commerce needs. Grow your business to become as efficient as possible.
                        a.button.button-big(href='#') More features
                .l-block-side.l-align-right
                    .post-wrapper
                        .post-picture
                            img(src='img/tabs2_slide1.jpg', alt='')
                        h1.post-title Built With You In Mind
                        p.post-description
                            | We took the time to build a platform that grows with you. Imagine a unified experience across all customer touchpoints, more agile, mobile responsive, and secure. Ready for a solution that works with you instead of against you? Then drop us an email.
                        a.button.button-big(href='#') Contact Us
