extends include/template
block content

    section.section-migrate-top
        .top-section-wrapper
            .top-section-inner
                .container
                    .mobile-image.col-sm-6
                        img(src="/img/MagentoDif.png")
                    .col-sm-6
                        h1.section-header Magento Migrate
                        p.main-text.accent Donec euismod ante eget ligula tincidunt iaculis. Nulla eu felis varius, ornare leo non, lacinia lorem. Sed pretium ultrices venenatis.

    section.differentiator-section
        .container
            h1.section-header The Ottemo Difference
            p.main-text.accent Nam sagittis lectus dapibus condimentum tincidunt. Praesent viverra feugiat libero, non tincidunt ipsum. Donec magna mi, pulvinar nec nisl eu, consectetur blandit odio. Nullam mattis scelerisque nunc in placerat. Donec ac nunc elementum, scelerisque nibh in, vehicula lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            p.main-text Sed sem enim, venenatis a hendrerit vitae, maximus eget metus. Maecenas tincidunt, arcu id placerat cursus, lacus metus scelerisque nisl, sed iaculis metus erat eget lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi vestibulum eros a urna feugiat, non tincidunt felis pretium. Aenean semper, magna a aliquet pellentesque, est nibh porttitor nulla, non faucibus massa quam a nulla. Phasellus nec volutpat sem. Duis tincidunt, nisi ut pretium pharetra, mi nisi varius orci, ac luctus odio tellus id nisi. Vestibulum sed diam fermentum, efficitur tortor vitae, vehicula eros. Aenean id diam nec velit egestas fringilla in ut nisi. Nulla fringilla tincidunt metus, nec finibus mi egestas ut. Aenean et congue urna. Nulla facilisi. Integer in orci in eros porta pharetra vel eget risus. Sed cursus elementum commodo.
            .differentiator.col-md-6
                h2.section-header-l2.tab-icon Differentiator 1
                p.main-text Morbi in lorem accumsan, maximus metus bibendum, lobortis lacus. Aliquam dictum rutrum sem. Pellentesque pellentesque risus quis ante imperdiet, sed euismod libero egestas. Etiam volutpat tellus in nisi consectetur scelerisque. In sit amet arcu vel augue iaculis ornare. Suspendisse rhoncus sit amet lectus luctus varius. Vestibulum sed diam fermentum, efficitur tortor vitae, vehicula eros. Aenean id diam nec velit egestas fringilla in ut nisi. Nulla fringilla tincidunt metus, nec finibus mi egestas ut. Aenean et congue urna. Nulla facilisi. Integer in orci in eros porta pharetra vel eget risus. Sed cursus elementum commodo.

            .differentiator.col-md-6
                h2.section-header-l2.tab-icon Differentiator 2
                p.main-text
                    strong Vestibulum cursus metus at pellentesque imperdiet.
                    | Vestibulum maximus ante lacinia, imperdiet nunc quis, pellentesque tortor. Sed gravida odio id sapien fringilla, et cursus diam accumsan. Suspendisse lacinia efficitur nulla a dapibus. Sed non leo ac ligula maximus condimentum malesuada quis tortor. Suspendisse id augue vulputate massa efficitur pretium quis vel velit. Pellentesque laoreet blandit dui. In posuere erat metus, id ornare odio finibus sed. Morbi ut mattis magna. Fusce aliquet risus vitae velit suscipit facilisis. Praesent tempus ante a risus congue, commodo rutrum ex pretium. Aliquam erat volutpat.
                p.main-text Donec euismod ante eget ligula tincidunt iaculis. Nulla eu felis varius, ornare leo non, lacinia lorem. Sed pretium ultrices venenatis. Nullam non pellentesque enim. Aliquam eleifend magna vel lorem finibus, nec lobortis ex finibus. Nam sed tortor pulvinar, ultricies risus in, pellentesque nisi. In hac habitasse platea dictumst.
            .differentiator.col-md-6
                h2.section-header-l2.tab-icon Differentiator 3
                p.main-text Morbi in lorem accumsan, maximus metus bibendum, lobortis lacus. Aliquam dictum rutrum sem. Pellentesque pellentesque risus quis ante imperdiet, sed euismod libero egestas. Etiam volutpat tellus in nisi consectetur scelerisque. In sit amet arcu vel augue iaculis ornare. Suspendisse rhoncus sit amet lectus luctus varius.
            .differentiator.col-md-6
                h2.section-header-l2.tab-icon Differentiator 4
                p.main-text Vestibulum cursus metus at pellentesque imperdiet. Vestibulum maximus ante lacinia, imperdiet nunc quis, pellentesque tortor. Sed gravida odio id sapien fringilla, et cursus diam accumsan.
                    strong Suspendisse lacinia efficitur nulla a dapibus.
                    | Sed non leo ac ligula maximus condimentum malesuada quis tortor. Suspendisse id augue vulputate massa efficitur pretium quis vel velit. Pellentesque laoreet blandit dui. In posuere erat metus, id ornare odio finibus sed. Morbi ut mattis magna. Fusce aliquet risus vitae velit suscipit facilisis. Praesent tempus ante a risus congue, commodo rutrum ex pretium. Aliquam erat volutpat.
                p.main-text Donec euismod ante eget ligula tincidunt iaculis. Nulla eu felis varius, ornare leo non, lacinia lorem. Sed pretium ultrices venenatis. Nullam non pellentesque enim. Aliquam eleifend magna vel lorem finibus, nec lobortis ex finibus. Nam sed tortor pulvinar, ultricies risus in, pellentesque nisi. In hac habitasse platea dictumst.


    section.story-section
        .story-section-wrapper
            .container
                h1.section-header.l-text-align.center KG quote & story
                .item-wrapper.clearfix
                    .image-content.col-md-6
                        img(src="/img/karigrain.png", alt="")
                    .text-content.col-md-6
                        p.testimonial-text
                            | Nullam erat nulla, feugiat ac ultrices sit amet, aliquet et nibh. Integer ac malesuada odio. Ut nibh purus, tempus a sollicitudin vitae, fringilla quis ligula. Aliquam consectetur bibendum est, non bibendum erat convallis id. Nam ac lorem vitae metus sollicitudin mattis. Fusce sollicitudin gravida erat sit amet pretium. Phasellus volutpat lacus et nulla ullamcorper convallis. Sed felis libero, rhoncus sit amet turpis ut, aliquet congue felis. Sed pharetra, leo sit amet semper tempor, nibh ex elementum erat, vehicula suscipit risus leo at felis. Phasellus vel vehicula est.
                        p.author Lisa Strain, Kari Grain

    section.wizard-section
        .container
            h1.section-header.l-text-align.center Ease of migration using Ottemo Wizard
            p.main-text.accent Donec ac nunc elementum, scelerisque nibh in, vehicula lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            img(src="img/inDevepopment.png")