//
   Created by Evgeniy on 27.01.2017.

extends include/template
block vars
    - var pageId = 'ottemo-commerce-cloud-page';
block content
    .block.hero
        .container
            h1.hero-header-1 Ottemo
            h2.hero-header-2 Commerce Cloud
            h3.hero-header-3 Faster, Better, Less Hassle
            a(href="/contact.html").button.button-big Get Started

    .container
        h1.section-header.l-text-align.center
            | The World's Most Powerful
            br
            | Cloud Commerce Platform
        p.hero-rext.medium
            | Take advantage of the best-in-class technologies and limitless flexibility of Ottemo Commerce Cloud.
            | You enjoy world-class scalability, reliability, and performance giving your business the competitive
            | edge while reducing costs by 75%. Ottemo is precision engineered with a speed-optimized front-end
            | and lighting fast cloud servers to improve your customers experience more than any other factor,
            | giving them the confidence to spend more and return again and again. Own the experience instead of
            | having the burden of owning infrastructure. It’s all possible with the Ottemo Commerce Cloud.


    .image-block
        img(src="/img/ece-main-image.jpg")

    section.keep-simple-section
        .section-wrapper
            .container
                .col-md-6
                    h1.section-header
                        | Ottemo Does
                        br
                        | The Heavy Lifting
                    p.section-description.medium
                        | Never worry again about monitoring servers, handling upgrades or implementing security.
                        | Ottemo Commerce Cloud managed service gives you future-proof infrastructure and cloud
                        | hosting that’s fully optimized so you deploy fast. No more uncertainty about traffic spikes
                        | and holiday hassles. We handle the technology so you can focus on business.

    section.move-fast-section
        .container
            .col-md-6.col-md-offset-6
                h1.section-header Get to Market Faster
                p.section-description.medium
                    | Ottemo Commerce Cloud accelerates your commerce to supersonic speed. The power of the
                    | cloud combined with our industry-leading tools and technologies allows you to radically
                    | streamline development, staging and deployment. Your new content goes live faster, giving
                    | you more time to experiment with different commerce strategies and tactics.

    section.commerce-confidence-section
        .section-wrapper
            .container
                .col-md-6
                    h1.section-header Make it Easy
                    p.section-description.medium
                        | Hosting your store in the cloud ensures your customers get content fast no matter where
                        | they are. Your site is continually optimized around the clock. Take advantage of secure,
                        | global, high-performance and cost-effective cloud infrastructure that is constantly
                        | improving.

    section.best-technologies-section
        .container
            .col-md-6.col-md-offset-6
                h1.section-header Limitless Scalability
                p.section-description.medium
                    | Cyber Monday sales spikes? Ottemo is built on the cutting-edge Google Cloud, so you can
                    | handle traffic increases with ease. Specifically designed to scale and grow with you as you
                    | expand, Ottemo Commerce Cloud kicks in extra resources when demand seems
                    | overwhelming. Your site stays up through the heaviest loads.

    .bottom-banner
        .container
            .banner-row
                .banner-block
                    a(href="#")
                        .logo
                            img(src="#")
                        .words
                            .caption Handles
                            .number 1000+
                            .caption Orders per hour

                .banner-block
                    a(href="#")
                        .logo
                            img(src="#")
                        .words
                            .caption 300 stores
                            .number 61 million
                            .caption passengers

                .banner-block
                    a(href="#")
                        .logo
                            img(src="#")
                        .words
                            .caption Faster Development
                            .number lower
                            .caption costs

    section
        .container
            h1.section-header.l-text-align.center RELATED CONTENT
            .col-lg-6
                p.section-description.medium
                    | Ottemo Enterprise Cloud Edition brings together industry-leading technologies at all levels of the stack–AWS for hosting, platform.sh for platform management, New Relic and Blackfire.io for performance management tools, and Fastly for CDN. The Ottemo Enterprise Edition 2.1 codebase offers limitless flexibility, giving your business the competitive edge.

            .col-lg-6
                p.section-description.medium
                    | Ottemo Enterprise Cloud Edition brings together industry-leading technologies at all levels of the stack–AWS for hosting, platform.sh for platform management, New Relic and Blackfire.io for performance management tools, and Fastly for CDN. The Ottemo Enterprise Edition 2.1 codebase offers limitless flexibility, giving your business the competitive edge.