//
   Created by Evgeniy on 27.01.2017.

extends include/template
block content
    section.cloud-main-section
        .container
            .large-header
                h1 Ottemo
                h2 Enterprise Cloud Edition
                h3 Faster, Better, Less Hassle
                a(href="#").button.button-big Get Started
            h1.section-header.l-text-align.center Let Ottemo Handle It
            p.section-description.medium
                | Stop worrying about monitoring your servers. Stop worrying about upgrades and security. With Ottemo Enterprise Cloud Edition we take care of everything. Now you can deploy faster, with a managed service and cloud hosting that is optimized for the Ottemo platform. It lets you focus on your business. Because you shouldn’t fear traffic spikes and the holidays, you should celebrate them.

    .image-block
        img(src="/img/ece-main-image.jpg")

    section.keep-simple-section
        .section-wrapper
            .container
                .col-md-6
                    h1.section-header Keep it Simple
                    p.section-description.medium
                        | By hosting your store in the cloud, you can ensure your content is delivered fast, and your site is optimized at all times, no matter where your customer is. You also get real time performance analytics to make sure your site is working hard, 24/7.

    section.move-fast-section
        .container
            .col-md-6.col-md-offset-6
                h1.section-header Move Fast
                p.section-description.medium
                    | Choose the platform that can change at the speed of commerce. Ottemo Enterprise Cloud Edition provides the development technologies and tools to streamline development processes, and get your new content live, faster. You can experiment and innovate with staging and previewing capabilities. Because everything is faster in the cloud.

    section.commerce-confidence-section
        .section-wrapper
            .container
                .col-md-6
                    h1.section-header Commerce Confidence
                    p.section-description.medium
                        | Black Friday sales spikes? We’ve got you covered. Ottemo Enterprise Cloud Edition is built on AWS, the world’s leading cloud environment. This highly available environment is designed to scale and grow with your success. It’ll fire up when sales and traffic get heavy, and ensure your site won’t go down at the wrong time.

    section.best-technologies-section
        .container
            .col-md-6.col-md-offset-6
                h1.section-header Best-in-Class Technologies
                p.section-description.medium
                    | Ottemo Enterprise Cloud Edition brings together industry-leading technologies at all levels of the stack–AWS for hosting, platform.sh for platform management, New Relic and Blackfire.io for performance management tools, and Fastly for CDN. The Ottemo Enterprise Edition 2.1 codebase offers limitless flexibility, giving your business the competitive edge.

    .bottom-banner
        .container
            .banner-row
                .banner-block
                    a(href="#")
                        .logo
                            img(src="#")
                        .words
                            .caption Handles
                            .number 1000+
                            .caption Orders per hour

                .banner-block
                    a(href="#")
                        .logo
                            img(src="#")
                        .words
                            .caption 300 stores
                            .number 61 million
                            .caption passengers

                .banner-block
                    a(href="#")
                        .logo
                            img(src="#")
                        .words
                            .caption Faster Development
                            .number lower
                            .caption costs

    section
        .container
            h1.section-header.l-text-align.center RELATED CONTENT
            .col-lg-6
                p.section-description.medium
                    | Ottemo Enterprise Cloud Edition brings together industry-leading technologies at all levels of the stack–AWS for hosting, platform.sh for platform management, New Relic and Blackfire.io for performance management tools, and Fastly for CDN. The Ottemo Enterprise Edition 2.1 codebase offers limitless flexibility, giving your business the competitive edge.

            .col-lg-6
                p.section-description.medium
                    | Ottemo Enterprise Cloud Edition brings together industry-leading technologies at all levels of the stack–AWS for hosting, platform.sh for platform management, New Relic and Blackfire.io for performance management tools, and Fastly for CDN. The Ottemo Enterprise Edition 2.1 codebase offers limitless flexibility, giving your business the competitive edge.