//
   Created by Evgeniy on 21.02.2017.

extends include/template
block vars
    - pageId = 'platform-overview-page';
block content
    .block.hero.cloud-main-section
        .container
            h1.hero-header-1
                | Built for
                br
                | the Future of Commerce
            .hero-text-container
                p.text.large
                    | Our forward-thinking approach to digital commerce enables the speed, nimbleness, and
                    | innovation required to master the ever-evolving world of online retail.
                a(href="/contact.html").button.button-big Get Started

    //.block.article.superior-roi-2
        .container
            .col-md-6
                h1.section-header Superior ROI 2
                p.text.medium
                    | With Ottemo, your ROI increases immediately because you don't have to worry about
                    | infrastructure anymore.
                    | Put the money you spend on hardware, hosting and maintenance where it counts: gaining new
                    | customers and growing sales. Now your IT team can put their energy into revenue-producing,
                    | strategic projects rather than spending time on endless upgrades and code patches.
                    | Our cloud-based solution means we can support and scale your growth plans on demand.
                    | Anything less is too slow in today's fast-paced commerce industry.
            .col-md-6
                .image-container
                    img(src="/img/superior-roi-2.jpg")

    .block.article.superior-roi
        .container
            .col-md-6
                h1.section-header Superior ROI
                p.text.medium
                    | With Ottemo, your ROI increases immediately because you don't have to worry about
                    | infrastructure anymore.
                    | Put the money you spend on hardware, hosting and maintenance where it counts: gaining new
                    | customers and growing sales. Now your IT team can put their energy into revenue-producing,
                    | strategic projects rather than spending time on endless upgrades and code patches.
                    | Our cloud-based solution means we can support and scale your growth plans on demand.
                    | Anything less is too slow in today's fast-paced commerce industry.

    .block.article.flexibility
        .container
            .col-md-6.col-md-offset-6
                h1.section-header Limitless flexibility
                p.text.medium
                    | Ottemo Enterprise is a highly extensible solution designed to give you the flexibility you need.
                    | Tightly integrate your ecommerce store fronts with any front-end or back-end system creating a
                    | unified solution that opens you up to innovate and stay ahead of the curve.

    .block.article.hosting
        .container
            .col-md-6
                h1.section-header Dependable, Adaptable Hosting
                p.text.medium
                    | Enjoy world-class cloud hosting benefits in an entirely owned and managed environment
                    | devoted exclusively to supporting our enterprise clients, featuring routine pro-active hardware
                    | upgrades, 99.99% historical uptime, and redundancy built-in everything (power, storage, paths,
                    | UPS).

    .block.article.customer-experience
        .container
            .col-md-6.col-md-offset-6
                h1.section-header Innovative Customer Experiences
                p.text.medium
                    | The key to increasing top-line revenue is giving your clients an exceptional customer experience
                    | that will define your business today, tomorrow and into the future. With Ottemo Commerce cloud
                    | powerful, you have the power of the cutting-edge enterprise technology at your fingertips. Take
                    | advantage of Ottemo’s native adaptive design to create captivating premium customer
                    | experiences that remains consistent across every channel, device, touchpoint and technology
                    | no matter where they are in the world.

    .block.article.business-intelligence
        .container
            .col-md-6
                h1.section-header Insightful Business Intelligence
                p.text.medium
                    | Robust business intelligence tools are vital in a complete commerce platform. Ottemo's sales
                    | reporting feature and analytics gives you instant insight into sales trends, customer orders,
                    | discounts, and conversion rates -- for any customer category and any time frame. Constantly
                    | monitor critical ecommerce KPIs like checkout abandonment, unique visitors, new customers,
                    | gross margin, average order value and more.

    .block.article.post-order
        .container
            .col-md-6.col-md-offset-6
                h1.section-header Post Order Follow-Up and Engagement
                p.text.medium
                    | The average store online generates 43 percent of revenue from repeat customers. An easy way
                    | to make customers fall in love with your company is to improve the post-shopping experience --
                    | you want to get them excited about coming back again. Ottemo's order management system
                    | makes it a snap to administer orders, billing, payments, fulfillments, shipments, returns and
                    | built-in support for recurring subscriptions and other activities that take place as soon as they
                    | click the "Buy" button. And Ottemo integrates easily into any OMS you currently use.

    .block.article.checkout
        .container
            .col-md-6
                h1.section-header Optimized Checkout Experience
                p.text.medium
                    | The shopping cart is the most important juncture in the online shopping experience. You want to
                    | instill confidence so they complete the transaction. It's also an opportune time to increase the
                    | order amount and provide more value. Determine items that you can cross sell and upsell,
                    | figure out ways to reduce anxiety about placing the order, and don't forget to offer discount
                    | codes and other promotions. Ottemo's industry-leading shopping cart features every check out
                    | best practice known to boost conversions: dedicated SSLs, single-page checkout, mobile
                    | optimization, account creation, address verification, guests checkout support and more.