extends include/template
block content
    section.section.section-pricing
        .container
            h1.section-header.l-text-align.center Pricing
            p.section-description.l-text-align.center
                | We understand that no two companies are the same,
                | so we don't group companies together.