//
   Created by Evgeniy on 23.03.2017.

extends include/template
block vars
    - var pageId = "privacy-policy-page";
block content
    .block.article.privacy-policy
        .container
            .privacy-header
                h1.heading.h1 Ottemo Website Privacy Notice
                span.effective-date Effective Date: July 1st, 2015
            p.text.base
                | Ottemo, Inc. (“ Ottemo,” “we” or “us”) provides a cloud-based ecommerce platform (the “Platform”), that includes web and mobile management applications. Ottemo values privacy. In this Privacy Policy (“Policy”), we explain how we collect, use,
                | and disclose information that we obtain through our website, www.Ottemo.io , and the services available through the Site (collectively, the “Site”). To review the Ottemo Platform Privacy Policy, which applies to the info we collect via our
                | Platform,
                a.link(href='/media/Ottemo_Platform_Privacy_Notice.docx')  click here
                | .
            p.text.base
                | By visiting or using the Site you agree that your personal information will be handled as described in this Policy. Your use of our Site, and any dispute over privacy, is subject to this Policy and our Terms of Use, available
                a.link(href='/media/Website_Terms_of_Use.docx')  here
                | , and incorporated by reference into this Policy, including applicable limitations on damages and the resolution of disputes.
            h3 What Information Do We Collect?
            p.text.base
                | You may browse our Site without providing us your contact or other personal information. However, when you access certain services or use certain features, we my collect personal information from you.
            h4 Information We Collect Directly from You.
            p.text.base
                | We may ask for your name, contact information and other information under certain circumstances, including where you request additional information about Ottemo or its products and services, submit customer service or support requests, subscribe
                | to our newsletter, or apply to a job or submit your resume through the Site. In addition, if you post comments or other content to our Site, we collect information about the content you have posted.
            h4 Information We Collect Automatically.
            p.text.base
                | We (or our third party providers) may automatically collect certain information about users and their use of or access to our Site. For example, we may automatically collect the following information through cookies, web beacons, and other technologies:
                | your domain name; your browser type and operating system; web pages you view; links you click; your IP address; the length of time you visit our Site and or use our Services; and the referring URL, or the webpage that led you to our Site;
                | access time; and a device identifier. This information may be linked with the personal data we have collected from you. Please see the section “Cookies and Other Tracking Mechanisms” below for more information.
            h3 How We Use Your Information
            p.text.base
                | We use the information we collect through our Site, including personal information, for the following purposes:
            ul.text.base
                li
                    | To provide our services, to communicate with you about your use of our services, to respond to your inquiries, to fulfill your orders, and for other customer service purposes.
                li
                    | To tailor the content and information that we may send or display to you, to offer location customization, and personalized help and instructions, and to otherwise personalize your experiences while using the Site.
                li
                    | For marketing, advertising and promotional purposes. For example, we may use your information, such as your email address, to send you news and newsletters, special offers, and promotions, or to otherwise contact you about products or information
                    | we think may interest you. We may also use the information we collect to advertise products and services on our Site and third party sites, and to work with network advertisers to do the same.
                li
                    | To better understand how users access and use our Site and services, both on an aggregated and individualized basis, in order to improve our Site and services and respond to user desires and preferences, and for other research and analytical
                    | purposes.
            h3 How We Share Your Information
            p.text.base We share information follows:
            ul.text.base
                li
                    strong Service Providers.
                    |  We may disclose the information we collect from you to third party vendors, service providers, contractors or agents who perform functions on our behalf. For example, we may contract with certain vendors
                    |                 to host data related to the Platform.
                li
                    strong Affiliates.
                    |  We may disclose the information we collect from you to our affiliates or subsidiaries; however, if we do so, their use and disclosure of your personally identifiable information will be in accordance with this
                    | Policy.
                li
                    strong Partners.
                    |  We may share information with select business partners, who may contact you with offers or other information you may be interested in.
                li
                    strong Business Transfers.
                    |  If we are acquired by or merged with another company, if substantially all of our assets are transferred to another company, or as part of a bankruptcy proceeding, we may transfer the information we have
                    | collected from you to the other company.
                li
                    strong In Response to Legal Process.
                    |  We also may disclose the information we collect from you in order to comply with the law, a judicial proceeding, court order, or other legal process, such as in response to a subpoena.
                li
                    strong To Protect Us and Others.
                    |  We also may disclose the information we collect from you where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving
                    | potential threats to the safety of any person, violations of our Terms of Use or this Policy, or as evidence in litigation in which Ottemo is involved.
                li
                    strong Aggregate and De-Identified Information.
                    |  We may share aggregate or de-identified information with third parties for marketing, analytics, research and other purposes.
            h3 Our Use of Cookies and Other Tracking Mechanisms
            p.text.base
                | We and our third party service providers use cookies and other tracking mechanisms to track information about your use of our Site or services. We may combine this information with other personal information we collect from you (and our third
                | party service providers may do so on our behalf). Currently, our systems do not recognize browser “do-not-track” requests. You may, however, disable certain tracking as discussed in this section (e.g., by disabling cookies) or the section
                | below (e.g., by opting out of certain ad networks).
            p.text.base
                strong Cookies.
                |  Cookies are alphanumeric identifiers that we transfer to your computer’s hard drive through your web browser for record-keeping purposes. Some cookies allow us to make it easier for you to navigate our Site and services,
                | while others are used to enable a faster log-in process or to allow us to track your activities at our Site and Service. The Help portion of the toolbar on most browsers will tell you how to prevent your computer from accepting new cookies,
                | how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Visitors to our Site who disable cookies will be able to browse certain areas of the Site, but some features may not function.
            p.text.base
                strong Clear GIFs, pixel tags and other technologies.
                | Clear GIFs are tiny graphics with a unique identifier, similar in function to cookies. In contrast to cookies, which are stored on your computer’s hard drive, clear GIFs are embedded
                | invisibly on emails or web pages. We may use clear GIFs (also known as web beacons, web bugs or pixel tags), in connection with our Site to, among other things, track the activities of Site visitors, help us manage content and compile statistics
                | about Site usage. We or our service providers may also use clear GIFs in HTML emails to our customers to help us track email response rates, identify when our emails are viewed and track whether our emails are forwarded.
            p.text.base
                strong Third-party Analytics.
                | We use third party analytics tools, including Google Analytics, to collect, monitor and analyze this information in order to improve functionality and user-friendliness, and to better tailor the Services
                | to our visitors' needs. Accordingly, usage data is shared with Google, which has its own
                a.link(href='https://www.google.com/analytics/learn/privacy.html?rd=2')  privacy policy
                |  addressing how it uses such information. We encourage you to review this privacy policy to understand how Google uses such information.
            h3 Third-Party Ad Networks
            p.text.base
                | We use third parties such as network advertisers to display advertisements on our Site, to assist us in displaying advertisements on third party websites, and to evaluate the success of our advertising campaigns. Network advertisers are third
                | parties that display advertisements based on your visits to our Site as well as other websites. These third parties may use cookies, JavaScript, web beacons (including clear GIFs), Flash LSOs and other technologies to measure the effectiveness
                | of their ads and to personalize advertising content to you. Their use of cookies and other technologies, and the information they collect, are governed by their own privacy policies, not this one. We may provide these third-party advertisers
                | with information about your usage of our Site and our services.
            p.text.base
                | You may opt-out of receiving ads that are based upon your visits to multiple third party Sites from certain third-party ad networks (including Facebook and Google), which are operated by members of the Network Advertising Initiative (“NAI”) and
                | the Digital Advertising Alliance (“DAA”). For more information regarding this practice by NAI members and DAA members, and your choices regarding having this information used by these companies, including how to opt-out of participating third-party
                | ad networks, please visit their respective websites:
                a.link(href='http://www.networkadvertising.org/optout_nonppii.asp')  http://www.networkadvertising.org/optout_nonppii.asp
                |  (NAI) and
                a.link(href='http://www.aboutads.info/choices') http://www.aboutads.info/choices
                |  (DAA).
            h3 Client Testimonials
            p.text.base
                | We post client testimonials on our Site which may contain personally identifiable information such as the customer's name. We do obtain the customer's consent prior to posting the testimonial to post their name along with their testimonial. If
                | you wish to request the removal of your testimonial, you may contact us at
                a.link(href='mailto:founders@ottemo.io')  Founders@ottemo.io
                | .
            h3 Plug-ins and Social Media Widgets
            p.text.base
                | Our Site may include social media features and widgets, such as the Facebook “Like” button and the "Share this" button, as well as other interactive mini-programs that run on our Site and Services and enable certain features to work (e.g., blogs
                | and comments). These features may collect your IP address, which page you are visiting or viewing on our Site, and may set a cookie to enable the feature to function properly and for purposes. These features are displayed on our Site, but
                | are hosted by third parties, and are subject to their own privacy policies, not this one. Your interactions with these features are governed by the privacy policy of the company providing them
            h3 Third-Party Links
            p.text.base
                | Our Site may contain links to third-party websites. Any access to and use of such linked websites is not governed by this Policy, but instead is governed by the privacy policies of those third party websites. We are not responsible for the information
                | practices of such third party websites.
            h3 Security
            p.text.base
                | We have implemented safeguards to protect the information we collect from loss, misuse, and unauthorized access, disclosure, alteration, and destruction. Please be aware that despite our best efforts, no data security measures can guarantee 100%
                | security. You should take steps to protect against unauthorized access to your password, phone, and computer by, among other things, signing off after using a shared computer, choosing a robust password that nobody else knows or can easily
                | guess, and keeping your log-in and password private. We are not responsible for any lost, stolen, or compromised passwords or for any activity on your account via unauthorized password activity.
            h3 Marketing Communications
            p.text.base
                | We may send periodic promotional or informational emails to you, including newsletters. You may opt-out of such communications by following the opt-out instructions contained in any such e-mail. Please note that it may take up to 10 business days
                | for us to process opt-out requests. If you opt-out of receiving emails about recommendations or other information we think may interest you, we may still send you e-mails about your account or any services you have requested or received from
                | us.
            h3 Correcting And Updating Your Information
            p.text.base
                | You may request that we update the information posted on or submitted through our Site, by contacting us at
                a.link(href='mailto:founders@ottemo.io')  Founders@Ottemo.io
                | . Please note that copies of information that you have updated, modified or deleted may remain viewable in cached and archived pages of the Site for a period of time, and we may maintain
                | copies of such information in our business records.
            h3 Contact Us
            p.text.base
                | If you have questions about the privacy aspects of our Services or would like to offer praise or make a complaint, please contact us at
                a.link(href='mailto:founders@ottemo.io')  Founders@Ottemo.io
                | .
            h3 Changes to this Policy
            p.text.base
                | This Policy is current as of the Effective Date set forth above. We may change this Policy from time to time, so please be sure to check back periodically. We will post any changes to this Policy, at
                a.link(href='/')  www.Ottemo.io
                | . If we make any changes to this Policy that materially affect our practices with regard to the personal information we have previously collected, we will endeavor to provide you with notice in advance of such change
                | by highlighting the change on our Site, or by emailing your email address of record.
