//
   Created by Evgeniy on 31.01.2017.

extends include/template
block vars
    - var pageId = 'services-page';
    title "Professional Services"
block subnav
    header.subnav
        .container
            nav.navigation
                .nav-title
                    span Ottemo Professional Services
                ul
                    li.nav-item
                        a(href='#packages') Packages
                    li.nav-item
                        a(href='#support') Support
                    li.nav-item
                        a(href='#onboarding') On-Boarding
                    li.nav-item
                        a(href='#integrations') Integrations
                    li.nav-item
                        a(href='#migration') Migration
                    li.nav-item
                        a(href='#continuity') Business Continuity
                    li.nav-item
                        a(href='#theme') Theme Development

block content

    section.consulting-top-section
        .section-wrapper
            .container
                .col-sm-5
                    h1.heading.h1 Ottemo Professional Services
                    p.text.large
                        | Your strategic partner for success. Direct access to our expert team of
                        | developers, strategists and designers.
                    a(href="/contact.html").button.button-big Speak To An Expert

    .services-row#packages
        .container
            .col-sm-4.ps-image-block
                img(src="/img/ps-architecture.svg" alt="Architectural Advisory")
            .col-sm-8.ps-text-block
                h1.heading.h1
                    | Ottemo Professional Services
                p.text.large
                    | With Ottemo Professional Services, you gain
                    | access to a dedicated team of expert developers, strategists and designers.
                    | Choose from a full range of professional services designed to help expand your
                    | business, make you more efficient and enhance your customer experience, all
                    | through the Ottemo platform.

    .services-row#support
        .container
            .ps-image-block.mobile
                img(src="/img/ps-tech-consulting.svg" alt="Support")
            .col-sm-8.ps-text-block
                h1.heading.h1 Support
                p.text.large
                    | Your online presence is the core of your business, so we make sure it
                    | runs right. We staff a dedicated technical support and development team to
                    | provide around-the-clock support to our customers and partners. We'll help you
                    | with any question you have--about Ottemo applications and features, APIs, tool
                    | sets or others.
            .col-sm-4.ps-image-block.not-mobile
                img(src="/img/ps-tech-consulting.svg" alt="Support")

    .services-row#onboarding
        .container
            .col-sm-4.ps-image-block
                img(src="/img/ps-helth-check.svg" alt="On-Boarding and Implementation")
            .col-sm-8.ps-text-block
                h1.heading.h1 On-Boarding and Implementation
                p.text.large
                    | Our experts will work closely with you to plan a launch schedule that fits your timeline.
                    | That way, when you go live, your business will be seamlessly integrated with Ottemo,
                    | giving you the full power and functionality of the platform from the moment you turn on
                    | the switch.

    .services-row#integrations
        .container
            .ps-image-block.mobile
                img(src="/img/ps-perfomance.svg" alt="Integrations and Custom Development")
            .col-sm-8.ps-text-block
                h1.heading.h1 Integrations and Custom Development
                p.text.large
                    | Our team of experts collaborates closely with your IT staff to ensure smooth, error-free
                    | synchronization between Ottemo and your system. We tailor functionality and build
                    | custom widgets to give your business a powerful brand experience, impacting customers
                    | across every channel and device.
            .col-sm-4.ps-image-block.not-mobile
                img(src="/img/ps-perfomance.svg" alt="Integrations and Custom Development")

    .services-row#migration
        .container
            .col-sm-4.ps-image-block
                img(src="/img/ps-prefered-service.svg" alt="Re-Platforming and Migration")
            .col-sm-8.ps-text-block
                h1.heading.h1 Re-Platforming and Migration
                p.text.large
                    | Managing your own commerce business internally can be time-consuming, tedious and
                    | expensive. We make it easy to move your existing commerce operation to Ottemo. We do a
                    | lot more than just move data. Our migration specialists analyze and convert your content
                    | and data, and then optimize it to create a fast, responsive end solution your employees will
                    | love.

    .services-row#continuity
        .container
            .ps-image-block.mobile
                img(src="/img/ps-tam.svg" alt="Business Continuity")
            .col-sm-8.ps-text-block
                h1.heading.h1 Business Continuity
                p.text.large
                    | Ottemo is flexible and customizable, able to rapidly adapt to your special IT and support
                    | needs. We accommodate custom solutions for a variety of services including specialized
                    | business functions, customer service-level agreements, risk management, infrastructure
                    | support, disaster recovery and more.
            .col-sm-4.ps-image-block.not-mobile
                img(src="/img/ps-tam.svg" alt="Business Continuity")

    .services-row#theme
        .container
            .col-sm-4.ps-image-block
                img(src="/img/ps-code-audit.svg" alt="Theme Development")
            .col-sm-8.ps-text-block
                h1.heading.h1 Theme Development
                p.text.large
                    | Our gorgeous themes, responsive design and mobile-friendly functionality are
                    | custom-tailored to reflect your core brand values. The result is a beautiful, engaging site
                    | that customers love to use.

    .block.banner
        .banner-inner.container
            h1.heading.h1
                | We’re more than a platform,
                br
                | we’re your partner.
            p.text.large Speak to a team member and get started today.
            a(href='/contact.html').button.button-big Get A Custom Quote
