//
   Created by Evgeniy on 31.01.2017.

extends include/template
block vars
    - var pageId = 'services-page';
block subnav
    header.subnav
        .container
            nav.navigation
                ul
                    li.nav-item
                        a(href='#packages') Packages
                    li.nav-item
                        a(href='#support') Support
                    li.nav-item
                        a(href='#success') Customer Success
                    li.nav-item
                        a(href='#onboarding') On-Boarding
                    li.nav-item
                        a(href='#integrations') Integrations
                    li.nav-item
                        a(href='#migration') Migration
                    li.nav-item
                        a(href='#continuity') Business Continuity
                    li.nav-item
                        a(href='#theme') Theme Development

block content

    section.consulting-top-section
        .section-wrapper
            .container
                .col-sm-5
                    h1.section-header Expert
                        br
                        | Consulting Group
                    p.section-description
                        | Ottemo ECG is the in-house consulting services organization that provides strategic counsel and problem-solving point services.
                    a(href="/contact.html").button.button-big Speack to an expert

    .services-row#packages
        .container
            .col-sm-4.ps-image-block
                img(src="/img/ps-architecture.svg" alt="Architectural Advisory")
            .col-sm-8.ps-text-block
                h1.section-header
                    | Ottemo Professional
                    br
                    | Services Packages
                p.section-description
                    | Ottemo Professional Services Packages are bundled offerings that address the most
                    | common challenges enterprise commerce customers face. Our expert service and support
                    | team has designed Services Packages that focus on key needs of e-commerce clients. We'll
                    | guide you through your service options, helping you develop a targeted, in-depth
                    | experience that helps you get support from important stakeholders, streamlines your
                    | operations and accelerates your business' future growth.

    .services-row#support
        .container
            .ps-image-block.mobile
                img(src="/img/ps-tech-consulting.svg" alt="Support")
            .col-sm-8.ps-text-block
                h1.section-header Support
                p.section-description
                    | Your online presence is the core of your business, so we make sure it runs right. We staff a
                    | dedicated technical support and development team to provide around-the-clock support to
                    | our customers and partners. We'll help you with any question you have--about Ottemo
                    | applications and features, APIs, tool sets or others. If you prefer self-serve support, our
                    | extensive knowledge base can often get you the answer you need. And it's more than
                    | support. Do you have an idea for a feature? Let us know.
            .col-sm-4.ps-image-block.not-mobile
                img(src="/img/ps-tech-consulting.svg" alt="Support")

    .services-row#success
        .container
            .col-sm-4.ps-image-block
                img(src="/img/ps-code-audit.svg" alt="Customer Success")
            .col-sm-8.ps-text-block
                h1.section-header Customer Success
                p.section-description
                    | You know in your own business that support after the sale is critical to repeat business and
                    | referrals. That's why we created the Customer Success team. To ensure your success and
                    | continued growth, you get a dedicated account management team to address any issues or
                    | concerns and help optimize the Ottemo platform for your needs.

    .services-row#onboarding
        .container
            .ps-image-block.mobile
                img(src="/img/ps-helth-check.svg" alt="On-Boarding and Implementation")
            .col-sm-8.ps-text-block
                h1.section-header On-Boarding and Implementation
                p.section-description
                    | Our experts will work closely with you to plan a launch schedule that fits your timeline.
                    | That way, when you go live, your business will be seamlessly integrated with Ottemo,
                    | giving you the full power and functionality of the platform from the moment you turn on
                    | the switch.
            .col-sm-4.ps-image-block.not-mobile
                img(src="/img/ps-helth-check.svg" alt="On-Boarding and Implementation")

    .services-row#integrations
        .container
            .col-sm-4.ps-image-block
                img(src="/img/ps-perfomance.svg" alt="Integrations and Custom Development")
            .col-sm-8.ps-text-block
                h1.section-header Integrations and Custom Development
                p.section-description
                    | Our team of experts collaborates closely with your IT staff to ensure smooth, error-free
                    | synchronization between Ottemo and your system. We tailor functionality and build
                    | custom widgets to give your business a powerful brand experience, impacting customers
                    | across every channel and device.

    .services-row#migration
        .container
            .ps-image-block.mobile
                img(src="/img/ps-prefered-service.svg" alt="Re-Platforming and Migration")
            .col-sm-8.ps-text-block
                h1.section-header Re-Platforming and Migration
                p.section-description
                    | Managing your own commerce business internally can be time-consuming, tedious and
                    | expensive. We make it easy to move your existing commerce operation to Ottemo. We do a
                    | lot more than just move data. Our migration specialists analyze and convert your content
                    | and data, and then optimize it to create a fast, responsive end solution your employees will
                    | love.
            .col-sm-4.ps-image-block.not-mobile
                img(src="/img/ps-prefered-service.svg" alt="Re-Platforming and Migration")

    .services-row#continuity
        .container
            .col-sm-4.ps-image-block
                img(src="/img/ps-tam.svg" alt="Business Continuity")
            .col-sm-8.ps-text-block
                h1.section-header Business Continuity
                p.section-description
                    | Ottemo is flexible and customizable, able to rapidly adapt to your special IT and support
                    | needs. We accommodate custom solutions for a variety of services including specialized
                    | business functions, customer service-level agreements, risk management, infrastructure
                    | support, disaster recovery and more.

    .services-row#theme
        .container
            .ps-image-block.mobile
                img(src="/img/ps-tech-consulting.svg" alt="Theme Development")
            .col-sm-8.ps-text-block
                h1.section-header Theme Development
                p.section-description
                    | Our gorgeous themes, responsive design and mobile-friendly functionality are
                    | custom-tailored to reflect your core brand values. The result is a beautiful, engaging site
                    | that customers love to use.
            .col-sm-4.ps-image-block.not-mobile
                img(src="/img/ps-tech-consulting.svg" alt="Theme Development")