//
   Created by Evgeniy on 23.01.2017.

extends include/template
block content
    .container
        h1.section-header.l-text-align.center Professional Services
            p.section-description.l-text-align.center
                | With Ottemo Professional Services, you get access to a dedicated team of expert developers, designers and strategists. Choose from a full range of professional services designed to help expand your business and enhance your customer experience, all through the Ottemo platform.
    .container
        ul.nav
            li.active
                a(data-toggle='pill', href='#tab1') Application
            li
                a(data-toggle='pill', href='#tab2') Creative
            li
                a(data-toggle='pill', href='#tab3') Strategic
            li
                a(data-toggle='pill', href='#tab4') Training
        .tab-content
            #tab1.tab-pane.fade.in.active
                div
                    h3 Onboarding and Implementation
                    p
                        | Our experts will create a go-live plan aligned with your needs and timeline. Leverage our team to help your own fully optimize the functionality and power available in the Mozu platform.
                div
                    h3 Integrations and Custom Development
                    p
                        | Work with our experts as they help you integrate Mozu into your existing systems as well as create custom widgets and functionality to extend the brand experience and reach customers across every channel and device.
                div
                    h3 Re-platforming and Migration
                    p
                        | Move your existing commerce business to Mozu without the hassle of managing it internally. Our migration services include the analysis and conversion of your content and data with a focus on fully optimizing your end solutions rather than simply moving information.
                div
                    h3 Business Continuity
                    p
                        | Mozu is flexible enough to handle even your most unique Support and IT needs. We offer tailored solutions to ensure dependable business functions, including risk management, customer service level agreements, infrastructure support and disaster recovery.
            #tab2.tab-pane.fade
                div
                    h3 Theme Development
                    p
                        | Implement a beautiful, engaging site that converts visitors to customers with custom themes, responsive design and mobile-friendly functionality tailored for your brand.
                div
                    h3 Custom Design
                    p
                        | Leverage full-service digital brand development that’s specific to your needs, from logos and marketing assets to custom widgets and themes.
                div
                    h3 Creative Strategy and User Experience
                    p
                        | Enhance your digital brand experience and stand out from the crowd with help from our Mozu team of experts.
            #tab3.tab-pane.fade
                div
                    h3 Commerce Strategy
                    p
                        | Refine your business research and planning, including business assessments, competitive research and omni-channel sales strategies.
                div
                    h3 Usability Analysis and Research
                    p
                        | Get to know your customer better so you can improve your shopping experience and sales processes.
                div
                    h3 Marketing Consulting
                    p
                        | Complete digital marketing strategies, including SEO/SEM, analytics, social media, shopping engines and conversion optimization.

            #tab4.tab-pane.fade
                div
                    h3 Customized Training Programs
                    p
                        | Get your team up-to-speed quickly with personal, in-house training sessions led by certified Mozu instructors.
                div
                    h3 Virtual Classroom Training
                    p
                        | Our live instructional training classes will help you learn the details of Mozu’s many features.
                div
                    h3 Training Workshops
                    p
                        | Participate in Mozu workshops to supplement virtual classroom training and ask follow-up questions about specific topics.
        section
            h1.section-header.l-text-align.center Ottemo professional services packages
            p.section-description.l-text-align.center
                | With Ottemo Professional Services, you get access to a dedicated team of expert developers, designers and strategists. Choose from a full range of professional services designed to help expand your business and enhance your customer experience, all through the Ottemo platform.

        section
            div
                h3 GUIDED GO-LIVE
                p
                    | Leverage our experts to accelerate the launch of your Mozu commerce site. Beginning with information architecture and ending with a fully responsive site, Mozu services will be with you every step of the way in preparing your new online presence.
                a(href='#') Learn More
            div
                h3 PROOF OF CONCEPT
                p
                    | This is a short-term business and technical review of Mozu against your business needs. If you need proof supporting a project approach or a prototype to evangelize internally, this is an ideal approach. By engaging with our expert teams, you receive a project concept document you can share with key stakeholders and prove the value of re-platforming.
                a(href='#') Learn More
            div
                h3 STRATEGY WORKSHOPS
                p
                    | Mozu workshops consist of a detailed, two-day session to focus on your unique business challenges. Workshops can focus on either business or technical needs and deliver a set of comprehensive recommendations and next steps to help you start your project or improve business performance.
                a(href='#') Learn More
            div
                h3 SITE OPTIMIZATION
                p
                    | Once your site is running on the Mozu platform, our enterprise commerce experts can assess your site, evaluate your technology options and recommend opportunities for improvement. You will receive a detailed actionable report your team can use to maximize online sales and optimize customer touchpoints.
                a(href='#') Learn More