//
   Created by Evgeniy on 23.03.2017.

extends include/template
block vars
    - var pageId = "terms-of-service-page";
    title Ottemo - Terms of Service
block content
    .block.article.privacy-policy
        .container
            .privacy-header
                h1.heading.h1 Ottemo Website Terms of Service
            p.text.base
                | Welcome to the Ottemo ("us" or "our" or "we") Website!  These Terms of Use (“Terms”) are a legal contract between you (“you” or “your”) and us and govern your use of all the text, data, information, software, graphics, photographs and more (all of which are collectively referred to as “Materials”) that we and our affiliates may make available through any of our websites (all of which are referred to in these Terms as this “Website”).
            p.text.base
                | READ THESE TERMS CAREFULLY BEFORE BROWSING THIS WEBSITE.  USING THIS WEBSITE INDICATES THAT YOU HAVE BOTH READ AND ACCEPT THESE TERMS.  YOU CANNOT USE THIS WEBSITE IF YOU DO NOT ACCEPT THESE TERMS.

            h3 CHANGES
            p.text.base
                | We may alter the Materials we offer you, and/or may choose to modify, suspend or discontinue this Website at any time and without notifying you.  We may also change, update, add or remove provisions (collectively, “modifications”) of these Terms from time to time.  Because everyone benefits from clarity, we promise to inform you of any modifications to these Terms by posting them on this Website.
            p.text.base
                | If you object to any such modifications, your sole recourse will be to cease using this Website.  Continued use of this Website following notice of any such modifications indicates you acknowledge and agree to be bound by the modifications. Also, please know that these Terms may be superseded by expressly-designated legal notices or terms located on particular pages of this Website or associated with certain services we may offer.  These expressly-designated legal notices or terms are incorporated into these Terms and supersede the provision(s) of these Terms that are designated as being superseded.

            h3 GENERAL USE
            p.text.base
                | We invite you to use this Website for individual, consumer purposes ("Permitted Purposes").  By using this Website, you agree that you are at least 18 years of age, or if you are under 18 years of age (a “Minor”), that you are using the Website with the consent of your parent or legal guardian and you have received your parent’s or legal guardian’s permission to use the Website and agree to these Terms.  If you are a parent or legal guardian of a Minor, you agree to bind the Minor to these Terms and to fully indemnify and hold us harmless if the Minor breaches any of these Terms.
            p.text.base
                | In these Terms we are granting you a limited, personal, non-exclusive and non-transferable license to use and to display the Materials; your right to use the Materials is conditioned on your compliance with these Terms.  You have no other rights in this Website or any Materials and you may not modify, edit, copy, reproduce, create derivative works of, reverse engineer, alter, enhance or in any way exploit any of this Website or Materials in any manner.  If you make copies of any of this Website while engaging in Permitted Purposes then we ask that you be sure to keep on the copies all of our copyright and other proprietary notices as they appear on this Website.
            p.text.base
                | Unfortunately, if you breach any of these Terms the above license will terminate automatically and you must immediately destroy any downloaded or printed Materials (and any copies thereof).

            h3 USING THIS WEBSITE AND THE WEBSITE’S SERVICES
            p.text.base
                | You need not register with us to simply visit and view this Website and not use any services offered in connection with the Website. However, in order to access certain password-restricted areas of this Website (such as using the Website’s feedback area and viewing other User Submissions (defined below)) you must successfully register an account with us.
            h3 PASSWORD RESTRICTED AREAS OF THIS WEBSITE
            p.text.base
                | If you want an account with us, you must submit a working email address through the account registration page on the Website. For so long as you use the account, you agree to provide true, accurate, current, and complete information which can be accomplished by logging into your account and making relevant changes directly.
            p.text.base
                | You are responsible for complying with these Terms when you access this Website, whether directly or through any account that you may setup through or on this Website.  It is also your responsibility to maintain the confidentiality of any password(s) you use in connection with the Website or any services we offer, including any password of a third-party site that we may allow you to use to access this Website.  Should you believe your password or security for This Website has been breached in any way, you must immediately notify us.

            h3 PRIVACY POLICY
            p.text.base
                | We respect the information that you provide to us, and want to be sure you fully understand exactly how we use that information.  So, please review our
                a(href="/privacy-policy").link  Privacy Policy
                |  which explains everything.

            h3 LINKS TO THIRD-PARTY SITES
            p.text.base
                | We think links are convenient, and we sometimes provide links on his Website to third-party websites.  If you use these links, you will leave this Website. We are not obligated to review any third-party websites that are linked to this Website, we do not control any of the third-party websites, and we are not responsible for any of the third-party websites (or the products, services, or content available through any of them). Thus, we do not endorse or make any representations about such third-party websites, any information, software, products, services, or materials found there or any results that may be obtained from using them. If you decide to access any of the third-party websites linked to from this Website, you do this entirely at your own risk and you must follow the privacy policies and terms and conditions for those third-party websites.

            h3 SUBMISSIONS
            p.text.base
                | Certain areas of this Website (e.g., blogs or customer feedback areas) may permit you to submit feedback, information, data, text, messages, or other materials (each, a "User Submission").  You agree that you are solely responsible for all of your User Submissions and that any such User Submission is considered both non-confidential and non-proprietary.  Further, we do not guarantee that you will be able to edit or delete any User Submission you have submitted.
            p.text.base
                | By submitting any User Submission, you are promising us that:
            ul.text.base
                li You own all rights in your User Submissions (including, without limitation, all rights to the reproduction and display of your User Submissions) or, alternatively, you have acquired all necessary rights in your User Submissions to enable you to grant to us the rights in your User Submissions as described in these Terms;
                li You have paid and will pay in full all license fees, clearance fees, and other financial obligations, of any kind, arising from any use or commercial exploitation of your User Submissions;
                li Your User Submissions do not infringe the copyright, trademark, patent, trade secret, or other intellectual property rights, privacy rights, or any other legal or moral rights of any third party;
                li You voluntarily agree to waive all "moral rights" that you may have in your User Submission;
                li Any information contained in your User Submission is not known by you to be false, inaccurate, or misleading;
                li Your User Submission does not violate any law (including, but not limited to, those governing export control, consumer protection, unfair competition, anti-discrimination, or false advertising);
                li Your User Submission is not, and may not reasonably be considered to be, defamatory, libelous, hateful, racially, ethnically, religiously, or otherwise biased or offensive, unlawfully threatening, or unlawfully harassing to any individual, partnership, or corporation, vulgar, pornographic, obscene, or invasive of another's privacy;
                li You were not and will not be compensated or granted any consideration by any third party for submitting your User Submission;
                li Your User Submission does not incorporate materials from a third-party website, or addresses, email addresses, contact information, or phone numbers (other than your own);
                li Your User Submission does not contain any viruses, worms, spyware, adware, or other potentially damaging programs or files;
                li Your User Submission does not contain any information that you consider confidential, proprietary, or personal;
                li Your User Submission does not contain or constitute any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes, or any other form of solicitation.
            p.text.base
                | By submitting a User Submission, you grant to us an irrevocable, perpetual, transferable, non-exclusive, fully-paid, worldwide, royalty-free license (sublicensable through multiple tiers) to:
            ul.text.base
                li Use, distribute, reproduce, modify, adapt, publish, translate, publicly perform, and publicly display your User Submissions (or any modification thereto), in whole or in part, in any format or medium now known or later developed;
                li Use (and permit others to use) your User Submission in any manner and for any purpose (including, without limitation, commercial purposes) that we deem appropriate in our sole discretion (including, without limitation, to incorporate your User Submission or any modification thereto, in whole or in part, into any technology, product, or service);
                li Display advertisements in connection with your User Submissions and to use your User Submissions for advertising and promotional purposes.
            p.text.base
                | We may, but are not obligated to, pre-screen User Submissions or monitor any area of this Website through which User Submissions may be submitted. We are not required to host, display, or distribute any User Submissions on or through this Website and may remove at any time or refuse any User Submissions for any reason. We are not responsible for any loss, theft, or damage of any kind to any User Submissions. Further, you agree that we may freely disclose your User Submission to any third party absent any obligation of confidence on the part of the recipient.

            h3 UNAUTHORIZED ACTIVITIES
            p.text.base
                | To be clear, we authorize your use of this Website only for Permitted Purposes.  Any other use of this Website beyond the Permitted Purposes is prohibited and, therefore, constitutes unauthorized use of this Website.  This is because as between you and us, all rights in this Website remain our property.
            p.text.base
                | Unauthorized use of this Website may result in violation of various United States and international copyright laws.  Because we prefer keeping this relationship drama-free, we want to give you examples of things to avoid.  So, unless you have written permission from us stating otherwise, you are not authorized to use this Website in any of the following ways (these are examples only and the list below is not a complete list of everything that you are not permitted to do):
            ul.text.base
                li For any public or commercial purpose which includes use of this Website on another site or through a networked computer environment;
                li In a manner that modifies, publicly displays, publicly performs, reproduces or distributes any of this Website;
                li In a manner that violates any local, state, national, foreign, or international statute, regulation, rule, order, treaty, or other law;
                li To stalk, harass, or harm another individual;
                li To impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity;
                li To interfere with or disrupt this Website or servers or networks connected to this Website;
                li To use any data mining, robots, or similar data gathering or extraction methods in connection with this Website; or
                li Attempt to gain unauthorized access to any portion of this Website or any other accounts, computer systems, or networks connected to this Website, whether through hacking, password mining, or any other means.
            p.text.base
                | You agree to hire attorneys to defend us if you violate these Terms and that violation results in a problem for us.  You also agree to pay any damages that we may end up having to pay as a result of your violation.  You alone are responsible for any violation of these Terms by you.  We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you and, in such case, you agree to cooperate with our defense of such claim.

            h3 INTELLECTUAL PROPERTY INFRINGEMENT
            p.text.base
                | We respect the intellectual property rights of others and encourage you to do the same. Accordingly, we have a policy of removing User Submissions that violate intellectual property rights of others, suspending access to this Website (or any portion thereof) to any user who uses this Website in violation of someone’s intellectual property rights, and/or terminating in appropriate circumstances the account of any user who uses the this Website in violation of someone’s intellectual property rights.
            p.text.base
                | Pursuant to Title 17 of the United States Code, Section 512, we have implemented procedures for receiving written notification of claimed copyright infringement and for processing such claims in accordance with such law. If you believe your copyright or other intellectual property right is being infringed by a user of this Website, please provide written notice to our agent for notice of claims of infringement:
            p.text.medium
                | Attn: Ottemo, Inc.
                br
                | Registered address: 1205 N 10th Pl #2209, Renton, WA 98057
            p.text.base
                | To be sure the matter is handled immediately, your written notice must:
            ul.text.base
                li Contain your physical or electronic signature;
                li Identify the copyrighted work or other intellectual property alleged to have been infringed;
                li Identify the allegedly infringing material in a sufficiently precise manner to allow us to locate that material;
                li Contain adequate information by which we can contact you (including postal address, telephone number, and e-mail address);
                li Contain a statement that you have a good faith belief that use of the copyrighted material or other intellectual property is not authorized by the owner, the owner's agent or the law;
                li Contain a statement that the information in the written notice is accurate;
                li Contain statement, under penalty of perjury, that you are authorized to act on behalf of the copyright or other intellectual property right owner.
            p.text.base
                | Unless the notice pertains to copyright or other intellectual property infringement, the agent will be unable to address the listed concern.
            p.text.base
                u Submitting a Digital Millennium Copyright Act (“DMCA”) Counter-Notification
            p.text.base
                | We will notify you that we have removed or disabled access to copyright-protected material that you provided, if such removal is pursuant to a validly received DMCA take-down notice. In response, you may provide our agent with a written counter-notification that includes the following information:
            ol.text.base
                li Your physical or electronic signature;
                li Identification of the material that has been removed or to which access has been disabled, and the location at which the material appeared before it was removed or access to it was disabled;
                li A statement from you under the penalty of perjury, that you have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled; and
                li Your name, physical address and telephone number, and a statement that you consent to the jurisdiction of a court for the judicial district in which your physical address is located, or if your physical address is outside of the United States, for any judicial district in which we may be located, and that you will accept service of process from the person who provided notification of allegedly infringing material or an agent of such person.
            p.text.base
                u Termination of Repeat Infringers
            p.text.base
                | We reserve the right, in our sole discretion, to terminate the account or access of any user of this Website or Service who is the subject of repeated DMCA or other infringement notifications.

            h3 DISCLAIMER OF WARRANTIES
            p.text.base
                | THIS WEBSITE IS PROVIDED "AS IS" AND "WITH ALL FAULTS" AND THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THIS WEBSITE IS WITH YOU.
            p.text.base
                | WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND (EXPRESS, IMPLIED OR STATUTORY) WITH RESPECT TO THIS WEBSITE, WHICH INCLUDES BUT IS NOT LIMITED TO, ANY IMPLIED OR STATUTORY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE OR PURPOSE, TITLE, AND NON-INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS.
            p.text.base
                | THIS MEANS THAT WE DO NOT PROMISE YOU THAT THE WEBSITE IS FREE OF PROBLEMS.  Without limiting the generality of the foregoing, we make no warranty that this Website will meet your requirements or that this Website will be uninterrupted, timely, secure, or error free or that defects in this Website will be corrected. We make no warranty as to the results that may be obtained from the use of this Website or as to the accuracy or reliability of any information obtained through this Website. No advice or information, whether oral or written, obtained by you through this Website or from us or our subsidiaries/other affiliated companies shall create any warranty. We disclaim all equitable indemnities.

            h3 LIMITATION OF LIABILITY
            p.text.base
                | WE SHALL NOT BE LIABLE TO YOU FOR ANY DAMAGES RESULTING FROM YOUR DISPLAYING, COPYING, OR DOWNLOADING ANY MATERIALS TO OR FROM THIS WEBSITE.  IN NO EVENT SHALL WE BE LIABLE TO YOU FOR ANY INDIRECT, EXTRAORDINARY, EXEMPLARY, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING LOSS OF DATA, REVENUE, PROFITS, USE OR OTHER ECONOMIC ADVANTAGE) HOWEVER ARISING, EVEN IF WE KNOW THERE IS A POSSIBILITY OF SUCH DAMAGE.

            h3 LOCAL LAWS; EXPORT CONTROL
            p.text.base
                | We control and operate this Website from our headquarters in the United States of America and the entirety of this Website may not be appropriate or available for use in other locations.  If you use this Website outside the United States of America, you are solely responsible for following applicable local laws.

            h3 FEEDBACK
            p.text.base
                | Any submissions by you to us (e.g., comments, questions, suggestions, materials – collectively, “Feedback”) through any communication whatsoever (e.g., call, fax, email) will be treated as both non-confidential and non-proprietary.  You hereby assign all right, title, and interest in, and we are free to use, without any attribution or compensation to you, any ideas, know-how, concepts, techniques, or other intellectual property and proprietary rights contained in the Feedback, whether or not patentable, for any purpose whatsoever, including but not limited to, developing, manufacturing, having manufactured, licensing, marketing, and selling, directly or indirectly, products and services using such Feedback.  You understand and agree that we are not obligated to use, display, reproduce, or distribute any such ideas, know-how, concepts, or techniques contained in the Feedback, and you have no right to compel such use, display, reproduction, or distribution.

            h3 GENERAL
            p.text.base
                | We think direct communication resolves most issues – if we feel that you are not complying with these Terms, we will tell you.  We will even provide you with recommended necessary corrective action(s) because we value this relationship.
            p.text.base
                | However, certain violations of these Terms, as determined by us, may require immediate termination of your access to this Website without prior notice to you.  Washington state law and applicable U.S. federal law, without regard to the choice or conflicts of law provisions, will govern these Terms.  Foreign laws do not apply.  Except for disputes subject to arbitration as described above, any disputes relating to these Terms or this Website will be heard in the courts located in King County, Washington.  If any of these Terms are deemed inconsistent with applicable law, then such term(s) shall be interpreted to reflect the intentions of the parties, and no other terms will be modified.  By choosing not to enforced any of these Terms, we are not waiving our rights.  These Terms are the entire agreement between you and us and, therefore, supersede all prior or contemporaneous negotiations, discussions or agreements between you and us about this Website.  The proprietary rights, disclaimer of warranties, representations made by you, indemnities, limitations of liability and general provisions shall survive any termination of these Terms.

            h3 CONTACT US
            p.text.base
                | If you have any questions about these Terms or otherwise need to contact us for any reason, you can reach us through the contact form on the
                a(href="/contact").link  Website
                |  or email us at
                a(href="mailto:info@ottemo.io").link  info@ottemo.io
