//
   Created by Evgeniy on 23.01.2017.

extends include/template
block content
    section.advantage-section
        .container
            .col-md-6
                h1.section-header The Ottemo Advantage
                p.section-description.medium
                    | Why choose Ottemo? Just ask our customers. The world’s biggest brands love Ottemo for its flexibility, because today’s consumers and their buying patterns are changing by the minute. Only Ottemo—open source and agile—can help you adapt and thrive. With a global ecosystem of 150,000 developers and a network of 300+ highly-trained solution partners, Ottemo boosts your online sales while maximizing gross margins. Ottemo businesses sell more at a lower TCO than merchants on competitive commerce platforms. Here's how the Ottemo Advantage can work for you...

    section.runner-section
        .section-wrapper
            .container
                .col-md-6.col-md-offset-6
                    h1.section-header The World’s #1 Commerce Platform
                    p.section-description.medium
                        | Ottemo is the most popular commerce platform in the world, with more than 250,000 merchants around the globe selling more and driving innovation. Just check out our customer stories to find out how the Ottemo Advantage really works.
    section.customer-trends-section
        .container
            .col-md-6
                h1.section-header Stay Ahead of Customer Trends
                p.section-description.medium
                    | Consumer behavior is changing every day. Today’s bleeding edge innovation will be tomorrow’s table stakes. Ottemo gives you the flexibility to customize and extend your platform to create unique, differentiated branded experiences. Adapt fast, and stay ahead of changing customer buying patterns. That's the Ottemo Advantage.
                .flexibility-banner
                    span 100% flexibility
    section.best-innovetion-section
        .section-wrapper
            .container
                .col-md-6.col-md-offset-6
                    h1.section-header Best in Class Innovation
                    p.section-description.medium
                        | The Ottemo Marketplace is the world’s largest and most versatile offering of customized and tested extensions. Marketplace offers the latest best practice extensions to extend your store’s features any way you want.
                    a(href='#').button.button-big Explore Ottemo Marketplace
    section.boost-sales-section
        .container
            .section-text.col-md-6
                h1.section-header Boost Sales. Shrink Costs.
                p.section-description.medium
                    | On average, merchants using Ottemo grow 3X faster than those on competitive platforms. They also realize a 50 percent reduction in Total Cost of Ownership. Sell more, save more, do it faster. That’s the Otemo Advantage.
                a(href='#').button.button-big Talk to a Specialist
            .section-image.col-md-6
                img(src="/img/man-with-laptop.png" alt="Man with laptop")