//
   Created by Evgeniy on 23.01.2017.

extends include/template
block vars
    - var pageId = 'why-ottemo-page';
    title "Why Ottemo"
block content

    .block.ottemo-power
        .background
            .container
                .col-lg-6
                    h1.heading.h1 The Power of Ottemo
                    p.text.medium
                        | Why go with Ottemo? Lower Total Cost of Ownership and get to market 3x faster than
                        | other solutions. Take advantage of the world's most powerful and versatile Enterprise
                        | Cloud Commerce Platform. Ottemo offers the easiest, fastest way to deploy enterprise
                        | commerce sites to the cloud with limitless scalability. Ottemo gives you the power of the
                        | cloud to create flexible, customizable sites that adapt quickly to changing buying
                        | patterns. Now you have a unified, innovative, fast and agile platform that provides a
                        | premium customer buying experience. You get a significantly lower TCO than
                        | merchants on competitive commerce platforms--helping boost online sales and
                        | maximizing gross margins. That's the Ottemo Advantage.

    .block.article.built-to-grow
        .container
            img(src="/img/BuiltToGrow.png").mobile
            h1.heading.h1 Built to Grow With You
            p.text.medium
                | Built on an API-first open architecture. Ottemo grows alongside you. Our fast, flexible APIs seamlessly integrate with all
                | your enterprise applications. As new touchpoints and channels develop or business users need new functionality, Ottemo
                | is easily and fully extendable to meet all your future needs. You can rapidly scale with confidence because our
                | cost-effective platform increases your operational efficiency every step of the way.
            a(href='/platform-overview.html').button.button-big EXPLORE THE PLATFORM
            img(src="/img/BuiltToGrow.png").desktop

    .block.article.consumer-trends
        .container
            .col-md-6
                img(src='img/fera-responsive-mob.png').mobile
                h1.heading.h1
                    | Stay on top
                    br
                    | of Consumer Trends
                p.text.medium
                    | Customers change their behavior on a whim, challenging you to constantly innovate to keep up. By merging our advanced
                    | capabilities with the flexibility of the cloud, Ottemo gives you the power to create unique, mobile, branded customer
                    | experiences for each shopper. Adapt quickly and respond rapidly to shifting consumer tastes and trends. That's the
                    | Ottemo Advantage.
                a(href='/contact.html').button.button-big Get Started
            .col-md-6.image-block
                img(src='img/fera-responsive-mob.png')

    .block.article.grow-sales
        .container
            .col-md-6.image-block
                img(src='img/growsales.jpg' alt='')
            .col-md-6
                img(src='img/growsales-mob.jpg' alt='').mobile
                h1.heading.h1 Cut Costs & Grow Sales.
                p.text.medium
                    | Our clients realize a 75%+ reduction in Total Costs of Ownership. You don't have to worry about
                    | infrastructure anymore. We take care of the hardware, hosting, and maintenance so you have
                    | time to put that energy where it counts: gaining new customers and growing sales. Never think
                    | about endless upgrades, monitoring servers, or code patches again. Our cloud-based solution
                    | means we can support and scale your growth plans on-demand.
                a(href='/ottemo-commerce-cloud.html').button.button-big See Commerce Cloud

    .block.article.committed-to-success
        .container
            .col-md-6
                h1.heading.h1 Committed to Your Success
                p.text.medium
                    | Our engineers and product development team are hyper-focused on making the world's
                    | most innovative and flexible enterprise cloud commerce solutions. Our Professional
                    | Services team will give you the extra support you need. With extensive expertise in
                    | taking commerce sites from proof-of-concept to implementation, to market. We work
                    | with our customers and partners to simplify the launching process and take you to
                    | market faster via the cloud with optimized performance to ensure your success.
            .col-md-6.image-block
                img(src="/img/Commitedtoyoursuccess.jpg")

    .block.banner
        .container
            h1.heading.h1 Commited to your success
            a(href='/pro-services.html').button.button-big Learn More

    .bottom-banner
        .container
            .banner-block
                a(href="/case-studies/karigran.html")
                    .logo
                        img(src="/img/logos/karigran-logo.png")
                    .words
                        .number 613%
                        .caption increase in mobile transactions

            .banner-block
                a(href="/case-studies/poconovapes.html")
                    .logo
                        img(src="/img/logos/poconovapes-logo.png")
                    .words
                        .number 4x
                        .caption faster page loads on all devices

    .block.blog
        .container
            h1.heading.h1 Latest Content
            a(href="http://blog.ottemo.io/2016/11/07/untitled-4/").post-wrapper.col-md-4.col-sm-6
                .post-picture
                    img(src="img/blog/blog-image-4.jpg", alt="Why Website Speed Matters")
                h2.post-title Why Website Speed Matters for Your E-Commerce Site
                p.text.base
                    | Online shoppers--a growing number of whom are working from mobile devices--want fast, responsive sites that work on a...
            a(href="http://blog.ottemo.io/2016/11/07/shipping-options-getting-as-close-as-possible-to-amazons-fast-delivery-model/").post-wrapper.col-md-4.col-sm-6
                .post-picture
                    img(src="img/blog/blog-image-5.jpg", alt="Shipping Options")
                h2.post-title Shipping Options - Getting as close as possible to Amazon's Fast Delivery Model
                p.text.base
                    | With the rise of eCommerce over the last 10 years, new delivery options have been made available. No longer are UPS and FedEx ground delivery the only options, let alone...
            a(href="http://blog.ottemo.io/2016/11/07/automating-your-fulfillment-it-doesnt-have-to-be-expensive-to-be-beneficial/   ").post-wrapper.col-md-4.col-sm-6
                .post-picture
                    img(src="img/blog/blog-image-6.jpg", alt="Automating Your Fulfillment")
                h2.post-title Automating Your Fulfillment - It doesn’t have to be expensive to be beneficial
                p.text.base
                    | When one thinks about automation in a warehouse environment, what often comes to mind are miles of powered conveyor, barcode scanners, robotics, and the controlling...
