.full-height {
  height: 100%;
}

.l-inline-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline;
  }
}

.l-vertical-align {
  height: 100%;
  .block-two-side {
    display: table;
    float: left;
    width: 50%;
    height: 100%;
    .content {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .block-one-side {

  }
}



.l-align-left {
  float: left;
}
.l-align-right {
  float: right;
}
.l-text-align {
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
}

.l-block-two-side {
  .l-block-side {
    width: 50%;
  }
}

.l-block-three-side {
  .l-block-side {
    width: 33.333%;
    padding: 0 16px;
  }
}

.body-wrapper {
  min-height: 100%;
}

.section-wrapper {
  padding-bottom: 50px;
  position: relative;
  &.layer-top {
    z-index: 1;
  }
}

.grid-item { width: 50%; }