.full-height {
  height: 100%;
}

.l-inline-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline;
  }
}

.l-vertical-align {
  height: 100%;
  .block-two-side {
    display: table;
    float: left;
    width: 50%;
    height: 100%;
    .content {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .block-one-side {

  }
}

.section-wrapper {
  display: table;
  height: 100%;
  width: 100%;
  .section-header-wrapper,
  .section-content-wrapper {
    display: table-row;
  }
}

.l-align-left {
  float: left;
}
.l-align-right {
  float: right;
}

.l-block-two-side {
  .l-block-side {
    width: 50%;
  }
}