@mixin diagonal-background($height, $bottom) {
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: $height;
    width: 100%;
    transform: skewY(-10deg);
    background-color: $light-grey;
    bottom: $bottom;
    z-index: -1;
  }
}

@mixin diagonal-background-top($height, $top) {
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: $height;
    width: 100%;
    transform: skewY(-5deg);
    background-color: $light-grey;
    top: $top;
  }
}

@mixin diagonal-top($deg, $height, $top) {
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: $height;
    width: 100%;
    transform: skewY($deg);
    background-color: $light-grey;
    top: $top;
  }
}

@mixin diagonal-bottom($deg, $height, $bottom) {
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: $height;
    width: 100%;
    transform: skewY($deg);
    background-color: $light-grey;
    bottom: $bottom;
  }
}

@mixin diagonal-bottom-color($deg, $height, $bottom, $color) {
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: $height;
    width: 100%;
    transform: skewY($deg);
    background-color: $color;
    bottom: $bottom;
    left: 0;
  }
}

@mixin diagonal-top-color($deg, $height, $top, $color) {
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: $height;
    width: 100%;
    transform: skewY($deg);
    background-color: $color;
    top: $top;
    left: 0;
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "xs" {
    @media (min-width: 320px) and (max-width: 766px) {
      @content;
    }
  }
  @else if $breakpoint == "small" {
    @media (min-width: 767px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $breakpoint == "mobile" {
    @media (min-width: 320px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $breakpoint == "large-than-mobile" {
    @media (min-width: 767px) {
      @content;
    }
  }
}