@import "mixins";
@import "variables";


.block {
  position: relative;
  &.hero {
    text-align: center;
    padding: 150px 0;
    background: url('/img/poligonal-background-2.png') no-repeat right top;
    background-size: contain;
    .hero-header-1 {
      font-size: 52px;
      line-height: 52px;
    }
    .hero-header-2 {
      font-size: 60px;
      line-height: 60px;
      margin: 0;
      color: $ottemo-blue;
    }
    .hero-header-3 {
      font-size: 24px;
    }
    a {
      margin: 24px 0;
    }
    .hero-text-container {
      max-width: 75%;
      margin: 0 auto;
    }
    @include respond-to(medium) {
      padding: 100px 0;
    }
    @include respond-to(small) {
      padding: 100px 0;
    }
    @include respond-to(xs) {
      padding: 80px 0;
      .hero-header-1 {
        font-size: 40px;
        line-height: 48px;
      }
      .hero-header-2 {
        font-size: 42px;
        line-height: 1em;
      }
    }
  }
  &.article {
    padding: 50px 0;
    @include respond-to(mobile) {
      text-align: center;
    }
  }
}

.text {
  font-weight: 300;
  &.base {
    font-size: 16px;
    line-height: 1.5em;
  }
  &.medium {
    font-size: 20px;
    line-height: 1.75em;
    @include respond-to(small) {
      font-size: 18px;
    }
    @include respond-to(xs) {
      font-size: 16px;
    }
  }
  &.large {
    font-size: 24px;
    line-height: 1.75em;
    @include respond-to(small) {
      font-size: 20px;
    }
    @include respond-to(xs) {
      font-size: 18px;
    }
  }

}

.heading {
  font-family: 'Roboto Slab', serif;
  &.h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    margin: 8px 0;
    @include respond-to(xs) {
      font-size: 30px;
      line-height: 40px;
    }
    @include respond-to(small) {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

/*
  Hamburger menu.
  Available only when window width less than 1200px
*/

.mobile-navigation {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 280px;
  height: 100vh;
  overflow-y: scroll;
  background-color: $light-grey;
  z-index: 0;
  ul {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .mobile-menu {
    .active {
      .item {
        color: $ottemo-blue;
      }
    }
    .dropdown {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 29px;
        right: 20px;
        height: 8px;
        width: 18px;
        border-top: 3px solid #dbe0df;
        border-bottom: 3px solid #dbe0df;
        z-index: 1;
      }
      &::after {
        content: '';
        position: absolute;
        right: 20px;
        top: 39px;
        width: 18px;
        height: 3px;
        background: #dbe0df;
        z-index: 1;
      }
      .item {
        position: relative;
        display: block;
        padding: 24px 36px;
        font-size: 17px;
        font-weight: bold;
        color: #202121;
        cursor: pointer;
        background-color: $light-grey;
        border-bottom: 1px solid #e6eaea;
        transition: background .3s ease-in-out,border .3s ease-in-out,color .3s ease-in-out;
      }
      ul {
        display: none;
        a.item {
          font-size: 13px;
          font-weight: normal;
          text-transform: uppercase;
        }
      }
    }
    .box-bottom {
      height: 60px;
    }
    a {
      position: relative;
      display: block;
      padding: 24px 36px;
      font-size: 17px;
      font-weight: bold;
      color: #202121;
      cursor: pointer;
      background: #f4f7f6;
      border-bottom: 1px solid #e6eaea;
      text-decoration: none;
      &:hover {
        background-color: #fcfcfc;
      }
    }
  }
  @include respond-to(medium) {
    display: block;
  }
  @include respond-to(mobile) {
    display: block;
  }
}

/*
  Main navigation
*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  text-align: center;
  z-index: 1000;
  .hamburger-menu-btn {
    position: fixed;
    left: 0;
    display: block;
    margin: 16px;
    .menu-icon {
      font-size: 32px;
      color: $grey;
    }
    @include respond-to(large) {
      display: none;
    }
  }
  .logo {
    height: 36px;
    margin: 16px 0;
    display: inline-block;
    img {
      height: 100%;
    }
    @include respond-to(large) {
      float: left;
    }
    @include respond-to(xs) {
      height: 28px;
      margin: 18px 0 18px 40px;
    }
  }
  .navigation {
    display: none;
    text-align: center;
    margin-top: 20px;
    ul {
      padding: 0;
      margin: 0;
      .nav-item {
        display: inline-block;
        position: relative;
        a,
        span {
          margin: 10px;
          color: $grey;
          font-size: 18px;
          font-weight: 500;
          &:focus {
            text-decoration: none;
          }
        }
        &:hover {
          a,
          span {
            text-decoration: none;
            color: $ottemo-light-blue;
          }
          .submenu {
            display: block;
          }
        }
        &.active a {
          color: $ottemo-blue;
        }
        .submenu {
          min-width: 200px;
          display: none;
          position: absolute;
          list-style: none;
          text-align: left;
          background-color: $white;
          border-radius: 2px;
          box-shadow: 0 5px 10px rgba(0,0,0,.15);
          .nav-item {
            width: 100%;
            a {
              display: block;
              color: $grey;
              padding: 8px 0;
              min-width: 100px;
              margin: 4px 10px;
            }
            &:hover {
              background-color: $light-grey;
              a {
                color: $ottemo-light-blue;
              }
            }
          }
        }
      }
    }
    @include respond-to(large) {
      display: inline-block;
    }
  }
  .action-button {
    position: fixed;
    right: 0;
    top: 0;
    margin: 14px;
    @include respond-to(large) {
      position: static;
      float: right;
      margin-right: 0;
    }
  }
  @include respond-to(xs) {
    text-align: left;
  }
}

section {
  padding: 50px 0;
  position: relative;
  @include respond-to(mobile) {
    padding: 24px 0;
    .section-header, .section-header-l2 {
      text-align: center;
    }
  }
}

//next prev buttons style
.owl-controls {
  position: absolute;
  width: 100%;
  top: 40%;
}
.owl-buttons {
  position: relative;
  @include respond-to(xs) {
    display: none;
    position: static;
    margin-top: 24px;
  }
  div {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background-size: cover;
    &.owl-prev {
      background-image: url("../img/arrow-left.svg");
      left: 0;
    }
    &.owl-next {
      background-image: url("../img/arrow-right.svg");
      right: 0;
    }
  }
}


.body-wrapper {
  position: relative;
  padding-top: 70px;
  background-color: $white;
  overflow-x: hidden;
  transition: transform .4s ease;
  z-index: 1;
  &.opened {
    position: fixed;
    box-shadow: 0 -3px 15px rgba(0,0,0,.3);
    transform: translate(280px, 0);
  }
}

.section-header {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  line-height: 52px;
  margin: 8px 0;
  @include respond-to(xs) {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  @include respond-to(small) {
    font-size: 30px;
    line-height: 40px;
  }
}

.section-header-l2 {
  font-size: 30px;
  line-height: 40px;
  @include respond-to(mobile) {
    font-size: 24px;
    line-height: 32px;
  }
}

.section-description {
  &.medium {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: .25px;
  }
  font-size: 24px;
  font-weight: 300;
  @include respond-to(mobile) {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
}

.top-section {
  overflow: hidden;
  padding: 0;
  @include diagonal-background(500px, -180px);
  .top-section-wrapper {
    display:table;
    width:100%;
    height:100%;
    background: url("../img/Macbook.png") no-repeat right;
    background-size: 52%;
    @include respond-to(xs) {
      background: none;
    }
    @include respond-to(small) {
      background: none;
    }
    .top-section-inner {
      display:table-cell;
      vertical-align:middle;
      .image-content {
        img {
          max-width: 100%;
        }
        @include respond-to(large) {
          display: none;
        }
        @include respond-to(medium) {
          display: none;
        }
      }
      .text-content {
        .hero-caption {
          font-size: 48px;
          line-height: 60px;
          font-weight: 400;
          margin: 24px 0;
        }
        .hero-description {
          margin-bottom: 36px;
        }
        @include respond-to(xs) {
          text-align: center;
          margin-bottom: 50px;
          .hero-caption {
            font-size: 32px;
            line-height: 40px;
            margin: 16px 0;
          }
          .hero-description {
            margin-bottom: 16px;
          }
        }
        @include respond-to(small) {
          text-align: center;
        }
      }
    }
  }
}

.section-capabilities {
  padding: 50px 0;
  .capabilities-wrapper {
    padding-top: 50px;
    .block-image-side {
      img {
        width: 100%;
      }
    }
    .block-text-side {
      ul {
        margin: 0;
        text-align: left;
        font-size: 30px;
        font-weight: 700;
        line-height: 2em;
        color: $grey;
        @include respond-to(medium) {
          font-size: 24px;
        }
        @include respond-to(small) {
          font-size: 18px;
        }
        @include respond-to(xs) {
          font-size: 18px;
        }
      }
    }
  }
}


.section-features {
  padding: 50px 0;
  background: $dark-grey url("../img/imac-features.png") no-repeat right -100px center;
  background-size: 48% auto;
  @include respond-to(mobile) {
    text-align: center;
    background: $dark-grey none;
  }
  .heading {
    &.h1 {
      color: $white;
      text-align: center;
    }
  }
  .image-content {
    img {
      max-width: 70%;
    }
    @include respond-to(medium) {
      display: none;
    }
    @include respond-to(large) {
      display: none;
    }
  }
  .text-content {
    .feature-block {
      .block-title {
        color: $white;
        font-size: 30px;
        font-weight: 400;
        @include respond-to(xs) {
          font-size: 24px;
        }
      }
      .block-description {
        color: $grey;
        font-size: 20px;
        font-weight: 300;
        @include respond-to(xs) {
          font-size: 18px;
        }
      }
    }
  }
}

.section {
  position: relative;
  overflow: hidden;
  background-color: $white;


}

footer {
  background-color: $dark-grey;
  padding: 70px 0;
  .bottom-block {
    .copyright {
      float: left;
      @include respond-to(mobile) {
        float: none;
        text-align: center;
        ul li {
          display: block;
          margin-bottom: 8px;
        }
      }
      ul {
        li {
          color: $grey;
          margin-right: 8px;
          .footer-logo {
            height: 20px;
          }
          a {
            color: white;
          }
        }
      }
    }
    .sm-icons {
      float: right;
      a {
        display: inline-block;
        font-size: 18px;
        color: $grey;
        margin-left: 8px;
      }
      @include respond-to(mobile) {
        float: none;
        text-align: center;
        a {
          font-size: 24px;
          margin: 24px 16px;
        }
      }
    }
  }
  .links {
    margin-bottom: 50px;
    .col {
      display: inline;
      width: 20%;
      float: left;
      .category-link {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: $grey;
        margin-bottom: 16px;
        &:focus {
          text-decoration: none;
        }
      }
      .subcategory-links {
        list-style: none;
        padding: 0;
        li a {
          font-family: 'Lato', sans-serif;
          color: $light-grey;
          opacity: .7;
          display: block;
          margin-bottom: 8px;
          text-decoration: none;
          transition: opacity .1s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    @include respond-to(mobile) {
      .col {
        display: block;
        float: none;
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255,.1);
        padding-top: 8px;
        padding-bottom: 8px;
        .category-link {
          margin: 8px 0;
          &.expandable:after {
            content: url("/img/arrow-accordion.svg");
            width: 24px;
            height: 24px;
            float: right;
          }
          &.expanded {
            .subcategory-links {
              display: block;
            }
            &:after {
              transform: rotate(180deg);
            }
          }
        }
        .subcategory-links {
          display: none;
          li {
            padding: 8px;
            a{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.navigation-sidebar {
  @include respond-to(mobile) {
    margin-top: 70px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .nav-item {
    padding: 8px 0;
    a {
      font-size: 18px;
      color: $grey;
      &.active {
        color: $ottemo-blue;
      }
      &:hover {
        text-decoration: none;
        color: $ottemo-light-blue;
      }
    }
  }
}

#homepage {

  .clients {
    text-align: center;
    background-color: $light-grey;
    padding-bottom: 70px;
    .clients-row {
      .logo {
        position: relative;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin: 0 -2px;
        width: 33.3333%;
        .additional {
          display: none;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255,255,255,.75);
          transition: ease .15s;
          a {
            margin-top: 50px;
          }
        }
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 5px rgba(0,0,0,.2);
          .additional {
            display: block;
            opacity: 1;
          }
        }
        img {
          width: 70%;
        }
        @include respond-to(small) {
          width: 50%;
        }
        @include respond-to(xs) {
          width: 100%;
          img {
            width: 90%;
          }
          .additional {
            a {
              margin-top: 32px;
            }
          }
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .solutions {
    text-align: center;
    padding: 70px 0;
    .solutions-group {
      margin: 50px 0 0;
      .solution {
        .icon {
          height: 120px;
          img {
            height: 100%;
          }
        }
        .solution-name {
          min-height: 60px;
          @include respond-to(xs) {
            min-height: 0;
          }
        }
      }
    }
  }

  .testimonials {
    text-align: center;
    .testimonials-wrapper {
      margin-bottom: 25px;
      padding: 50px 0;
      position: relative;
      text-align: left;
      font-style: italic;
      .quote {
        height: 400px;
        .author {
          font-size: 24px;
        }
        .mobile {
          display: none;
        }
        .left-side {
          text-align: right;
          margin-top: 50px;
          @include respond-to(medium) {
            margin: 0;
          }
        }
        .right-side {
          text-align: left;
          img {
            height: 400px;

          }
        }
      }
      @include respond-to(medium) {
        .quote {
          .left-side {
            margin: 0;
          }
        }
      }
      @include respond-to(mobile) {
        padding: 0 0 24px;
        margin-bottom: 0;
        .quote {
          height: auto;
          .mobile {
            display: block;
            margin-bottom: 16px;
            text-align: center;
            img {
              margin-top: 24px;
            }
          }
          .left-side {
            margin-top: 0;
            text-align: center;
          }
          .right-side {
            display: none;
          }
        }
      }
      @include respond-to(small) {
        .quote {
          .mobile img {
            height: 300px;
          }
        }
      }
      @include respond-to(xs) {
        .quote {
          .author {
            font-size: 18px;
            font-weight: 700;
          }
          .mobile img {
            width: 75%;
            height: auto ;
          }
        }
      }
    }
  }
}

#homepage,
#ottemo-commerce-cloud-page,
#why-ottemo-page {

  .blog {
    background-color: $light-grey;
    padding: 50px 0;
    h1 {
      margin-bottom: 32px;
    }
    @include respond-to(xs) {
      text-align: center;
    }
    .post-wrapper {
      color: $dark-grey;
      text-decoration: none;
      margin-bottom: 50px;
      .post-picture {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .post-title {
        font-size: 30px;
        font-weight: 400;
      }
      .post-description {
        font-size: 20px;
        font-weight: 300;
      }
      @include respond-to(small) {
        .post-title {
          font-size: 26px;
          line-height: 32px;
        }
      }
      @include respond-to(xs) {
        .post-title {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
  }
}

#platform-overview-page {

  .page-title {
    text-align: center;
  }

  .superior-roi {
    padding: 100px 0;
    margin-bottom: 50px;
    .article-image {
      top: -100px;
    }
    @include respond-to(medium) {
      padding: 50px 0;
      .article-image {
        top: -50px;
      }
    }
    @include respond-to(small) {
      text-align: center;
      padding: 32px 0;
    }
  }

  .flexibility {
    padding: 100px 0;
    margin-bottom: 150px;
    .article-image {
        top: -100px;
    }
  }

  .hosting {
    padding: 100px 0;
    margin-bottom: 100px;
    .article-image {
      top: -130px;
    }
  }
  .customer-experience {
    padding: 100px 0;
    margin-bottom: 50px;
    .article-image {
      top: -70px;
    }
  }
  .business-intelligence {
    padding: 100px 0;
    margin-bottom: 50px;
    .article-image {
      top: -80px;
    }
  }
  .post-order {
    padding: 100px 0;
    .article-image {
      top: -80px;
    }
  }
  .checkout {
    padding: 100px 0;
    margin-bottom: 50px;
    .article-image {
      top: -50px;
    }
  }
  .banner {
    text-align: center;
    background: $light-grey;
    padding: 32px 0;
  }
}

/*****************/
/* Clients page */
/*****************/

#clients-page {
  .clients-top-section {
    padding: 0;
    background-color: $light-grey;
    .section-wrapper {
      padding: 180px 0;
      background: url('/img/clients.jpg') no-repeat right top;
      background-size: cover;
      text-align: center;
      color: $white;
      h1 {
        opacity: .95;
      }
      @include respond-to(medium) {
        padding: 100px 0;
      }
      @include respond-to(small) {
        background-position: center;
        padding: 80px 0;
        .section-header,
        .section-description {
          text-align: left;
        }
      }
      @include respond-to(xs) {
        background-position: left;
        text-align: center;
        padding: 60px 0;
      }
    }
  }
  .case-studies {
    background-color: $light-grey;
    padding: 50px 0 50px;
    @include respond-to(mobile) {
      text-align: center;
      padding-top: 0;
    }
    .title {
      text-align: center;
      margin: 50px 0 40px;
    }
    .story-container {
      box-shadow: 0 0 5px rgba(0,0,0,.2);
      border-radius: 2px;
      margin-bottom: 50px;
      background-color: $white;
      transition: .5s;
      .story-picture {
        position: relative;
        width: 100%;
        overflow: hidden;
        background-color: #000;
        .background {
          width: 100%;
          transition: .5s;
        }
        .client-logo {
          max-width: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }
      }
      .story-block {
        padding: 0 24px 16px;
        .story-header {
          padding: 8px 0 12px;
          margin-bottom: 12px;
          border-bottom: 1px solid #dadada;
          .block-title {
            float: left;
          }
          .button {
            float: right;
            margin-top: 14px;
          }
        }
        p {
          height: 72px;
        }
        @include respond-to(medium) {
          p {
            height: 94px;
          }
        }
        @include respond-to(mobile) {
          .story-header {
            .block-title,
            .button {
              float: none;
            }
            .button {
              margin-top: 0;
            }
          }

          p {
            height: 94px;
          }
        }
        @include respond-to(xs) {
          p {
            height: auto;
          }
        }
      }

      &:hover {
        box-shadow: 0 2px 20px rgba(0,0,0,.2);
        .background {
          transform: scale(1.25);
          opacity: .65;
        }
      }
      @include respond-to(mobile) {
        margin-bottom: 32px;
      }
    }
  }
}

/*****************/
/* Clients page */
/*****************/

#single-client-page {

}

.clients-links {

  .client-logo-box {
    position: relative;
    display: inline-table;
    overflow: hidden;
    vertical-align: top;
    width: 33.333%;
    height: 210px;
    margin: 0 -2px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    img {
      transition: .3s ease;
      opacity: .7;
    }

    &:hover {
      img {
        opacity: 1;
        transform: scale(1.1);
      }
      .client-story {
        display: block;
        opacity: 1;
      }
    }
    .logo-box-wrapper {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      img {
        max-width: 60%;
      }
    }
  }

  @include respond-to(large-than-mobile) {
    .client-logo-box {
      /*&:nth-child(3n+3) {
        border-right: none;
      }
      &:nth-child(n+4) {
        border-bottom: none;
      }*/
    }
  }


  @include respond-to(large) {
    .client-logo-box {
      &:nth-child(3n+3) {
        border-right: none;
      }
      &:nth-child(n+4) {
        border-bottom: none;
      }
    }
  }
  @include respond-to(medium) {
    .client-logo-box {
      &:nth-child(3n+3) {
        border-right: none;
      }
      &:nth-child(n+4) {
        border-bottom: none;
      }
    }
  }
  @include respond-to(small) {
    .client-logo-box {
      width: 50%;
      height: 200px;
      &:nth-child(2n+2) {
        border-right: none;
      }
      &:nth-child(n+5) {
        border-bottom: none;
      }
      .client-story .story-inner p {
        font-size: 16px;
      }
    }
  }
  @include respond-to(xs) {
    .client-logo-box {
      width: 100%;
      height: 200px;
      border-right: none;
      .client-story .story-inner p {
        font-size: 16px;
      }
    }
  }
}

.persons-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
  .item {
    padding-bottom: 24px;
    .person-photo {
      width: 100%;
      img {
        width: 100%;
      }

    }
    .person-name {
      display: block;
      font-family: 'Roboto Slab', serif;
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;
      margin: 16px 0 8px;
    }
    .person-position {
      display: block;
      font-size: 18px;
      font-weight: 300;
      font-style: italic;
      color: #999;
    }
  }

}

/*
  Blog
*/

.post {
  padding: 0 16px;
  margin-bottom: 40px;
  img {
    width: 100%;
  }
  .post-details {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      color: #c0c0c0;
      .post-author {
        padding-left: 4px;
      }
    }
  }
  .post-title a {
    font-size: 20px;
  }
  &.single-post {
    padding-left: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 5px solid $ottemo-blue;
  }
}

.post-group {
  .post-group-title {
    font-weight: 700;
  }
  .post-link {
    padding-left: 16px;
    padding-bottom: 16px;
    .link {
      font-weight: 400;
    }
  }
}

.comment-form {
  input,
  textarea {
    width: 100%;
  }
  textarea {
    height: 250px;
  }
}

.comments-section {
  .comment-item {
    .comment-author-details {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 16px;
        .author-name {
          font-size: 20px;
        }
      }
      .author-photo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .comment-text {
      padding: 24px;
      border: 1px solid #dadada;
    }
  }
}

/*
  Contacts
*/

#contact-page {
  .select-wrapper {
    position: relative;
    background: $white;
    height: 48px;
    border: 1px solid #a9a9a9;
    opacity: 1;
    transition: opacity .1s ease;
    &.disabled {
      opacity: .5
    }
    &:after {
      display: block;
      content: url(/img/select-arrow.png);
      font-stretch: expanded;
      position: absolute;
      top: 1.2rem;
      right: 1rem;
    }
    .select-label {
      margin: 0 8px 0;
      line-height: 48px;
      color: #757575;
      font-size: 16px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    }
    .select-element {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      opacity: 0;
      z-index: 99;
    }
  }

  .contacts-top {
    background-color: $light-grey;
    padding: 70px 0 30px;
    text-align: center;
  }

  .contact-form-section {
    background-color: $light-grey;
    padding-top: 0;
    .contact-form-box {
      width: 75%;
      margin: 40px auto;
      .row {
        margin-bottom: 32px;
      }
      .form-field {
        width: 100%;
        &::-webkit-input-placeholder {
          font-size: 16px;
        }
      }
      @include respond-to(xs) {
        width: 100%;
        .row {
          margin: 0;
          .form-field,
          .select-wrapper {
            margin-bottom: 32px;
          }
        }
      }
    }
  }
  .bottom-banner {
    width: 100%;
    height: 390px;
    background: url("/img/seattle-bg.jpg") $dark-grey no-repeat center;
    background-size: contain;

    @include respond-to(small) {
      height: 300px;
    }
    @include respond-to(xs) {
      height: 220px;
    }
  }
  .company-address {
    text-align: center;
    font-size: 20px;
    span {
      display: block;
    }
  }
  .office-address {
    text-align: center;
    margin-bottom: 70px;
    span {
      display: block;
      font-size: 18px;
      &.country {
        font-size: 32px;
        padding: 32px 0;
      }
    }
  }

  .banner {
    text-align: center;
    background: $light-grey;
    padding: 64px 0;
    .heading.h1 {
      margin-bottom: 24px;
    }
    a {
      text-transform: lowercase;
    }
  }
}

/*
  Company
*/
#company-page {
  .about-me {
    background-color: $light-grey;
    text-align: center;
  }
  .about-team {
    color: $white;
    text-align: center;
    background: $dark-grey;
  }
  .team {
    background: $light-grey;
    margin-bottom: 70px;
    padding-bottom: 70px;
    h1 {
      text-align: center;
      margin-bottom: 32px;
    }

    .team-member,
    .logo-box {
      float: left;
      cursor: pointer;
      overflow: hidden;
      width: 33.333%;
      color: $white;
      position: relative;
      img {
        max-width: calc(100% + 20px);
        width: calc(100% + 20px);
        height: auto;
        vertical-align: middle;
        transition: .5s;
      }
    }
    .logo-box {
      background: $light-grey;
      img {
        transform: translate3d(-9px,0,0);
      }
    }

    .team-member {
      background: $dark-grey;
      .member-info {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 16px;
        width: 100%;
        transform: translate3d(0,10px,0);
        transition: .3s;
        background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.7) 100%);
        .member-name {
          font-size: 24px;
          font-weight: 300;
          line-height: 1;
          margin-bottom: 10px;
          color: #fff;
        }
        .member-title {
          font-size: 16px;
          transition-delay: .3s;
          transform: translate3d(0,100%,0);
          display: none;
        }
      }
      .member-bio {
        opacity: 0;
        height: 100%;
        width: 100%;
        transform: scale(3,3);
        transition: .3s;
        position: absolute;
        top: 0;
        left: 0;
        padding: 16px;
        background: rgba(0,0,0,.5);
        font-weight: 400;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 4px;  /* for vertical scrollbars */
        }

        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.1);
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.5);
        }
      }
      .member-name {
        font-family: 'Roboto Slab', serif;
        font-size: 24px;
      }
      .member-title {
        font-family: 'Lato', sans-serif;
        margin-bottom: 16px;
      }
      &:hover {
        img {
          transform: translate3d(-18px,0,0);
        }
        .member-info {
          transform: translate3d(0,0,0);
          .member-title {
            transition-delay: 0s;
            display: block;
            transform: translate3d(0,0,0);
          }
        }
      }
      &.active {
        img {
          transform: translate3d(-18px,0,0) scale(1.1);
          filter: blur(5px);
        }
        .member-info {
          transform: translate3d(0,100%,0);
        }
        .member-bio {
          opacity: 1;
          transform: scale(1,1);
        }
      }
    }

    @include respond-to(small) {
      .team-member,
      .logo-box {
        width: 50%;
      }
    }

    @include respond-to(xs) {
      .team-member,
      .logo-box {
        width: 100%;
      }
    }
  }
}

.contact-us-banner {
  .section-header {
    text-align: center;
  }
  text-align: center;
  display: table;
  padding: 24px;
  background-color: $light-grey;
  margin-bottom: 50px;
  @include respond-to(xs) {
    margin-bottom: 0;
  }
}


#partners-page {
  .block {
    text-align: center;
  }
  .text-content {
    padding: 0 15%;
  }
  .partners-hero-image {
    height: 700px;
    background: url("/img/partners-hero.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.95);
    .text-content {
      p {
        padding: 0 15%;
      }
    }
  }
  .partners-box-wrapper {
    margin-top: 32px;
    .partners-box {
      display: inline-block;
      width: 250px;
      height: 250px;
      margin: 0 16px;
      .partner-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        img {
          max-width: 90%;
          max-height: 90%;
        }
      }
      span {
        cursor: pointer;
      }
    }
  }

  .banner {
    text-align: center;
    background: $light-grey;
    padding: 64px 0;
    .heading.h1 {
      margin-bottom: 24px;
    }
  }

  .reveal-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1005;
    background-color: rgba(37,40,46,0.45);
    &.active {
      display: block;
    }
    .popup {
      position: relative;
      top: 20%;
      width: 800px;
      margin: 0 auto;
      padding: 32px;
      background-color: $white;
      text-align: left;
      box-shadow: 0 0 35px rgba(0,0,0,.15);
      .partner-col {
        float: left;
        &.partner-logo {
          width: 25%;
          img {
            width: 100%;
          }
        }
        &.partner-copy {
          width: 75%;
          padding-left: 24px;
        }
      }
      .popup-close {
        width: 32px;
        height: 32px;
        cursor: pointer;
        background: url("/img/close-btn.svg") no-repeat center;
        background-size: cover;
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }
  }
  @include respond-to(small) {
    .text-content {
      padding: 0 10%;
    }
    .partners-hero-image {
      height: 450px;
    }
    .reveal-overlay {
      .popup {
        width: 500px;
      }
    }
  }
  @include respond-to(xs) {
    .text-content {
      padding: 0 5%;
    }
    .partners-hero-image {
      height: 300px;
      .text-content {
        p {
          padding: 0;
        }
      }
    }
    .partners-box-wrapper {
      .partners-box {
        width: 180px;
        height: 180px;
      }
    }
    .reveal-overlay {
      .popup {
        width: 90%;
        max-height: 90vh;
        top: 5vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.1);
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.25);
        }
        .partner-col {
          float: none;
          text-align: center;
          &.partner-logo {
            width: 100%;
            margin: 24px 0;
            img {
              width: 50%;
            }
          }
          &.partner-copy {
            width: 100%;
            padding-left: 0;
          }
        }
      }
    }
  }

}


// Why Ottemo Page
#why-ottemo-page {

  .ottemo-power {
    display: table;
    height: 770px;
    width: 100%;
    background-color: $light-grey;
    .background {
      display: table-cell;
      vertical-align: middle;
      background: url("/img/Thepowerofottemo.png") no-repeat bottom right;
      background-size: contain;
    }
    @include respond-to(medium) {
      .background {
        vertical-align: top;
        padding-top: 70px;
        text-align: center;
      }
    }
    @include respond-to(small) {
      height: auto;
      .background {
        vertical-align: top;
        padding: 50px 0;
        text-align: center;
        background: none;
      }
    }
    @include respond-to(xs) {
      height: auto;
      .background {
        vertical-align: top;
        padding: 32px 0;
        text-align: center;
        background: none;
      }
    }
  }

  .built-to-grow {
    padding-top: 100px;
    text-align: center;
    .mobile {
      display: none;
      width: 75%;
      margin: 0 auto 32px;
    }
    a {
      margin: 24px 0;
    }
    img {
      max-width: 100%;
      margin-bottom: 40px;
    }
    @include respond-to(small) {
      padding-top: 50px;
      padding-bottom: 0;
      .mobile {
        display: block;
      }
      .desktop {
        display: none;
      }

    }
    @include respond-to(xs) {
      padding-top: 32px;
      padding-bottom: 0;
      a {
        margin: 0 0 24px;
      }
    }
  }

  .consumer-trends {
    .mobile {
      display: none;
      width: 100%;
      margin-bottom: -32px;
    }
    a {
      margin: 8px 0;
    }
    @include respond-to(small) {
      text-align: center;
      padding-bottom: 0;
      .mobile {
        display: block;
      }
      .image-block {
        display: none;
      }
    }
    @include respond-to(xs) {
      text-align: center;
      padding-bottom: 0;
      .mobile {
        display: block;
        margin-bottom: -24px;
      }
      .image-block {
        display: none;
      }
    }
  }

  .grow-sales {
    padding: 100px 0;
    .image-block {
      position: relative;
      img {
        position: absolute;
        right: 0;
        top: -100px;
      }
    }
    a {
      margin: 8px 0;
    }
    .mobile {
      margin: 0 auto;
      width: 60%;
      display: none;
    }
    @include respond-to(medium) {
      .image-block img {
        right: -200px;
      }
    }
    @include respond-to(small) {
      padding: 50px 0;
      text-align: center;
      .image-block {
        display: none;
      }
      .mobile {
        display: block;
      }
    }
    @include respond-to(xs) {
      padding: 50px 0;
      text-align: center;
      .image-block {
        display: none;
      }
      .mobile {
        width: 100%;
        display: block;
      }
    }
  }

  .committed-to-success {
    padding: 100px 0;
    .image-block {
      position: relative;
      img {
        position: absolute;
        top: -100px;
        //width: 90%;

      }
    }
    @include respond-to(small) {
      text-align: center;
      padding: 32px 0;
      .image-block img {
        position: static;
      }
    }
    @include respond-to(xs) {
      text-align: center;
      padding: 32px 0;
      .image-block img {
        position: static;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .banner {
    text-align: center;
    background: $light-grey;
    padding: 64px 0;
    .heading.h1 {
      margin-bottom: 24px;
    }
  }
}


.advantage-section {
  @include respond-to(large) {
    padding: 100px 0 200px;
    background: url("/img/advantage-img.jpg") no-repeat right bottom;
    background-size: contain;
    img {
      display: none;
    }
  }
  @include respond-to(medium) {
    @include diagonal-bottom-color(-3deg, 160px, -100px, $light-grey);
  }
  img {
    width: 100%;
  }
  @include respond-to(small) {
    @include diagonal-bottom-color(-3deg, 160px, -100px, $light-grey);
    padding-top: 120px;
  }
}

.runner-section {
  @include respond-to(large) {
    @include diagonal-bottom-color(-3deg, 200px, -120px, $white);
  }
  background-color: $light-grey;
  padding: 0;
  .section-wrapper {
    img {
      display: none;
      width: 100%;
    }
    @include respond-to(large) {
      padding: 180px 0 320px;
      background: url("/img/runner.png") no-repeat left center;
      background-size: contain;
    }
    @include respond-to(medium) {
      padding: 180px 0 320px;
      background: url("/img/runner.png") no-repeat left center;
      background-size: contain;
    }
    @include respond-to(small) {
      @include diagonal-bottom-color(-3deg, 160px, -100px, $light-grey);
      padding-top: 50px;
      text-align: center;
      img {
        display: block;
      }
    }
  }
  @include respond-to(medium) {
    @include diagonal-bottom-color(-3deg, 160px, -100px, $white);
  }

}

.best-innovation-section {
  background-color: $light-grey;
  padding: 0;
  .section-wrapper {

    img {
      width: 50%;
    }
    @include respond-to(large) {
      padding: 100px 0 250px;
      background: url("/img/ipad-in-hands.png") no-repeat left bottom;
      background-size: contain;
      img {
        display: none;
      }
    }
    @include respond-to(medium) {
      text-align: center;
      padding-bottom: 0;
      .section-header {
        text-align: center;
      }
      img {
        margin-top: 40px;
      }
    }
  }
}

// Ottemo Commerce Cloud Page
#ottemo-commerce-cloud-page {

  .cloud-platform {
    text-align: center;
    .cloud-image-block {
      margin-bottom: 32px;
      img {
        width: 100%;
      }
    }
    @include respond-to(mobile) {
      .cloud-image-block {
        margin-bottom: 8px;
      }
    }
  }

  .heavy-lifting {
    padding: 200px 0;
    margin-bottom: 50px;
    .article-image {
      top: -200px;
    }
    .mobile {
      margin-bottom: -32px;
    }
  }

  .get-faster {
    padding: 200px 0;
    .article-image {
      top: -200px;
    }
  }
  .make-easy {
    padding: 200px 0;
    .article-image {
      top: -280px;
    }
  }

  .scalability {
    padding: 200px 0;
    margin-bottom: 100px;
    .article-image {
      top: -250px;
    }
  }

}


// Consulting Page
#services-page {

  .subnav {
    display: none;
    width: 100%;
    color: $grey;
    background-color: $dark-grey;
    position: fixed;
    left: 0;
    top: 68px;
    z-index: 100;
    vertical-align: bottom;
    .nav-title {
      position: relative;
      float: left;
      font-size: 16px;
      line-height: 1;
      color: $ottemo-light-blue;
      padding: 24px 8px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: $ottemo-light-blue;
      }
    }
    ul {
      float: right;
      list-style: none;
      padding: 0;
      margin: 0;
      .nav-item {
        display: inline-block;
        position: relative;
        a {
          display: block;
          font-size: 16px;
          line-height: 1;
          color: $grey;
          padding: 24px 8px;
          text-decoration: none;
          transition: .3s ease;
          &:hover {
            color: $ottemo-light-blue;
          }
        }
        &.active {
          a {
            color: $ottemo-light-blue;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: $ottemo-light-blue;
          }
        }
      }
    }
    @include respond-to(large) {
      display: block;
    }
  }

  .ps-image-block {
    text-align: center;
    padding-top: 8px;
    img {
      height: 250px;
      @include respond-to(small) {
        width: 100%;
        height: auto;
      }
      @include respond-to(xs) {
        width: 50%;
        height: auto;
        margin-bottom: 16px;
      }
    }
    &.mobile {
      display: none;
    }
    @include respond-to(xs) {
      &.not-mobile {
        display: none;
      }
      &.mobile {
        display: block;
      }
    }
  }

  .ps-text-block {
    .section-header,
    .section-description {
      text-align: left;
    }
    @include respond-to(xs) {
      text-align: center;
      .section-header,
      .section-description {
        text-align: center;
      }
    }
  }

  .consulting-top-section {
    background-color: $light-grey;
    padding: 0;
    //margin-top: 59px;
    .section-wrapper {
      padding: 150px 0;
      background: url("/img/consulting.png") no-repeat right top;
      background-size: cover;
      @include respond-to(small) {
        padding: 80px 0;
        .section-header,
        .section-description {
          text-align: left;
        }
      }
      @include respond-to(xs) {
        text-align: center;
        padding: 80px 0 50px;
        background-position: center;
      }
    }
    @include respond-to(large) {
      margin-top: 59px;
    }
  }

  .services-row {
    padding: 100px 0;
    &:nth-child(even) {
      background-color: $light-grey;
    }
    @include respond-to(xs) {
      padding: 50px 0;
    }
  }

  .banner {
    margin: 70px 0;
    .banner-inner {
      text-align: center;
      padding: 70px 0;
      background: $light-grey;
    }
  }

}


#single-client-page {
  .client-top-image {
    height: 600px;
    background: radial-gradient(ellipse at center, #4c4c4c 0%,#000000 100%);
    .wrapper {
      display: table;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      background-size: cover;

      &.richkids-bg {
        background: url("../img/clients-rich-kids-bg.jpg") no-repeat center;
      }
      &.karigran-bg {
        background: url("../img/clients-karigran-bg.jpg") no-repeat center;
      }
      &.pocono-bg {
        background: url("../img/clients-pocono-bg.jpg") no-repeat center;
      }
      .inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: $white;
        .client-logo {
          margin-bottom: 32px;
          img {
            max-height: 150px;
          }
        }
        .client-description {
          font-size: 24px;
          font-weight: 300;
        }
      }
    }
    @include respond-to(small) {
      height: 450px;
    }
    @include respond-to(xs) {
      height: 300px;
    }
  }

  .client-stats {
    position: relative;
    background: $light-grey;
    &:before {
      position: absolute;
      content: '';
      display: block;
      height: 100%;
      width: 50%;
      background: $ottemo-blue;
      z-index: 0;
    }
    .status-wrapper {
      display: flex;
      .stats-section {
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 24px 16px;
        &.client-quote {
          width: 50%;
          background-color: $ottemo-blue;
          p {
            color: $white;
            opacity: .85;
          }
          .author {
            color: $white;
            font-weight: 700;
          }
        }
        &.result-values {
          background-color: $light-grey;
          width: 50%;
          .value {
            float: left;
            display: inline;
            width: 33.333%;
            text-align: center;
            .number {
              font-size: 36px;
              span {
                position: relative;
                &:before {
                  position: absolute;
                  width: 32px;
                  height: 32px;
                  content: url('/img/ic_trending_up.svg');
                  top: 4px;
                  left: -36px;
                }
              }
            }
            .text {
              height: 50px;
              font-size: 12px;
              text-transform: uppercase;
              font-weight: 700;
              @include respond-to(medium) {

              }
            }
          }
        }
      }
    }
    @include respond-to(medium) {
      .status-wrapper {
        .stats-section {
          &.result-values {
            .value {
              .text {
                height: 60px;
              }
            }
          }
        }
      }
    }
    @include respond-to(small) {
      .status-wrapper {
        .stats-section {
          &.result-values {
            .value {
              width: 50%;
              padding: 0 16px;
            }
          }
        }
      }
    }
    @include respond-to(xs) {
      &:before {
        display: none;
      }
      .status-wrapper {
        display: block;
        text-align: center;
        .stats-section {
          &.client-quote {
            width: 100%;
            position: relative;
            &:before {
              position: absolute;
              content: '';
              display: block;
              height: 100%;
              width: 200%;
              top: 0;
              left: -20%;
              background: $ottemo-blue;
              z-index: 0;
            }
          }
          &.result-values {
            width: 100%;
            .value {
              width: 50%;
              padding: 0 16px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }

  .customer-profile {
    text-align: center;
    border-bottom: 1px solid #dadada;
    background-color: $white;
    h1 {
      margin-bottom: 32px;
    }
    p {
      text-align: left;
    }
    img {
      width: 100%;
    }
    @include respond-to(small) {
      padding-top: 70px;
    }
    .client-site-image {
      &.pocono-site {
        padding-top: 20px;
      }
    }
    .client-site {
      font-size: 20px;
    }

    @include respond-to(mobile) {
      p {
        text-align: center;
      }
    }

    @include respond-to(small) {
      img {
        width: 75%;
        margin-bottom: -24px;
      }
    }
  }

  .challenges {
    .image-block {
      //padding-top: 50px;
      overflow: hidden;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 560px;
      }
    }
    @include respond-to(mobile) {
      .image-block {
        display: none;
      }
    }
  }

  .solution {
    .image-block {
      text-align: center;
      img {
        width: 100%;
      }
      &.karigran img {
        width: 100%;
      }
    }
    ul li {
      margin-bottom: 8px;
    }
    @include respond-to(small) {
      .image-block img {
        height: 500px;
        width: auto;
      }
    }
  }

  .integrations {
    text-align: center;
    .integration-block {
      position: relative;
      display: inline-block;
      width: 20%;
      margin: 0 -2px;
      padding: 0 8px;
      .integration-logo {
        width: 100%;
        transition: .15s ease;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 3px 15px rgba(0,0,0,.15);
        }
      }
      .integration-name {
        position: absolute;
        left: -9999px;
      }
      @include respond-to(small) {
        width: 25%;
      }
      @include respond-to(xs) {
        width: 50%;
      }
    }
  }

  .results {
    text-align: center;
    border-top: 1px solid #dadada;
    margin-bottom: 50px;
  }

  @include respond-to(mobile) {
    ul.mobile-list {
      list-style: none;
      padding-left: 0;
      li {
        box-shadow: 0 1px 3px rgba(0,0,0,.15);
        padding: 8px;
        margin-bottom: 16px;
      }
    }
  }
}

#ottemo-commerce-cloud-page,
#why-ottemo-page {
  .bottom-banner {
    background: url("/img/BottomOfOttemoClouldCommercepage.jpg") no-repeat center;
    background-size: cover;
    padding: 100px 0;
    .banner-block {
      width: 50%;
      display: inline-block;
      margin: 0 -2px;
      text-align: center;
      a {
        display: block;
        border: 4px solid $ottemo-blue;
        width: 350px;
        margin: 0 auto;
        padding: 50px 24px;
        background-color: rgba(255,255,255,.65);
        transition: .3s ease;
        &:hover {
          background-color: rgba(255,255,255,.85);
          text-decoration: none;
        }
        .logo {
          //width: 80%;
          height: 130px;
          margin: 0 auto 16px;
          position: relative;
          img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
          }
        }
        .words {
          color: $dark-grey;
          text-transform: uppercase;
          .caption {
            font-size: 18px;
          }
          .number {
            font-size: 40px;
            font-weight: 700;
          }
        }
      }
    }
    @include respond-to(xs) {
      padding: 16px;
      .banner-block {
        display: block;
        width: 100%;
        a {
          width: 100%;
          margin: 16px 0;
        }
      }
    }
  }
}

#platform-overview-page,
#ottemo-commerce-cloud-page {
  .block.article {
    .mobile {
      display: none;
      margin-left: auto;
      margin-right: auto;
      @include respond-to(small) {
        display: block;
        width: 75%;
      }
      @include respond-to(xs) {
        display: block;
        width: 100%;
      }
    }
    .image-block {
      position: relative;
      img {
        position: absolute;
        &.left {
          right: 0;
        }
        &.right {
          left: 0;
        }
      }
    }
    @include respond-to(mobile) {
      padding-bottom: 0;
      padding-top: 0;
      margin-bottom: 50px;
      .image-block img {
        display: none;
      }
    }
  }
}

#thankyou-page {
  background-color: $light-grey;
  .thankyou {
    text-align: center;
    img {
      width: 130px;
      height: auto;
      margin-bottom: 24px;
    }
    @include respond-to(xs) {
      padding: 60px 0;
    }
  }
}

#privacy-policy-page,
#terms-of-service-page {
  .privacy-policy {
    background-color: $light-grey;
    .privacy-header {
      margin-bottom: 24px;
      .effective-date {
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        color: #999999;
      }
    }
    strong {
      font-weight: 500;
    }
  }
}

#calculator-page {
  .body-wrapper {
    background: $light-grey;
  }
  .calc-form {
    text-align: center;

    //Range slider styles

    .rangeslider,
    .rangeslider__fill {
      display:block;
      border-radius:10px;
    }

    .rangeslider {
      position:relative;
      margin-bottom: 24px;
      &:after {
        top:50%;
        left:0;
        right:0;
        content:'';
        width:100%;
        height:5px;
        margin-top:-2.5px;
        border-radius:5px;
        position:absolute;
        background:#212131;
      }
    }

    .rangeslider--horizontal{
      width:100%;
      height:28px;
      &.rangeslider__fill {
        top:0;
        height:100%;
      }
    }

    .rangeslider--disabled{
      filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
      opacity:0.4;
    }

    .rangeslider__fill{
      position:absolute;
      background: $ottemo-blue;
    }


    .rangeslider__handle{
      top:50%;
      width:28px;
      height:28px;
      cursor:pointer;
      margin-top:-14px;
      position:absolute;
      background: $ottemo-blue;
      border-radius:50%;
      display:inline-block;
      &:active {
        background: $ottemo-blue;
      }
    }

    .rangeslider__fill,
    .rangeslider__handle{
      z-index:1;
    }
    .rangeslider--horizontal .rangeslider__fill{
      top:50%;
      height:5px;
      margin-top:-2.5px;
    }

    /* Budget */
    .budget-wrap{
      margin-top: 50px;
      padding:40px;
      background: $white;
      box-shadow:0 7px 15px 0 rgba(0,0,0,.1);
      .budget-header {
        .title {
          color: $dark-grey;
          font-size:18px;
          margin-bottom:30px;
          text-align: left;
          .input-value {
            color: $ottemo-blue;
            font-size:24px;
            font-weight:400;
            float: right;
          }
          @include respond-to(xs) {
            text-align: center;
            .input-value {
              display: block;
              margin-top: 16px;
              float: none;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  table {
    width: 100%;
    tr {
      th {
        font-size: 16px;
      }
      td {
        border: 1px solid #dadada;
        background: $white;
        text-align: left;
        &:not(:first-child) {
          text-align: center;
        }
      }
      th,
      td {
        padding: 16px;
        &:not(:first-child) {
          text-align: center;
          font-weight: 700;
        }
      }
    }
  }
  @include respond-to(xs) {
    margin-bottom: 0;
    table tr {
      th {
        font-size: 14px;
      }
      th,
      td {
        padding: 8px;
      }
      td {
        font-size: 12px;
        &:not(:first-child) {

        }
      }
    }
  }

  .calc-results {
    margin-bottom: 50px;
    table {
      tr {
        &.monthly-breakdown>td:first-child {
          padding-left: 50px;
        }
        td {
          &:not(:first-child) {
            width: 20%;
          }
          &:nth-child(2) {
            color: #999999;
          }
          .cost-breakdown {
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            float: right;
            .arrow-down,
            .arrow-up {
              display: inline-block;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }
            .arrow-down {
              border-top: 5px solid #606F7A;
            }
            .arrow-up {
              border-bottom: 5px solid #606F7A;
            }
          }
          i {
            &.question-tooltip {
              font-size: 18px;
              color: #dadada;
              margin-left: 8px;
              transition: .1s ease;
            }
            &:hover {
              color: $grey;
            }
          }
        }
        th,
        td {
          &:not(:first-child) {
            text-align: center;
            font-weight: 700;
          }
          &:nth-child(3) {
            border-left: 2px solid $ottemo-blue;
            border-right: 2px solid $ottemo-blue;
          }
        }
        &:first-child {
          th:last-child {
            background: $ottemo-blue;
            color: $white;
          }
        }
        &:last-child {
          td:last-child {
            border-bottom: 2px solid $ottemo-blue;
          }
        }
      }
    }
    @include respond-to(xs) {
      padding: 0;
      margin: 0;
    }
  }

  .spend-extra-budget {
    .block-header {
      text-align: center;
      padding: 0 180px;
      margin-bottom: 50px;
      @include respond-to(small) {
        padding: 0 60px;
      }
      @include respond-to(xs) {
        padding: 0;
      }
    }
  }

  .totals {
    border: 1px solid #dadada;
    background: $white;
    text-align: center;
    margin-top: 50px;
    .col-sm-6:first-child {
      color: #999999;
      border-right: 1px solid #dadada;
      @include respond-to(xs) {
        border: none;
      }
    }
    .col-sm-6 {
      padding: 32px;
      p:first-child {
        font-size: 16px;
        font-weight: 700;
      }
      .amount {
        font-size: 24px;
      }
    }
  }

  .banner {
    margin: 0 0 70px;
    .banner-inner {
      text-align: center;
      padding: 70px 180px;
      background: $white;
    }
    @include respond-to(small) {
      .banner-inner {
        padding: 70px;
      }
    }
    @include respond-to(xs) {
      margin: 0 0 50px;
      .banner-inner {
        padding: 40px;
      }
    }
  }
}