.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255,255,255,.8);
  z-index: 1000;
  .logo {
    height: 25px;
    width: 15%;
    margin: 22px 0;
    float: left;
    img {
      height: 100%;
    }
  }
  .navigation {
    width: 70%;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    ul {
      padding: 0;
      .nav-item {
        display: inline-block;
        a {
          font-size: 16px;
          font-weight: 700;
          color: $grey;
          text-transform: uppercase;
          margin: 10px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .action-button {
    width: 15%;
    float: right;
    text-align: right;
    margin: 15px 0;
  }
}

.section {
  position: relative;
  overflow: hidden;
  background-color: $white;
  padding: 70px 0;
  .section-header {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
  }
  &.main-section {
    height: 100%;
    background: url("../img/Macbook.png") no-repeat right;
    background-size: 52%;
    .block-container-inner {
      .block-two-side {
        &.image-bg {
          position: absolute;
          img {
            height: 100%;
          }
        }
        .content {
          display: table-cell;
          vertical-align: middle;
          .hero-caption {
            font-size: 60px;
            line-height: 68px;
            font-weight: 400;
            margin: 24px 0;
          }
          .hero-description {
            font-size: 24px;
            font-weight: 300;
          }
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      bottom: -20vh;
      width: 100%;
      height: 50vh;
      background: $light-grey;
      transform: skewY(-10deg);
      z-index: -1;
    }
  }

  &.section-capabilities {
    z-index: -2;
    border-top: 3px solid black;
    .section-wrapper {
      .section-content-wrapper {
        text-align: center;
        vertical-align: middle;
        padding: 0 15%;
        .block-image-side {
          float: left;
          width: 70%;
          img {
            width: 100%;
          }
        }
        .block-text-side {
          width: 30%;
          float: left;
          ul {
            //list-style: none;
            text-align: left;
            font-size: 30px;
            font-weight: 700;
            line-height: 2em;
          }
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: -20vh;
      width: 100%;
      height: 70vh;
      background: $light-grey;
      transform: skewY(-10deg);
      z-index: -1;
    }
  }

  &.section-features {
    background-color: $dark-grey;
    background-image: url("../img/imac-features.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 48% auto;
    .feature-block {
      .block-title {
        color: $white;
        font-size: 30px;
        font-weight: 400;
      }
      .block-description {
        color: $grey;
        font-size: 20px;
        font-weight: 300;
      }
    }
    &:before {
      content: "";
      position: absolute;
      bottom: -20vh;
      width: 100%;
      height: 50vh;
      background: #2c2c32;
      transform: skewY(-10deg);
      z-index: -1;
    }
  }

  &.section-testimonials {
    .carousel-wrapper {
      padding: 0 100px;
      .owl-buttons div {
        display: inline-block;
        width: 50px;
        height: 50px;
        text-indent: -9999px;
        background-size: cover;
        &.owl-prev {
          background-image: url("../img/arrow-left.svg");
          margin-right: 50px;
        }
        &.owl-next {
          background-image: url("../img/arrow-right.svg");
        }
      }
    }
    .item {
      position: relative;
      .text-content {
        width: 50%;
        float: left;
        .testimonial-title {
          font-size: 42px;
          font-weight: 400;
          padding-right: 20%;
        }
        .testimonial-description {
          font-size: 32px;
          font-weight: 300;
        }
        .testimonial-text {
          font-size: 20px;
          &:before {
            content: "";
            display: block;
            width: 32px;
            height: 32px;
            margin-bottom: 8px;
            background-image: url("../img/quotes.svg");
            background-size: cover;
          }
        }
        .author {
          font-size: 24px;
          font-weight: 300;
          color: $grey;
          font-style: italic;
        }
      }
      .image-content {
        position: absolute;
        top: 130px;
        right: 0;
        width: 50%;
        float: right;
        img {
          width: 98%;
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      bottom: -20vh;
      width: 100%;
      height: 50vh;
      background: $light-grey;
      transform: skewY(-10deg);
      z-index: 0;
    }
  }

  &.section-blog {
    padding-top: 0;
    .featured-block {
      text-align: center;
      background-color: $light-grey;
      padding: 32px 0;
      margin-bottom: 70px;
      .block-title {
        font-weight: 400;
        font-size: 30px;
        margin: 0;
      }
      img {
        height: 100px;
      }
    }
    .post-wrapper {
      padding: 0 32px;
      .post-picture {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .post-title {
        font-size: 30px;
        font-weight: 400;
      }
      .post-description {
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
}

footer {
  background-color: $dark-grey;
  padding: 48px 0;
  .bottom-block {
    .copyright {
      float: left;
      ul {
        li {
          color: $grey;
          margin-right: 8px;
          .footer-logo {
            height: 20px;
          }
          a {
            color: white;
          }
        }
      }
    }
    .sm-icons {
      float: right;
      a {
        color: white;
      }
    }
  }
  .links {
    margin-bottom: 24px;
    .col {
      width: 14.28%;
      float: left;
      .category-link {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: $grey;
      }
      ul {
        list-style: none;
        padding: 0;
        li a {
          color: $white;
          font-weight: 300;
        }
      }
    }
  }
}
